<div id="scrollBody" data-offset="50" data-spy="scroll" data-target="#scrollNavbar">

    <app-suite-scrollnav></app-suite-scrollnav>

    <app-guest-top
        [source]="'production'"
        [suiteName]="'Production'"
        [primaryCaption]="'netRink Production'"
        [secondaryCaption]="'Fully manage your production facility\'s operations, from beginning to end'"
        [features]="[
            {
                'title': 'Production materials',
                'description': 'Take stock of materials needed for your production',
                'imgLink': '../../../assets/images/features/materials.png'
            },
            {
                'title': 'Operations management',
                'description': 'Manage all production related administrative operations',
                'imgLink': '../../../assets/images/features/operations.png'
            },
            {
                'title': 'Product lifecycle',
                'description': 'Manage products as they go through the production proccess',
                'imgLink': '../../../assets/images/features/product.png'
            },
            {
                'title': 'Production planning',
                'description': 'Plan your production proccesses and tasks',
                'imgLink': '../../../assets/images/features/planning.png'
            }
        ]"
    ></app-guest-top>

    <app-about></app-about>
    <app-pricing></app-pricing>
    <app-contact></app-contact>

</div>
