<jqxWindow #newDeliveryReference 
    [width]="540" 
    [height]="255" 
    [autoOpen]="false">
    
    <div>New Delivery</div>

    <div>

        <!-- delivery window form -->
        <app-delivery-form></app-delivery-form>

        <div>
            <div class="edit-dialog-field-alt edit-dialog-buttons-alt">
                <jqxButton #cancelButtonReference
                >Cancel</jqxButton>

                <jqxButton #saveButtonReference
                >Save</jqxButton>
            </div>
        </div>

    </div>

</jqxWindow>
  
