<div class="row page-form-div">

    <div class="col-md-12">
        <h4>Order Details</h4>
    </div>

    <div class="col-md-6">

        <div class="row">
            <div class="col-md-4"><label>Order ID :</label></div>
            <div class="col-md-8">
                <jqxInput #orderCodeReference
                    [width]="'100%'"
                    [height]="28"
                ></jqxInput>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4"><label>Order Type :</label></div>
            <div class="col-md-8">
                <jqxComboBox #orderTypeReference
                    [width]="'100%'"
                    [height]="28"
                ></jqxComboBox>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4"><label>Order Date :</label></div>
            <div class="col-md-8">
                <jqxDateTimeInput #orderDateReference
                    [width]="'100%'"
                    [height]="28"
                ></jqxDateTimeInput>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4"><label>Description :</label></div>
            <div class="col-md-8 textarea-div">
                <jqxTextArea #descriptionReference
                    [width]="'100%'"
                    [height]="45"
                ></jqxTextArea>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4"><label>Project :</label></div>
            <div class="col-md-8">
                <jqxInput #projectCodeReference
                    [width]="'100%'"
                    [height]="28"
                ></jqxInput>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4"><label>Recepient :</label></div>
            <div class="col-md-8">
                <jqxDropDownList #recepientReference
                    [width]="'100%'"
                    [height]="28"
                ></jqxDropDownList>
            </div>
        </div>

    </div>

    <div class="col-md-6">

        <div class="row">
            <div class="col-md-4"><label>Vendor :</label></div>
            <div class="col-md-8">
                <jqxInput #vendorReference
                    [width]="'100%'"
                    [height]="28"
                ></jqxInput>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4"><label>Vendor Phone No. :</label></div>
            <div class="col-md-8">
                <jqxInput #vendorPhoneReference
                    [width]="'100%'"
                    [height]="28"
                ></jqxInput>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4"><label>Vendor Email :</label></div>
            <div class="col-md-8">
                <jqxInput #vendorEmailReference
                    [width]="'100%'"
                    [height]="28"
                ></jqxInput>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4"><label>Vendor Address :</label></div>
            <div class="col-md-8 textarea-div">
                <jqxTextArea #vendorAddressReference
                    [width]="'100%'"
                    [height]="45"
                ></jqxTextArea>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4"><label>Order Status :</label></div>
            <div class="col-md-8">
                <jqxDropDownList #statusReference
                    [width]="'100%'"
                    [height]="28"
                ></jqxDropDownList>
            </div>
        </div>

    </div>

</div>

<hr />
