.home-div .row{
	margin: 0;
}

.home-div .home-icons{
	height: 90px;
	width: 90px;
	border: solid;
	border-width: 5px;
	border-radius: 5px;
}

.home-div .col-md-2,
.home-div .col-sm-6{
	width: 50%;
}

.home-div figure{
	padding: 2px;
	margin: 8px auto;
	color: #737373;
}

.home-div a:hover figure{
	color: #303030;
	font-weight: 600;
	text-decoration: none;
}

.home-div a:hover{
	text-decoration: none;
}

.home-create-button-div button{
	margin-top: 40px;
}

.module-heading h3{
	display: inline-block;
	font-size: 25px;
	margin: 8px 2px;
}

.module-heading a{
	color: #7f7f7f;
}

.module-heading a:hover{
	text-decoration: none;
	color: #2e2e2e;
}

.module-heading .fa-angle-double-right{
	margin: 2px 10px;
}

.navbar.homebar{
  display: block;
}

.header-line{
	margin-top: 0;
	margin-bottom: 5px;
}

.top-button-row{
	margin-bottom: 9px;
}

/* forms directly embeded in the page */

.page-form-div label{
  float: right;
}

.page-form-div button{
	margin-left: 4px;
}

/* standard popup dialog boxes */

.edit-dialog-label{
	clear: both;
	float: left;
	margin-left: 2%;
	padding: 4px;
	text-align: right;
	width: 18%;
	line-height: 25px;
}

.edit-dialog-field{
	clear: right;
	float: right;
	margin-right: 2%;
	padding: 4px;
	width: 380px;
}

.edit-dialog-buttons{
	width: 100%;
}

.edit-dialog-buttons button{
	margin-left: 5px;
	float: right;
}

/* alternative popup dialog boxes
for when labels are longer than usual */

.edit-dialog-label-alt{
    clear: both;
    float: left;
    margin-left: 2%;
    padding: 4px;
    text-align: right;
    width: 30%;
    line-height: 25px;
}

.edit-dialog-field-alt{
    clear: right;
    float: right;
    margin-right: 2%;
    padding: 4px;
    width: 340px;
}

.edit-dialog-buttons-alt{
	width: 100%;
}

.edit-dialog-buttons-alt button{
	margin-left: 5px;
	float: right;
}

/* shared modules */

.profile-content-div{
  overflow: hidden;
}
