<nav class="bg-darker navbar navbar-dark navbar-expand-sm sticky-top" id="scrollNavbar">
  <div class="container">

      <button class="navbar-toggler" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" data-target="#scrollNavResponsive" data-toggle="collapse">
          <span class="fa fa-ellipsis-h"></span>
      </button>

      <div class="collapse navbar-collapse" id="scrollNavResponsive">
          <ul class="navbar-nav">
              <li class="nav-item"><a href="#" class="nav-link" (click)="onAboutClicked($event)">About</a></li>
              <li class="nav-item"><a href="#" class="nav-link" (click)="onPricingClicked($event)">Pricing</a></li>
              <li class="nav-item"><a href="#" class="nav-link" (click)="onContactClicked($event)">Contact</a></li>
          </ul>
      </div>

  </div>
</nav>
