<div>
    <div class="edit-dialog-label-alt">Date Sent</div>
    <div class="edit-dialog-field-alt">
        <jqxDateTimeInput #dateSentReference
            [width]="'100%'"
            [height]="25"
            [formatString]="'yyyy-MM-dd'"
        ></jqxDateTimeInput>
    </div>
</div>

<div>
    <div class="edit-dialog-label-alt">Recepient</div>
    <div class="edit-dialog-field-alt">
        <jqxInput #recepientReference
            [width]="'100%'"
            [height]="25"
        ></jqxInput>
    </div>
</div>

<div>
    <div class="edit-dialog-label-alt">Subject</div>
    <div class="edit-dialog-field-alt">
        <jqxInput #subjectReference
            [width]="'100%'"
            [height]="25"
        ></jqxInput>
    </div>
</div>

<div>
    <div class="edit-dialog-label-alt">Reference No.</div>
    <div class="edit-dialog-field-alt">
        <jqxInput #referenceNumberReference
            [width]="'100%'"
            [height]="25"
        ></jqxInput>
    </div>
</div>

<div>
    <div class="edit-dialog-label-alt">Letter Date</div>
    <div class="edit-dialog-field-alt">
        <jqxDateTimeInput #letterDateReference
            [width]="'100%'"
            [height]="25"
            [formatString]="'yyyy-MM-dd'"
        ></jqxDateTimeInput>
    </div>
</div>

<div>
    <div class="edit-dialog-label-alt">Attachments</div>
    <div class="edit-dialog-field-alt">
        <jqxFileUpload #attachmentReference
            [width]="'100%'"
            [height]="75"
        ></jqxFileUpload>
    </div>
</div>
