<div>
    <div class="edit-dialog-label">File No.</div>
    <div class="edit-dialog-field">
        <jqxInput #fileNumberReference
            [width]="'100%'"
            [height]="25"
        ></jqxInput>
    </div>
</div>

<div>
    <div class="edit-dialog-label">File Name</div>
    <div class="edit-dialog-field">
        <jqxInput #fileNameReference
            [width]="'100%'"
            [height]="25"
        ></jqxInput>
    </div>
</div>

<div>
    <div class="edit-dialog-label">File Type</div>
    <div class="edit-dialog-field">
        <jqxDropDownList #fileTypeReference
            [width]="'100%'"
            [height]="25"
        ></jqxDropDownList>
    </div>
</div>

<div>
    <div class="edit-dialog-label">Attachments</div>
    <div class="edit-dialog-field">
        <jqxFileUpload #attachmentReference
            [width]="'100%'"
            [height]="75"
        ></jqxFileUpload>
    </div>
</div>
