<div class="row">
    <div class="col-md-8">

        <div class="row">
            <div class="col-md-12">
                <h4>Services Details</h4>
            </div>
        </div>

        <div class="row top-button-row">
            <div class="col-md-12">
                <jqxButton #buttonReference
                    [width]="150"
                    [height]="30"
                >Add Item</jqxButton>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <jqxGrid #grid
                    [width]="'100%'"
                    [autoheight]="true"
                    [showemptyrow]="false"
                    [showstatusbar]="true"
                    [showaggregates]="true"
                    [columns]="columns"
                ></jqxGrid>
            </div>
        </div>

    </div>
</div>
