<div class="row top-button-row">
    <div class="col-md-12">
        <jqxButton #sheetButtonReference class="float-right ml-1"
            [width]="150"
            [height]="30"
        >Check Attendance</jqxButton>

        <jqxButton #refreshButtonReference class="float-right ml-1" (click)="refreshSheet()"
            [width]="150"
            [height]="30"
        >Refresh Sheet</jqxButton>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <jqxGrid #sheetGridReference
            [width]="'100%'"
            [autoheight]="true"
            [rowsheight]="24"
            [sortable]="true"
            [columns]="columns"
        ></jqxGrid>
    </div>
</div>

<!-- http loader spinner and connection notification components -->

<app-loading-spinner #loadingSpinnerComponentReference></app-loading-spinner>

<app-connection-notification #connectionNotificationComponentReference></app-connection-notification>
