<app-topnav [headings]="navHeading"></app-topnav>

<div class="container">

    <div class="row">
        <div class="col-md-12">
            <jqxTabs style="border: none;"
                [width]="'100%'"
                [height]="500"
            >

                <ul>
                    <li>Received Letters</li>
                    <li>Sent Letters</li>
                </ul>

                <!-- received letters -->

                <div class="grid-div">

                    <br />
                    <jqxButton #addReceivedReference (click)="addReceivedWindowReference.openWindow()"
                        [width]="150"
                        [height]="30"
                    >Add Received Letter</jqxButton>

                    <jqxButton #printReference class="float-right"
                        [width]="100"
                        [height]="28"
                    ><i class="fa fa-fw fa-print"></i> Print</jqxButton>
                    <br />

                    <br />
                    <jqxGrid #receivedGridReference (onRowdoubleclick)="editReceivedWindowReference.openWindow($event)"
                        [width]="'99%'"
                        [height]="400"
                        [source]="receivedDataAdapter"
                        [sortable]="true"
                        [filterable]="true"
                        [showfilterrow]="true"
                        [columns]="receivedColumns"
                    ></jqxGrid>

                </div>

                <!-- sent letters -->

                <div class="grid-div">

                    <br />
                    <jqxButton #addSentReference (click)="addSentWindowReference.openWindow()"
                        [width]="150"
                        [height]="30"
                    >Add Sent Letter</jqxButton>

                    <jqxButton #printReference class="float-right"
                        [width]="100"
                        [height]="28"
                    ><i class="fa fa-fw fa-print"></i> Print</jqxButton>
                    <br />

                    <br />
                    <jqxGrid #sentGridReference (onRowdoubleclick)="editSentWindowReference.openWindow($event)"
                        [width]="'99%'"
                        [height]="400"
                        [source]="sentDataAdapter"
                        [sortable]="true"
                        [filterable]="true"
                        [showfilterrow]="true"
                        [columns]="sentColumns"
                    ></jqxGrid>

                </div>

            </jqxTabs>
        </div>
    </div>

</div>

<!-- add received window dialog -->
<app-add-received #addReceivedWindowReference
    (addCommit)="onReceivedAddCommit($event)"
></app-add-received>

<!-- edit received window dialog -->
<app-edit-received #editReceivedWindowReference
    (editCommit)="onReceivedEditCommit($event)"
    (deleteCommit)="onReceivedDeleteCommit($event)"
></app-edit-received>

<!-- add sent window dialog -->
<app-add-sent #addSentWindowReference
    (addCommit)="onSentAddCommit($event)"
></app-add-sent>

<!-- edit sent window dialog -->
<app-edit-sent #editSentWindowReference
    (editCommit)="onSentEditCommit($event)"
    (deleteCommit)="onSentDeleteCommit($event)"
></app-edit-sent>


<!-- http loader spinner and connection notification components -->

<app-loading-spinner #loadingSpinnerComponentReference></app-loading-spinner>

<app-connection-notification #connectionNotificationComponentReference></app-connection-notification>
