<div class="row page-form-div">

    <div class="col-md-12">
        <h4 class="form-heading">Drug Details</h4>
    </div>

    <div class="col-md-6">

        <div class="row">
            <div class="col-md-4"><label>NDC No. :</label></div>
            <div class="col-md-8">
                <jqxInput #ndcNumberReference
                    [width]="'100%'"
                    [height]="28"
                ></jqxInput>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4"><label>Drug Name :</label></div>
            <div class="col-md-8">
                <jqxInput #drugNameReference
                    [width]="'100%'"
                    [height]="28"
                ></jqxInput>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4"><label>Generic Name :</label></div>
            <div class="col-md-8">
                <jqxInput #genericNameReference
                    [width]="'100%'"
                    [height]="28"
                ></jqxInput>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4"><label>Unit Dose :</label></div>
            <div class="col-md-8">
                <jqxInput #unitDoseReference
                    [width]="'100%'"
                    [height]="28"
                ></jqxInput>
            </div>
        </div>

    </div>

    <div class="col-md-6">

        <div class="row">
            <div class="col-md-4"><label>Manufacturer :</label></div>
            <div class="col-md-8">
                <jqxInput #manufacturerReference
                    [width]="'100%'"
                    [height]="28"
                ></jqxInput>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4"><label>Unit Price :</label></div>
            <div class="col-md-8">
                <jqxNumberInput #unitPriceReference
                    [width]="'100%'"
                    [height]="28"
                    [inputMode]="'simple'"
                ></jqxNumberInput>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4"><label>Category :</label></div>
            <div class="col-md-8">
                <jqxComboBox #categoryReference
                    [width]="'100%'"
                    [height]="28"
                ></jqxComboBox>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4"><label>Drug Type :</label></div>
            <div class="col-md-8">
                <jqxComboBox #drugTypeReference
                    [width]="'100%'"
                    [height]="28"
                    [source]="drugTypeSource"
                ></jqxComboBox>
            </div>
        </div>

    </div>

</div>

<hr />

<!-- ------------------------------------------------------------------------------------------------ -->

<div class="row page-form-div">

    <div class="col-md-12">
        <h4 class="form-heading">Batch Details</h4>
    </div>

    <div class="col-md-6">

        <div class="row">
            <div class="col-md-4"><label>Batch No. :</label></div>
            <div class="col-md-8">
                <jqxInput #batchNumberReference
                    [width]="'100%'"
                    [height]="28"
                ></jqxInput>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4"><label>Purchased Date :</label></div>
            <div class="col-md-8">
                <jqxDateTimeInput #purchasedDateReference
                    [width]="'100%'"
                    [height]="28"
                    [formatString]="'yyyy-MM-dd'"
                ></jqxDateTimeInput>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4"><label>Initial Quantity :</label></div>
            <div class="col-md-4">
                <jqxNumberInput #initialQuantityReference
                    [width]="'100%'"
                    [height]="28"
                    [inputMode]="'simple'"
                    [decimalDigits]="0"
                    [spinButtons]="true"
                ></jqxNumberInput>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4"><label>Dispensed Quantity :</label></div>
            <div class="col-md-4">
                <jqxNumberInput #dispensedQuantityReference
                    [width]="'100%'"
                    [height]="28"
                    [inputMode]="'simple'"
                    [decimalDigits]="0"
                    [spinButtons]="true"
                ></jqxNumberInput>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4"><label>Remaining Quantity :</label></div>
            <div class="col-md-4">
                <jqxNumberInput #remainingQuantityReference
                    [width]="'100%'"
                    [height]="28"
                    [inputMode]="'simple'"
                    [decimalDigits]="0"
                    [spinButtons]="true"
                ></jqxNumberInput>
            </div>
        </div>

    </div>

    <div class="col-md-6">

        <div class="row">
            <div class="col-md-4"><label>Manufacturing Date :</label></div>
            <div class="col-md-8">
                <jqxDateTimeInput #manufacturingDateReference
                    [width]="'100%'"
                    [height]="28"
                    [formatString]="'yyyy-MM-dd'"
                ></jqxDateTimeInput>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4"><label>Expiry Date :</label></div>
            <div class="col-md-8">
                <jqxDateTimeInput #expiryDateReference
                    [width]="'100%'"
                    [height]="28"
                    [formatString]="'yyyy-MM-dd'"
                ></jqxDateTimeInput>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4"><label>Storage Location :</label></div>
            <div class="col-md-8">
                <jqxInput #storageLocationReference
                    [width]="'100%'"
                    [height]="28"
                ></jqxInput>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4"><label>Storage Bin :</label></div>
            <div class="col-md-8">
                <jqxInput #storageBinReference
                    [width]="'100%'"
                    [height]="28"
                ></jqxInput>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4"><label>Refill Ordered :</label></div>
            <div class="col-md-4">
                <jqxNumberInput #refillOrderedReference
                    [width]="'100%'"
                    [height]="28"
                    [inputMode]="'simple'"
                    [decimalDigits]="0"
                    [spinButtons]="true"
                ></jqxNumberInput>
            </div>
        </div>

    </div>

</div>

<hr />
