<div class="container">
            
    <div class="module-heading row">
        <div class="col-md-12">
                
            <a href="#"><h3>Home</h3></a>
            <span class="fa fa-angle-double-right"></span>
            <h3>Reservations</h3>
            
            <hr class="header-line" />
            <hr class="header-line" />
        
        </div>
    </div>

    <!-- --------------------------------------------------------------------------------------------------- -->

    <div class="row top-button-row">
        <div class="col-md-12">
            <jqxButton #newReservationReference (click)="newReservationWindowReference.openWindow()"
                [width]="150"
                [height]="30"
            >New Reservation</jqxButton>
        </div>
    </div>

    <div class="row">
        <div class="col-md-9">
            <jqxGrid #gridReference
                [width]="'100%'"
                [height]="450"
                [sortable]="true"
                [filterable]="true"
                [showfilterrow]="true"
                [columns]="columns"
            ></jqxGrid>
        </div>
    </div>

</div>

<!-- new reservation dialog window -->
<app-new-reservation #newReservationWindowReference></app-new-reservation>

<!-- edit reservation dialog window -->
<app-edit-reservation #editReservationWindowReference></app-edit-reservation>
