<div class="row page-form-div">

    <div class="col-md-12">
        <h4 class="form-heading">Material Details</h4>
    </div>

    <div class="col-md-6">

        <div class="row">
            <div class="col-md-4"><label>Material ID :</label></div>
            <div class="col-md-8">
                <jqxInput #materialCodeReference
                    [width]="'100%'"
                    [height]="28"
                ></jqxInput>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4"><label>Material Name :</label></div>
            <div class="col-md-8">
                <jqxInput #materialNameReference
                    [width]="'100%'"
                    [height]="28"
                ></jqxInput>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4"><label>Category :</label></div>
            <div class="col-md-8">
                <jqxComboBox #categoryReference
                    [width]="'100%'"
                    [height]="28"
                ></jqxComboBox>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4"><label>Description :</label></div>
            <div class="col-md-8 textarea-div">
                <jqxTextArea #descriptionReference
                    [width]="'100%'"
                    [height]="45"
                ></jqxTextArea>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4"><label>Manufacturing ID :</label></div>
            <div class="col-md-8">
                <jqxInput #manufacturingCodeReference
                    [width]="'88%'"
                    [height]="28"
                ></jqxInput>
                <jqxButton #manufacturingButtonReference
                    [width]="'10%'"
                    [height]="28"
                >...</jqxButton>
            </div>
        </div>

    </div>

</div>
