<nav class="navbar navbar-expand navbar-light bg-white topbar homebar mb-4 static-top shadow">
    <div class="module-heading text-center">
        <a routerLink="./">
            <h3><i class="fa fa-home sidebar-card-illustration mb-2"></i> Home</h3>
        </a>
    </div>
</nav>

<div class="container">

    <div class="home-div">

        <div class="row">

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #portalTooltipReference
                    [position]="'mouse'"
                    [content]="'Connect with customers through netRink portal'">

                    <a routerLink="/suite/portal/dashboard">
                        <figure>
                            <img src="../../../assets/images/modules/portal.png" class="home-icons" />
                            <figcaption>Portal</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #receivablesTooltipReference
                    [position]="'mouse'"
                    [content]="'Manage accounts receivables'">

                    <a routerLink="/suite/receivables/dashboard">
                        <figure>
                            <img src="../../../assets/images/modules/receivables.png" class="home-icons" />
                            <figcaption>Receivables</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #productsTooltipReference
                    [position]="'mouse'"
                    [content]="'Manage all products'">

                    <a routerLink="/suite/products/dashboard">
                        <figure>
                            <img src="../../../assets/images/modules/products.png" class="home-icons" />
                            <figcaption>Products</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #invoiceTooltipReference
                    [position]="'mouse'"
                    [content]="'Generate invoice for sales'">

                    <a routerLink="/suite/invoice/dashboard">
                        <figure>
                            <img src="../../../assets/images/modules/invoice.png" class="home-icons" />
                            <figcaption>Invoice</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #markettingTooltipReference
                    [position]="'mouse'"
                    [content]="'Plan and manage marketting activities'">

                    <a routerLink="/suite/marketting/dashboard">
                        <figure>
                            <img src="../../../assets/images/modules/marketting.png" class="home-icons" />
                            <figcaption>Marketting</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #payablesTooltipReference
                    [position]="'mouse'"
                    [content]="'Manage accounts payables'">

                    <a routerLink="/suite/payables/dashboard">
                        <figure>
                            <img src="../../../assets/images/modules/payables.png" class="home-icons" />
                            <figcaption>Payables</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

        </div>

        <!-- -----------------------------------------------------------------------------
        row -->

        <div class="row">

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #adminTooltipReference
                    [position]="'mouse'"
                    [content]="'Manage users and access levels'">

                    <a routerLink="/suite/admin/dashboard">
                        <figure>
                            <img src="../../../assets/images/modules/admin.png" class="home-icons" />
                            <figcaption>Admin</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #customersTooltipReference
                    [position]="'mouse'"
                    [content]="'Keep track of customers'">

                    <a routerLink="/suite/customers/dashboard">
                        <figure>
                            <img src="../../../assets/images/modules/customers.png" class="home-icons" />
                            <figcaption>Customers</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #salesTooltipReference
                    [position]="'mouse'"
                    [content]="'Manage all sales operations'">

                    <a routerLink="/suite/sales/dashboard">
                        <figure>
                            <img src="../../../assets/images/modules/sales.png" class="home-icons" />
                            <figcaption>Sales</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #paymentsTooltipReference
                    [position]="'mouse'"
                    [content]="'Receive payments from customers'">

                    <a routerLink="/suite/payments/dashboard">
                        <figure>
                            <img src="../../../assets/images/modules/payments.png" class="home-icons" />
                            <figcaption>Payments</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #cashflowTooltipReference
                    [position]="'mouse'"
                    [content]="'Manage financial transactions'">

                    <a routerLink="/suite/cashflow/dashboard">
                        <figure>
                            <img src="../../../assets/images/modules/cash_flow.png" class="home-icons" />
                            <figcaption>Cash Flow</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>
            
            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #inventoryTooltipReference
                    [position]="'mouse'"
                    [content]="'Keep track of all products'">

                    <a routerLink="/suite/inventory/dashboard">
                        <figure>
                            <img src="../../../assets/images/modules/inventory.png" class="home-icons" />
                            <figcaption>Inventory</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

        </div>

        <!-- -------------------------------------------------------------------------------
        row -->

        <div class="row">

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #settingsTooltipReference
                    [position]="'mouse'"
                    [content]="'Set configuarations for your modules'">

                    <a routerLink="/suite/settings/dashboard">
                        <figure>
                            <img src="../../../assets/images/modules/settings.png" class="home-icons" />
                            <figcaption>Settings</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

			      <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #suppliersTooltipReference
                    [position]="'mouse'"
                    [content]="'Manage products suppliers'">

                    <a routerLink="/suite/suppliers/dashboard">
                        <figure>
                            <img src="../../../assets/images/modules/suppliers.png" class="home-icons" />
                            <figcaption>Suppliers</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #staffTooltipReference
                    [position]="'mouse'"
                    [content]="'Manage all staff'">

                    <a routerLink="/suite/staff/dashboard">
                        <figure>
                            <img src="../../../assets/images/modules/staff.png" class="home-icons" />
                            <figcaption>Staff</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #ordersTooltipReference
                    [position]="'mouse'"
                    [content]="'Receive and respond to orders'">

                    <a routerLink="/suite/orders/dashboard">
                        <figure>
                            <img src="../../../assets/images/modules/orders.png" class="home-icons" />
                            <figcaption>Orders</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>


            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #rosterTooltipReference
                    [position]="'mouse'"
                    [content]="'Plan and manage staff shift schedules'">

                    <a routerLink="/suite/roster/dashboard">
                        <figure>
                            <img src="../../../assets/images/modules/roster.png" class="home-icons" />
                            <figcaption>Roster</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

			      <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #purchasingTooltipReference
                    [position]="'mouse'"
                    [content]="'Manage  the purchasing of goods and services'">

                    <a routerLink="/suite/purchasing/dashboard">
                        <figure>
                            <img src="../../../assets/images/modules/purchasing.png" class="home-icons" />
                            <figcaption>Purchasing</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

        </div>

    </div>

    <!-- --------------------------------------------------------------------------------------------- -->

    <!-- <div *ngIf="this.isActive == false; then createAccountBlock"></div>

    <ng-template #createAccountBlock>
        <div class="row text-center home-create-button-div">
            <div class="col-md-12">
                <button class="btn btn-lg btn-danger create-btn" (click)="createAccount()">create Shop account</button>
            </div>
        </div>
    </ng-template> -->

</div>
