<div class="container">

    <div class="module-heading row">
        <div class="col-md-12">

            <h3>Home</h3>

            <hr class="header-line" />
            <hr class="header-line" />

        </div>
    </div>

    <!-- --------------------------------------------------------------------------------------------------- -->

    <div class="home-div">

        <div class="row">

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #adminTooltipReference
                    [position]="'mouse'"
                    [content]="'Manage users and access levels'">

                    <a href="#">
                        <figure>
                            <img src="#" class="home-icons" />
                            <figcaption>Admin</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #receivablesTooltipReference
                    [position]="'mouse'"
                    [content]="'Manage accounts receivables'">

                    <a href="#">
                        <figure>
                            <img src="#" class="home-icons" />
                            <figcaption>Receivables</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #productsTooltipReference
                    [position]="'mouse'"
                    [content]="'Manage all products'">

                    <a href="#">
                        <figure>
                            <img src="#" class="home-icons" />
                            <figcaption>Products</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #invoiceTooltipReference
                    [position]="'mouse'"
                    [content]="'Generate invoice for sales'">

                    <a href="#">
                        <figure>
                            <img src="#" class="home-icons" />
                            <figcaption>Invoice</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #markettingTooltipReference
                    [position]="'mouse'"
                    [content]="'Plan and manage marketting activities'">

                    <a href="#">
                        <figure>
                            <img src="#" class="home-icons" />
                            <figcaption>Marketting</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #payablesTooltipReference
                    [position]="'mouse'"
                    [content]="'Manage accounts payables'">

                    <a href="#">
                        <figure>
                            <img src="#" class="home-icons" />
                            <figcaption>Payables</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

        </div>

        <!-- -----------------------------------------------------------------------------
        row -->

        <div class="row">

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #salesTooltipReference
                    [position]="'mouse'"
                    [content]="'Manage all sales operations'">

                    <a href="#">
                        <figure>
                            <img src="#" class="home-icons" />
                            <figcaption>Sales</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #customersTooltipReference
                    [position]="'mouse'"
                    [content]="'Keep track of customers'">

                    <a href="#">
                        <figure>
                            <img src="#" class="home-icons" />
                            <figcaption>Customers</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #paymentsTooltipReference
                    [position]="'mouse'"
                    [content]="'Receive payments from customers'">

                    <a href="#">
                        <figure>
                            <img src="#" class="home-icons" />
                            <figcaption>Payments</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #ordersTooltipReference
                    [position]="'mouse'"
                    [content]="'Receive and respond to orders'">

                    <a href="#">
                        <figure>
                            <img src="#" class="home-icons" />
                            <figcaption>Orders</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #cashflowTooltipReference
                    [position]="'mouse'"
                    [content]="'Keep track of all products'">

                    <a href="#">
                        <figure>
                            <img src="#" class="home-icons" />
                            <figcaption>Inventory</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #purchasingTooltipReference
                    [position]="'mouse'"
                    [content]="'Manage  the purchasing of goods and services'">

                    <a href="#">
                        <figure>
                            <img src="#" class="home-icons" />
                            <figcaption>Purchasing</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

        </div>

        <!-- -------------------------------------------------------------------------------
        row -->

        <div class="row">

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #staffTooltipReference
                    [position]="'mouse'"
                    [content]="'Manage all staff'">

                    <a href="#">
                        <figure>
                            <img src="#" class="home-icons" />
                            <figcaption>Staff</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #cashflowTooltipReference
                    [position]="'mouse'"
                    [content]="'Manage financial transactions'">

                    <a href="#">
                        <figure>
                            <img src="#" class="home-icons" />
                            <figcaption>Cash Flow</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #portalTooltipReference
                    [position]="'mouse'"
                    [content]="'Connect with customers through netRink portal'">

                    <a href="#">
                        <figure>
                            <img src="#" class="home-icons" />
                            <figcaption>Portal</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

        </div>

    </div>

    <!-- --------------------------------------------------------------------------------------------- -->

    <div *ngIf="this.isActive == false; then createAccountBlock"></div>

    <ng-template #createAccountBlock>
        <div class="row text-center home-create-button-div">
            <div class="col-md-12">
                <button class="btn btn-lg btn-danger create-btn" (click)="createAccount()">create netRink account</button>
            </div>
        </div>
    </ng-template>

</div>
