<jqxWindow #generatePayrollReference
    [width]="540"
    [height]="250"
    [autoOpen]="false">

    <div>Add New Payroll</div>

    <div>

        <div>
            <div class="edit-dialog-label-alt">Payroll Name</div>
            <div class="edit-dialog-field-alt">
                <jqxInput #payrollNameReference
                    [width]="'100%'"
                    [height]="25"
                ></jqxInput>
            </div>
        </div>

        <div>
            <div class="edit-dialog-label-alt">Date Generated</div>
            <div class="edit-dialog-field-alt">
                <jqxDateTimeInput #dateGeneratedReference
                    [width]="'100%'"
                    [height]="25"
                    [showTimeButton]="true"
                    [formatString]="'yyyy-MM-dd hh:mm:ss'"
                ></jqxDateTimeInput>
            </div>
        </div>

        <div>
            <div class="edit-dialog-label-alt">Month</div>
            <div class="edit-dialog-field-alt">
                <jqxDropDownList #monthReference
                    [width]="'100%'"
                    [height]="25"
                    [source]="monthsSource"
                ></jqxDropDownList>
            </div>
        </div>

        <div>
            <div class="edit-dialog-label-alt">Year</div>
            <div class="edit-dialog-field-alt">
                <jqxDropDownList #yearReference
                    [width]="'100%'"
                    [height]="25"
                    [source]="yearsSource"
                ></jqxDropDownList>
            </div>
        </div>

        <div>
            <div class="edit-dialog-label-alt">Payroll Status</div>
            <div class="edit-dialog-field-alt">
                <jqxDropDownList #statusReference
                    [width]="'100%'"
                    [height]="25"
                    [source]="statusSource"
                    [autoDropDownHeight]="true"
                ></jqxDropDownList>
            </div>
        </div>

        <div>
            <div class="edit-dialog-field-alt edit-dialog-buttons">
                <jqxButton #cancelButtonReference (click)="closeWindow()"
                >Cancel</jqxButton>

                <jqxButton #saveButtonReference (click)="savePayroll()"
                >Save</jqxButton>
            </div>
        </div>

    </div>

</jqxWindow>

<!-- http loader spinner and connection notification components -->

<app-loading-spinner #loadingSpinnerComponentReference></app-loading-spinner>

<app-connection-notification #connectionNotificationComponentReference></app-connection-notification>
