<div>
    <div class="edit-dialog-label">Task Name</div>
    <div class="edit-dialog-field">
        <jqxInput #taskNameReference
            [width]="'100%'"
            [height]="25"
        ></jqxInput>
    </div>
</div>

<div>
    <div class="edit-dialog-label">Description</div>
    <div class="edit-dialog-field">
        <jqxTextArea #descriptionReference
            [width]="'100%'"
            [height]="40"
        ></jqxTextArea>
    </div>
</div>

<div>
    <div class="edit-dialog-label">Priority</div>
    <div class="edit-dialog-field">
        <jqxDropDownList #priorityReference
            [width]="'100%'"
            [height]="25"
            [autoDropDownHeight]="true"
            [source]="prioritySource"
        ></jqxDropDownList>
    </div>
</div>
