<jqxWindow #editStepReference
    [width]="540"
    [height]="150"
    [autoOpen]="false"
    [okButton]="okButton"
    [cancelButton]="cancelButton">

    <div>Edit Step</div>

    <div>

        <div>
            <div class="edit-dialog-label">Step</div>
            <div class="edit-dialog-field">
                <jqxTextArea #stepTextAreaReference
                    [width]="'100%'"
                    [height]="55"
                ></jqxTextArea>
            </div>
        </div>

        <div>
            <div class="edit-dialog-field edit-dialog-buttons">
                <jqxButton #cancelButtonReference (click)="closeWindow()"
                >Cancel</jqxButton>

                <jqxButton #deleteButtonReference (click)="deleteStep()"
                >Delete</jqxButton>

                <jqxButton #okButtonReference (click)="saveStep()"
                >Save</jqxButton>
            </div>
        </div>

    </div>

</jqxWindow>
