<app-topnav [headings]="navHeading"></app-topnav>

<div class="container">

    <!-- equipment page form -->

    <app-equipment-form #equipmentFormComponentReference></app-equipment-form>

    <div class="row page-form-div">
        <div class="col-md-12">

            <jqxButton #printReference
                [width]="100"
                [height]="28"
            ><i class="fa fa-fw fa-print"></i> Print</jqxButton>

            <jqxButton #cancelButtonReference class="float-right" routerLink="/suite/equipment/all-equipment"
                [width]="100"
                [height]="28"
            >Cancel</jqxButton>

            <jqxButton #saveButtonReference class="float-right" (click)="deleteEquipment()"
                [width]="100"
                [height]="28"
            >Delete</jqxButton>

            <jqxButton #saveButtonReference class="float-right" (click)="saveEquipment()"
                [width]="100"
                [height]="28"
            >Save</jqxButton>

        </div>
    </div>

</div>

<!-- http loader spinner and connection notification components -->

<app-loading-spinner #loadingSpinnerComponentReference></app-loading-spinner>

<app-connection-notification #connectionNotificationComponentReference></app-connection-notification>
