<nav class="navbar navbar-expand navbar-light bg-white topbar homebar mb-4 static-top shadow">
    <div class="module-heading text-center">
        <a routerLink="./">
            <h3><i class="fa fa-home sidebar-card-illustration mb-2"></i> Home</h3>
        </a>
    </div>
</nav>

<div class="container">

    <div class="home-div">

        <div class="row">

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #portalTooltipReference
                    [position]="'mouse'"
                    [content]="'Connect with production stakeholders through netRink portal'">

                    <a routerLink="/suite/portal/dashboard">
                        <figure>
                            <img src="../../../assets/images/modules/portal.png" class="home-icons" />
                            <figcaption>Portal</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #stockTooltipReference
                    [position]="'mouse'"
                    [content]="'Take stock of all production materials'">

                    <a routerLink="/suite/stock/dashboard">
                        <figure>
                            <img src="../../../assets/images/modules/stock.png" class="home-icons" />
                            <figcaption>Stock</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #equipmentTooltipReference
                    [position]="'mouse'"
                    [content]="'Manage all production equipment'">

                    <a routerLink="/suite/equipment/dashboard">
                        <figure>
                            <img src="../../../assets/images/modules/equipment.png" class="home-icons" />
                            <figcaption>Equipment</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #purchasingTooltipReference
                    [position]="'mouse'"
                    [content]="'Manage the purchasing of materials'">

                    <a routerLink="/suite/purchasing/dashboard">
                        <figure>
                            <img src="../../../assets/images/modules/purchasing.png" class="home-icons" />
                            <figcaption>Purchasing</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #manufacturingTooltipReference
                    [position]="'mouse'"
                    [content]="'Manage manufacturing batches'">

                    <a routerLink="/suite/manufacturing/dashboard">
                        <figure>
                            <img src="../../../assets/images/modules/manufacturing.png" class="home-icons" />
                            <figcaption>Manufacturing</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #productsTooltipReference
                    [position]="'mouse'"
                    [content]="'Manage all products'">

                    <a routerLink="/suite/products/dashboard">
                        <figure>
                            <img src="../../../assets/images/modules/products.png" class="home-icons" />
                            <figcaption>Products</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

        </div>

        <!-- ------------------------------------------------------------------------------
        row -->

        <div class="row">

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #adminTooltipReference
                    [position]="'mouse'"
                    [content]="'Manage users and access levels'">

                    <a routerLink="/suite/admin/dashboard">
                        <figure>
                            <img src="../../../assets/images/modules/admin.png" class="home-icons" />
                            <figcaption>Admin</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #projectsTooltipReference
                    [position]="'mouse'"
                    [content]="'Plan and manage projects'">

                    <a routerLink="/suite/projects/dashboard">
                        <figure>
                            <img src="../../../assets/images/modules/projects.png" class="home-icons" />
                            <figcaption>Projects</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #workersTooltipReference
                    [position]="'mouse'"
                    [content]="'Manage all technical workers'">

                    <a routerLink="/suite/workers/dashboard">
                        <figure>
                            <img src="../../../assets/images/modules/workers.png" class="home-icons" />
                            <figcaption>Workers</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #contractorsTooltipReference
                    [position]="'mouse'"
                    [content]="'Manage all sub-contractors'">

                    <a routerLink="/suite/contractors/dashboard">
                        <figure>
                            <img src="../../../assets/images/modules/contractors.png" class="home-icons" />
                            <figcaption>Contractors</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #tasksTooltipReference
                    [position]="'mouse'"
                    [content]="'Manage the progress of tasks'">

                    <a routerLink="/suite/tasks/dashboard">
                        <figure>
                            <img src="../../../assets/images/modules/tasks.png" class="home-icons" />
                            <figcaption>Tasks</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #ordersTooltipReference
                    [position]="'mouse'"
                    [content]="'Receive and respond to orders'">

                    <a routerLink="/suite/orders/dashboard">
                        <figure>
                            <img src="../../../assets/images/modules/orders.png" class="home-icons" />
                            <figcaption>Orders</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

        </div>

		<!-- -----------------------------------------------------------------------------
        new row -->

        <div class="row">

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #settingsTooltipReference
                    [position]="'mouse'"
                    [content]="'Set configuarations for your modules'">

                    <a routerLink="/suite/settings/dashboard">
                        <figure>
                            <img src="../../../assets/images/modules/settings.png" class="home-icons" />
                            <figcaption>Settings</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #rosterTooltipReference
                    [position]="'mouse'"
                    [content]="'Plan and manage workers\' shift and schedules'">

                    <a routerLink="/suite/roster/dashboard">
                        <figure>
                            <img src="../../../assets/images/modules/roster.png" class="home-icons" />
                            <figcaption>Roster</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #materialsTooltipReference
                    [position]="'mouse'"
                    [content]="'Manage bill of materials for production'">

                    <a routerLink="/suite/materials/dashboard">
                        <figure>
                            <img src="../../../assets/images/modules/materials.png" class="home-icons" />
                            <figcaption>Materials</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #staffTooltipReference
                    [position]="'mouse'"
                    [content]="'Manage non technical staff'">

                    <a routerLink="/suite/staff/dashboard">
                        <figure>
                            <img src="../../../assets/images/modules/staff.png" class="home-icons" />
                            <figcaption>Staff</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

		</div>

    </div>

    <!-- --------------------------------------------------------------------------------------------- -->

    <!-- <div *ngIf="this.isActive == false; then createAccountBlock"></div>

    <ng-template #createAccountBlock>
        <div class="row text-center home-create-button-div">
            <div class="col-md-12">
                <button class="btn btn-lg btn-danger create-btn" (click)="createAccount()">create Production account</button>
            </div>
        </div>
    </ng-template> -->

</div>
