<div class="container">

    <div class="module-heading row">
        <div class="col-md-12">

            <h3>Home</h3>

            <hr class="header-line" />
            <hr class="header-line" />

        </div>
    </div>

    <!-- --------------------------------------------------------------------------------------------------- -->

    <div class="home-div">

        <div class="row">

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #adminTooltipReference
                    [position]="'mouse'"
                    [content]="'Manage users and access levels'">

                    <a href="#">
                        <figure>
                            <img src="#" class="home-icons" />
                            <figcaption>Admin</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #stockTooltipReference
                    [position]="'mouse'"
                    [content]="'Take stock of all productio materials'">

                    <a href="#">
                        <figure>
                            <img src="#" class="home-icons" />
                            <figcaption>Stock</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #equipmentTooltipReference
                    [position]="'mouse'"
                    [content]="'Manage all production equipment'">

                    <a href="#">
                        <figure>
                            <img src="#" class="home-icons" />
                            <figcaption>Equipment</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #purchasingTooltipReference
                    [position]="'mouse'"
                    [content]="'Manage the purchasing of materials'">

                    <a href="#">
                        <figure>
                            <img src="#" class="home-icons" />
                            <figcaption>Purchasing</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #manufacturingTooltipReference
                    [position]="'mouse'"
                    [content]="'Manage manufacturing batches'">

                    <a href="#">
                        <figure>
                            <img src="#" class="home-icons" />
                            <figcaption>Manufacturing</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #productsTooltipReference
                    [position]="'mouse'"
                    [content]="'Manage all products'">

                    <a href="#">
                        <figure>
                            <img src="#" class="home-icons" />
                            <figcaption>Products</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

        </div>

        <!-- ------------------------------------------------------------------------------
        row -->

        <div class="row">

          <div class="col-md-2 col-sm-6 text-center">
              <jqxTooltip #projectsTooltipReference
                  [position]="'mouse'"
                  [content]="'Plan and manage projects'">

                  <a href="#">
                      <figure>
                          <img src="#" class="home-icons" />
                          <figcaption>Projects</figcaption>
                      </figure>
                  </a>

              </jqxTooltip>
          </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #workersTooltipReference
                    [position]="'mouse'"
                    [content]="'Manage all workers'">

                    <a href="#">
                        <figure>
                            <img src="#" class="home-icons" />
                            <figcaption>Workers</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #contractorsTooltipReference
                    [position]="'mouse'"
                    [content]="'Manage all sub-contractors'">

                    <a href="#">
                        <figure>
                            <img src="#" class="home-icons" />
                            <figcaption>Contractors</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #tasksTooltipReference
                    [position]="'mouse'"
                    [content]="'Manage the progress of tasks'">

                    <a href="#">
                        <figure>
                            <img src="#" class="home-icons" />
                            <figcaption>Tasks</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #ordersTooltipReference
                    [position]="'mouse'"
                    [content]="'Receive and respond to orders'">

                    <a href="#">
                        <figure>
                            <img src="#" class="home-icons" />
                            <figcaption>Orders</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #portalTooltipReference
                    [position]="'mouse'"
                    [content]="'Connect with production stakeholders through netRink portal'">

                    <a href="#">
                        <figure>
                            <img src="#" class="home-icons" />
                            <figcaption>Portal</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

        </div>

    </div>

    <!-- --------------------------------------------------------------------------------------------- -->

    <div *ngIf="this.isActive == false; then createAccountBlock"></div>

    <ng-template #createAccountBlock>
        <div class="row text-center home-create-button-div">
            <div class="col-md-12">
                <button class="btn btn-lg btn-danger create-btn" (click)="createAccount()">create netRink account</button>
            </div>
        </div>
    </ng-template>

</div>
