<div class="row">
    <div class="col-md-12">

        <hr class="top-divider" />
        <hr class="bottom-divider" />

        <div class="row top-button-row">
            <div class="col-md-12">
                <jqxButton #addButtonReference (click)="addItemComponentReference.openWindow()"
                    [width]="150"
                    [height]="30"
                >Add Item</jqxButton>
            </div>
        </div>

        <jqxGrid #gridReference
            [width]="'100%'"
            [autoheight]="true"
            [rowsheight]="24"
            [showemptyrow]="false"
            [showstatusbar]="true"
            [showaggregates]="true"
            [columns]="columns"
            [source]="dataAdapter"
        ></jqxGrid>

    </div>
</div>

<!-- add item popup window component -->

<app-add-item #addItemComponentReference
    (addCommit)="onAddCommit($event)"
></app-add-item>

<!-- edit item popup window component -->

<!-- <app-edit-item #editItemComponentReference
    (editCommit)="onEditCommit($event)"
    (deleteCommit)="onDeleteCommit($event)"
></app-edit-item> -->

<!-- http loader spinner and connection notification components -->

<app-loading-spinner #loadingSpinnerComponentReference></app-loading-spinner>

<app-connection-notification #connectionNotificationComponentReference></app-connection-notification>
