<div class="row">
    <div class="col-md-12">

        <hr />

        <div class="row top-button-row">
            <div class="col-md-12">
                <jqxButton #addButtonReference (click)="addItemComponentReference.openWindow()"
                    [width]="150"
                    [height]="30"
                >Add Item</jqxButton>
            </div>
        </div>

        <jqxGrid #gridReference
            [width]="'100%'"
            [autoheight]="true"
            [rowsheight]="24"
            [showemptyrow]="false"
            [showstatusbar]="true"
            [showaggregates]="true"
            [columns]="columns"
        ></jqxGrid>

    </div>
</div>

<!-- add transanction popup window component -->

<app-add-item #addItemComponentReference></app-add-item>

<!-- edit transanction popup window component -->

<app-edit-item #editItemComponentReference></app-edit-item>
