<div class="row">
    <div class="offset-md-4 col-md-8">
        <h4>General</h4>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-12">
        <h5>Storage</h5>
    </div>
    <div class="col-md-6">
        <small><b>15%</b> used space</small>
    </div>
    <div class="col-md-6">
        <small><b>85%</b> free space</small>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-12">
        <h5>Delete Account</h5>

        <small class="text-danger">
            <p>Deleting your account will remove all your data from netRink</p>
        </small>

        <div class="row page-form-div">
            <div class="col-md-12">
                <jqxButton #deleteButtonReference
                    [width]="160"
                    [height]="35"
                >Delete Account</jqxButton>
            </div>
        </div>
   </div>
</div>
