<div class="row page-form-div">

    <div class="col-md-12 mb-3">
        <h4>Admission Details</h4>
    </div>

    <div class="col-md-6">

        <div class="row">
            <div class="col-md-4"><label>Admission ID :</label></div>
            <div class="col-md-8">
                <jqxInput #admissionCodeReference
                    [width]="'100%'"
                    [height]="28"
                ></jqxInput>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4"><label>Patient Name :</label></div>
            <div class="col-md-8">
                <jqxInput #patientNameReference
                    [width]="'88%'"
                    [height]="25"
                    [disabled]="true"
                ></jqxInput>
                <jqxButton #selectPatientButton (click)="selectPatient.openWindow()"
                    [width]="'10%'"
                    [height]="25"
                >...</jqxButton>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4"><label>Patient ID :</label></div>
                <div class="col-md-8">
                    <jqxInput #patientCodeReference
                    [width]="'88%'"
                    [height]="25"
                    [disabled]="true"
                ></jqxInput>
                <jqxButton #selectPatientButton (click)="selectPatient.openWindow()"
                    [width]="'10%'"
                    [height]="25"
                >...</jqxButton>
            </div>
        </div>

    </div>

    <div class="col-md-6">

        <div class="row">
            <div class="col-md-4"><label>Admission Date :</label></div>
            <div class="col-md-8">
                <jqxDateTimeInput #admissionDateReference
                    [width]="'100%'"
                    [height]="28"
                    [showTimeButton]="true"
                    [formatString]="'yyyy-MM-dd hh:mm:ss'"
                ></jqxDateTimeInput>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4"><label>Discharge Date :</label></div>
            <div class="col-md-8">
                <jqxDateTimeInput #dischargeDateReference
                    [width]="'100%'"
                    [height]="28"
                    [showTimeButton]="true"
                    [formatString]="'yyyy-MM-dd hh:mm:ss'"
                ></jqxDateTimeInput>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4"><label>Ward :</label></div>
            <div class="col-md-8">
                <jqxInput #wardReference
                    [width]="'100%'"
                    [height]="28"
                ></jqxInput>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4"><label>Admission Status :</label></div>
            <div class="col-md-8">
                <jqxDropDownList #admissionStatusReference
                    [width]="'100%'"
                    [height]="28"
                    [autoDropDownHeight]="true"
                    [source]="statusSource"
                ></jqxDropDownList>
            </div>
        </div>

    </div>

</div>

<hr />

<!-- select patient and doctor components -->

<app-select-patient #selectPatientComponentReference
    (patientEvent)="patientSelected($event)"
></app-select-patient>
