<app-topnav [headings]="navHeading"></app-topnav>

<div class="container">

    <div class="row top-button-row">
        <div class="col-md-12">
            <jqxButton #addPayableReference (click)="addPayableWindowReference.openWindow()"
                [width]="150"
                [height]="30"
            >Add Payable</jqxButton>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <jqxGrid #gridReference (onRowdoubleclick)="editPayableWindowReference.openWindow($event)"
                [width]="'100%'"
                [autoheight]="true"
                [source]="dataAdapter"
                [rowsheight]="24"
                [showemptyrow]="false"
                [filterable]="true"
                [showfilterrow]="true"
                [showstatusbar]="true"
                [showaggregates]="true"
                [columns]="columns"
            ></jqxGrid>

        </div>
    </div>

</div>

<!-- add payable dialog window -->
<app-add-payable #addPayableWindowReference
    (addCommit)="onAddCommit($event)"
></app-add-payable>

<!-- edit payable dialog window -->
<app-edit-payable #editPayableWindowReference
    (editCommit)="onEditCommit($event)"
    (deleteCommit)="onDeleteCommit($event)"
></app-edit-payable>

<!-- http loader spinner and connection notification components -->

<app-loading-spinner #loadingSpinnerComponentReference></app-loading-spinner>

<app-connection-notification #connectionNotificationComponentReference></app-connection-notification>
