<jqxWindow #addOrderReference
    [width]="540"
    [height]="250"
    [autoOpen]="false">

    <div>Add New Order</div>

    <div>

        <div>
            <div class="edit-dialog-label-alt">Order ID</div>
            <div class="edit-dialog-field-alt">
                <jqxInput #orderCodeReference
                    [width]="'100%'"
                    [height]="25"
                ></jqxInput>
            </div>
        </div>

        <div>
            <div class="edit-dialog-label-alt">Order Date</div>
            <div class="edit-dialog-field-alt">
                <jqxDateTimeInput #orderDateReference
                    [width]="'100%'"
                    [height]="25"
                    [showTimeButton]="true"
                    [formatString]="'yyyy-MM-dd hh:mm:ss'"
                ></jqxDateTimeInput>
            </div>
        </div>

        <div>
            <div class="edit-dialog-label-alt">Customer Name</div>
            <div class="edit-dialog-field-alt">
                <jqxComboBox #customerNameReference
                    [width]="'100%'"
                    [height]="25"
                ></jqxComboBox>
            </div>
        </div>

        <div>
            <div class="edit-dialog-label-alt">Order Type</div>
            <div class="edit-dialog-field-alt">
                <jqxDropDownList #orderTypeReference
                    [width]="'100%'"
                    [height]="25"
                ></jqxDropDownList>
            </div>
        </div>

        <div>
            <div class="edit-dialog-label-alt">Order Status</div>
            <div class="edit-dialog-field-alt">
                <jqxDropDownList #orderStatusReference
                    [width]="'100%'"
                    [height]="25"
                ></jqxDropDownList>
            </div>
        </div>

        <div>
            <div class="edit-dialog-field-alt edit-dialog-buttons-alt">
                <jqxButton #cancelButtonReference
                >Cancel</jqxButton>

                <jqxButton #saveButtonReference (click)="saveOrder()"
                >Save</jqxButton>
            </div>
        </div>

    </div>

</jqxWindow>

<!-- http loader spinner and connection notification components -->

<app-loading-spinner #loadingSpinnerComponentReference></app-loading-spinner>

<app-connection-notification #connectionNotificationComponentReference></app-connection-notification>
