<div class="row">
    <div class="col-md-12">

        <hr class="top-divider" />
        <hr class="bottom-divider" />

        <div class="row top-button-row">
            <div class="col-md-12">
                <jqxButton #buttonReference class="float-right"
                    [width]="150"
                    [height]="30"
                >Referesh Table</jqxButton>
            </div>
        </div>

        <jqxGrid #gridReference
            [width]="'100%'"
            [height]="400"
            [rowsheight]="24"
            [showemptyrow]="false"
            [columns]="columns"
        ></jqxGrid>

    </div>
</div>
