<div>
    <div class="edit-dialog-label-alt">Menu Item ID</div>
    <div class="edit-dialog-field-alt">
        <jqxDropDownList #menuItemCodeReference
            [width]="'100%'"
            [height]="28"
            [source]="menuItemsSource"
        ></jqxDropDownList>
    </div>
</div>

<div>
    <div class="edit-dialog-label-alt">Menu Item Name</div>
    <div class="edit-dialog-field-alt">
        <jqxDropDownList #menuItemNameReference
            [width]="'100%'"
            [height]="28"
            [source]="menuItemsSource"
        ></jqxDropDownList>
    </div>
</div>

<div>
    <div class="edit-dialog-label-alt">Unit Price</div>
    <div class="edit-dialog-field-alt">
        <jqxNumberInput #unitPriceReference
            [width]="'100%'"
            [height]="28"
            [inputMode]="'simple'"
            [symbol]="'$'"
        ></jqxNumberInput>
    </div>
</div>

<div>
    <div class="edit-dialog-label-alt">Quantity</div>
    <div class="edit-dialog-field-alt">
        <jqxNumberInput #quantityReference
            [width]="'100%'"
            [height]="28"
            [inputMode]="'simple'"
            [spinButtons]="true"
            [decimalDigits]="0"
        ></jqxNumberInput>
    </div>
</div>

<div>
    <div class="edit-dialog-label-alt">Price</div>
    <div class="edit-dialog-field-alt">
        <jqxNumberInput #priceReference
            [width]="'100%'"
            [height]="28"
            [inputMode]="'simple'"
            [symbol]="'$'"
        ></jqxNumberInput>
    </div>
</div>
