<div class="container">

    <div class="module-heading row">
        <div class="col-md-12">

            <h3>Home</h3>

            <hr class="header-line" />
            <hr class="header-line" />

        </div>
    </div>

    <!-- --------------------------------------------------------------------------------------------------- -->

    <div class="home-div">

        <div class="row">

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #adminTooltipReference
                    [position]="'mouse'"
                    [content]="'Manage users and access levels'">

                    <a href="#">
                        <figure>
                            <img src="#" class="home-icons" />
                            <figcaption>Admin</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #patientsTooltipReference
                    [position]="'mouse'"
                    [content]="'Manage all patient related operations'">

                    <a href="#">
                        <figure>
                            <img src="#" class="home-icons" />
                            <figcaption>Patients</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #appointmentsTooltipReference
                    [position]="'mouse'"
                    [content]="'Schedule appointments between doctors and patients'">

                    <a href="#">
                        <figure>
                            <img src="#" class="home-icons" />
                            <figcaption>Appointments</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #staffTooltipReference
                    [position]="'mouse'"
                    [content]="'Manage all non medical staff'">

                    <a href="#">
                        <figure>
                            <img src="#" class="home-icons" />
                            <figcaption>Staff</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #billsTooltipReference
                    [position]="'mouse'"
                    [content]="'generate medical bills for patients'">

                    <a href="#">
                        <figure>
                            <img src="#" class="home-icons" />
                            <figcaption>Bills</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #doctorsTooltipReference
                    [position]="'mouse'"
                    [content]="'Manage medical doctors of your facility'">

                    <a href="#">
                        <figure>
                            <img src="#" class="home-icons" />
                            <figcaption>Doctors</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

        </div>

        <!-- -----------------------------------------------------------------------------------------
        new row -->

        <div class="row">

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #laboratoryTooltipReference
                    [position]="'mouse'"
                    [content]="'Manage patients\' laboratory sessions'">

                    <a href="#">
                        <figure>
                            <img src="#" class="home-icons" />
                            <figcaption>Laboratory</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #paymentsTooltipReference
                    [position]="'mouse'"
                    [content]="'Recieve payment of bills from patients'">

                    <a href="#">
                        <figure>
                            <img src="#" class="home-icons" />
                            <figcaption>Payments</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #nursesTooltipReference
                    [position]="'mouse'"
                    [content]="'Manage nurses of your facility'">

                    <a href="#">
                        <figure>
                            <img src="#" class="home-icons" />
                            <figcaption>Nurses</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #prescriptionsTooltipReference
                    [position]="'mouse'"
                    [content]="'Prescribe medications for patients'">

                    <a href="#">
                        <figure>
                            <img src="#" class="home-icons" />
                            <figcaption>Prescriptions</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #adminTooltipReference
                    [position]="'mouse'"
                    [content]="'Manage all forms patients diagnosis'">

                    <a href="#">
                        <figure>
                            <img src="#" class="home-icons" />
                            <figcaption>Diagnosis</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #wardsTooltipReference
                    [position]="'mouse'"
                    [content]="'Manage operations of patients\' wards'">

                    <a href="#">
                        <figure>
                            <img src="#" class="home-icons" />
                            <figcaption>Wards</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

        </div>

        <!-- -----------------------------------------------------------------------------
        new row -->

        <div class="row">

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #drugsTooltipReference
                    [position]="'mouse'"
                    [content]="'Manage all pharmaceutical drugs'">

                    <a href="#">
                        <figure>
                            <img src="#" class="home-icons" />
                            <figcaption>Drugs</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>


            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #admissionsTooltipReference
                    [position]="'mouse'"
                    [content]="'Manage patients\' admission sessions'">

                    <a href="#">
                        <figure>
                            <img src="#" class="home-icons" />
                            <figcaption>Admissions</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #portalTooltipReference
                    [position]="'mouse'"
                    [content]="'Interact with patients through netRink portal'">

                    <a href="#">
                        <figure>
                            <img src="#" class="home-icons" />
                            <figcaption>Portal</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

        </div>

    </div>

    <!-- --------------------------------------------------------------------------------------------- -->

    <div *ngIf="this.isActive == false; then createAccountBlock"></div>

    <ng-template #createAccountBlock>
        <div class="row text-center home-create-button-div">
            <div class="col-md-12">
                <button class="btn btn-lg btn-danger create-btn" (click)="createAccount()">create netRink account</button>
            </div>
        </div>
    </ng-template>

</div>
