<nav class="navbar navbar-expand navbar-light bg-white topbar homebar mb-4 static-top shadow">
    <div class="module-heading text-center">
        <a routerLink="./">
            <h3><i class="fa fa-home sidebar-card-illustration mb-2"></i> Home</h3>
        </a>
    </div>
</nav>

<div class="container">

    <!-- --------------------------------------------------------------------------------------------------- -->

    <div class="home-div">

        <div class="row">

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #portalTooltipReference
                    [position]="'mouse'"
                    [content]="'Interact with patients through netRink portal'">

                    <a href="#" routerLink="/suite/portal/dashboard">
                        <figure>
                            <img src="../../../assets/images/modules/portal.png" class="home-icons" />
                            <figcaption>Portal</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #patientsTooltipReference
                    [position]="'mouse'"
                    [content]="'Manage all patient related operations'">

                    <a href="#" routerLink="/suite/patients/dashboard">
                        <figure>
                            <img src="../../../assets/images/modules/patients.png" class="home-icons" />
                            <figcaption>Patients</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #appointmentsTooltipReference
                    [position]="'mouse'"
                    [content]="'Schedule appointments between doctors and patients'">

                    <a href="#" routerLink="/suite/appointments/dashboard">
                        <figure>
                            <img src="../../../assets/images/modules/appointments.png" class="home-icons" />
                            <figcaption>Appointments</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #diagnosisTooltipReference
                    [position]="'mouse'"
                    [content]="'Manage all forms patients diagnosis'">

                    <a href="#" routerLink="/suite/diagnosis/dashboard">
                        <figure>
                            <img src="../../../assets/images/modules/diagnosis.png" class="home-icons" />
                            <figcaption>Diagnosis</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #billsTooltipReference
                    [position]="'mouse'"
                    [content]="'generate medical bills for patients'">

                    <a href="#" routerLink="/suite/bills/dashboard">
                        <figure>
                            <img src="../../../assets/images/modules/bills.png" class="home-icons" />
                            <figcaption>Bills</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #doctorsTooltipReference
                    [position]="'mouse'"
                    [content]="'Manage medical doctors of your facility'">

                    <a href="#" routerLink="/suite/doctors/dashboard">
                        <figure>
                            <img src="../../../assets/images/modules/doctors.png" class="home-icons" />
                            <figcaption>Doctors</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

        </div>

        <!-- -----------------------------------------------------------------------------------------
        new row -->

        <div class="row">

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #adminTooltipReference
                    [position]="'mouse'"
                    [content]="'Manage users and access levels'">

                    <a href="#" routerLink="/suite/admin/dashboard">
                        <figure>
                            <img src="../../../assets/images/modules/admin.png" class="home-icons" />
                            <figcaption>Admin</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #laboratoryTooltipReference
                    [position]="'mouse'"
                    [content]="'Manage patients\' laboratory sessions'">

                    <a href="#" routerLink="/suite/laboratory/dashboard">
                        <figure>
                            <img src="../../../assets/images/modules/laboratory.png" class="home-icons" />
                            <figcaption>Laboratory</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #dispensaryTooltipReference
                    [position]="'mouse'"
                    [content]="'Dispense drugs to patients'">

                    <a href="#" routerLink="/suite/dispensary/dashboard">
                        <figure>
                            <img src="../../../assets/images/modules/dispensary.png" class="home-icons" />
                            <figcaption>Dispensary</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #nursesTooltipReference
                    [position]="'mouse'"
                    [content]="'Manage nurses of your facility'">

                    <a href="#" routerLink="/suite/nurses/dashboard">
                        <figure>
                            <img src="../../../assets/images/modules/nurses.png" class="home-icons" />
                            <figcaption>Nurses</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #prescriptionsTooltipReference
                    [position]="'mouse'"
                    [content]="'Prescribe medications for patients'">

                    <a href="#" routerLink="/suite/prescriptions/dashboard">
                        <figure>
                            <img src="../../../assets/images/modules/prescriptions.png" class="home-icons" />
                            <figcaption>Prescriptions</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #staffTooltipReference
                    [position]="'mouse'"
                    [content]="'Manage all other medical and non medical staff'">

                    <a href="#" routerLink="/suite/staff/dashboard">
                        <figure>
                            <img src="../../../assets/images/modules/staff.png" class="home-icons" />
                            <figcaption>Staff</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

        </div>

        <!-- --------------------------------------------------------------------------------------------------------
        new row -->

        <div class="row">

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #settingsTooltipReference
                    [position]="'mouse'"
                    [content]="'Set configuarations for your modules'">

                    <a href="#" routerLink="/suite/settings/dashboard">
                        <figure>
                            <img src="../../../assets/images/modules/settings.png" class="home-icons" />
                            <figcaption>Settings</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #drugsTooltipReference
                    [position]="'mouse'"
                    [content]="'Manage all pharmaceutical drugs'">

                    <a href="#" routerLink="/suite/drugs/dashboard">
                        <figure>
                            <img src="../../../assets/images/modules/drugs.png" class="home-icons" />
                            <figcaption>Drugs</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #admissionsTooltipReference
                    [position]="'mouse'"
                    [content]="'Manage patients\' admission sessions'">

                    <a href="#" routerLink="/suite/admissions/dashboard">
                        <figure>
                            <img src="../../../assets/images/modules/admissions.png" class="home-icons" />
                            <figcaption>Admissions</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #wardsTooltipReference
                    [position]="'mouse'"
                    [content]="'Manage operations of patients\' wards'">

                    <a href="#" routerLink="/suite/wards/dashboard">
                        <figure>
                            <img src="../../../assets/images/modules/wards.png" class="home-icons" />
                            <figcaption>Wards</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #paymentsTooltipReference
                    [position]="'mouse'"
                    [content]="'Recieve payment of bills from patients'">

                    <a href="#" routerLink="/suite/payments/dashboard">
                        <figure>
                            <img src="../../../assets/images/modules/payments.png" class="home-icons" />
                            <figcaption>Payments</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

        </div>

    </div>

    <!-- --------------------------------------------------------------------------------------------- -->

    <div *ngIf="this.isActive == false; then createAccountBlock"></div>

    <ng-template #createAccountBlock>
        <div class="row text-center home-create-button-div">
            <div class="col-md-12">
                <button class="btn btn-lg btn-danger create-btn" (click)="createAccount()">create Hospital account</button>
            </div>
        </div>
    </ng-template>

</div>
