<div class="row">
    <div class="col-md-8">

        <hr />

        <h4>Purchasing Details</h4>

        <div class="row top-button-row">
            <div class="col-md-12">
                <jqxButton #buttonReference
                    [width]="150"
                    [height]="30"
                >Add Item</jqxButton>
            </div>
        </div>

        <div>
            <jqxGrid #detailsGridReference
                [width]="'100%'"
                [autoheight]="true"
                [rowsheight]="24"
                [showemptyrow]="false"
                [showstatusbar]="true"
                [showaggregates]="true"
                [columns]="columns"
            ></jqxGrid>
        </div>

    </div>
</div>
