<form [formGroup]="profileForm" (ngSubmit)="profileSubmit()">
    <div class="form-group row">
        <div class="col-md-6">
            <label>First Name</label>
            <input type="text" class="form-control" formControlName="first_name" placeholder="Enter your first name" required autofocus>
            <div *ngFor="let fnErr of fnErrors">
                <small class="text-danger">{{fnErr}}</small><br />
            </div>
        </div>
        <div class="col-md-6">
            <label>Last Name</label>
            <input type="text" class="form-control" formControlName="last_name" placeholder="Enter your last name" required>
            <div *ngFor="let lnErr of lnErrors">
                <small class="text-danger">{{lnErr}}</small><br />
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-12">
            <label>Location</label>
            <input type="text" class="form-control" formControlName="location" placeholder="Enter your city or town, state, and country" required>
            <div *ngFor="let locErr of locErrors">
                <small class="text-danger">{{locErr}}</small><br />
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-12">
            <label>About</label>
            <textarea class="form-control text-left" rows="3" formControlName="about" placeholder="Enter a brief description about yourself" required></textarea>
            <div *ngFor="let abtErr of abtErrors">
                <small class="text-danger">{{abtErr}}</small><br />
            </div>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-12">
            <button type="submit" class="float-right btn btn-success mb-2">Next</button>
        </div>
    </div>
</form>

<div class="row">
    <div class="col-md-12">
        <small class="text-center text-muted">
            <p>Already registered? <a href="#" (click)="gotoLogin($event)">Log in</a></p>
        </small>
    </div>
</div>
