<div class="row">
    <div class="col-md-12">

        <div class="row top-button-row">
            <div class="col-md-12">
                <jqxButton #addShiftButtonReference (click)="addShift.openWindow()"
                    [width]="120"
                    [height]="28"
                >Add Shift</jqxButton>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <jqxGrid #gridReference (onRowdoubleclick)="editShift.openWindow($event)"
                    [width]="'100%'"
                    [height]="85"
                    [source]="dataAdapter"
                    [rowsheight]="25"
                    [columns]="columns"
                    [columnsheight]="28"
                ></jqxGrid>
            </div>
        </div>

    </div>
</div>

<!-- add and edit shift components -->

<app-add-shift #addShiftComponentReference
    (addCommit)="onAddCommit($event)"
></app-add-shift>

<app-edit-shift #editShiftComponentReference
    (editCommit)="onEditCommit($event)"
    (deleteCommit)="onDeleteCommit($event)"
></app-edit-shift>

<!-- http loader spinner and connection notification components -->

<app-loading-spinner #loadingSpinnerComponentReference></app-loading-spinner>

<app-connection-notification #connectionNotificationComponentReference></app-connection-notification>
