<div class="row">
    <div class="col-md-12">
        <h4>User Access Levels</h4>
    </div>
</div>

<div class="row">
    <div class="col-md-12">

        <table class="table bg-light">
            <thead>
                <tr>
                    <th>Module</th>
                    <th>Access</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Accounts</td>
                    <td><jqxCheckBox #accountsCheckBoxReference></jqxCheckBox></td>
                </tr>
                <tr>
                    <td>Admin</td>
                    <td><jqxCheckBox #adminCheckBoxReference></jqxCheckBox></td>
                </tr>
                <tr>
                    <td>Appraisal</td>
                    <td><jqxCheckBox #apprasialCheckBoxReference></jqxCheckBox></td>
                </tr>
                <tr>
                    <td>Assets</td>
                    <td><jqxCheckBox #assetsCheckBoxReference></jqxCheckBox></td>
                </tr>
                <tr>
                    <td>Budget</td>
                    <td><jqxCheckBox #budgetCheckBoxReference></jqxCheckBox></td>
                </tr>
                <tr>
                    <td>Employees</td>
                    <td><jqxCheckBox #employeesCheckBoxReference></jqxCheckBox></td>
                </tr>
                <tr>
                    <td>Files</td>
                    <td><jqxCheckBox #filesCheckBoxReference></jqxCheckBox></td>
                </tr>
                <tr>
                    <td>Leave</td>
                    <td><jqxCheckBox #leaveCheckBoxReference></jqxCheckBox></td>
                </tr>
                <tr>
                    <td>Ledger</td>
                    <td><jqxCheckBox #ledgerCheckBoxReference></jqxCheckBox></td>
                </tr>
                <tr>
                    <td>Letters</td>
                    <td><jqxCheckBox #lettersCheckBoxReference></jqxCheckBox></td>
                </tr>
                <tr>
                    <td>Payroll</td>
                    <td><jqxCheckBox #payrollCheckBoxReference></jqxCheckBox></td>
                </tr>
                <tr>
                    <td>Portal</td>
                    <td><jqxCheckBox #portalCheckBoxReference></jqxCheckBox></td>
                </tr>
                <tr>
                    <td>Procurement</td>
                    <td><jqxCheckBox #procurementCheckBoxReference></jqxCheckBox></td>
                </tr>
                <tr>
                    <td>Settings</td>
                    <td><jqxCheckBox #settingsCheckBoxReference></jqxCheckBox></td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
