<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-3 text-muted"><em>Hospital Name:</em></div>
            <div class="col-md-9">Grace Clinic</div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3 text-muted"><em>Location:</em></div>
            <div class="col-md-9">Vancouver - Canada</div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3 text-muted"><em>About:</em></div>
            <div class="col-md-9">A non-profit neighborhood clinic</div>
        </div>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-12 text-center">
        <jqxButton #buttonReference (click)="goToNew()"
            [width]="150"
            [height]="35"
        >New Rink</jqxButton>
  </div>
</div>
