<hr />

<div class="row">

    <div class="col-md-12">
        <h4>Admission Activities</h4>
    </div>

    <div class="col-md-12">

        <div class="activities-btns">
            <jqxButton #diagnosisButtonReference
                [height]="52"
                [width]="52"
            ></jqxButton>
            <br />
            <label>Diagnosis</label>
        </div>

        <div class="activities-btns">
            <jqxButton #prescriptionsButtonReference
                [height]="52"
                [width]="52"
            ></jqxButton>
            <br />
            <label>Prescriptions</label>
        </div>

        <div class="activities-btns">
            <jqxButton #laboratoryButtonReference
                [height]="52"
                [width]="52"
            ></jqxButton>
            <br />
            <label>Laboratory</label>
        </div>

        <div class="activities-btns">
            <jqxButton #billsButtonReference
                [height]="52"
                [width]="52"
            ></jqxButton>
            <br />
            <label>Bills</label>
        </div>

        <div class="activities-btns">
            <jqxButton #paymentsButtonReference
                [height]="52"
                [width]="52"
            ></jqxButton>
            <br />
            <label>Payments</label>
        </div>

    </div>
</div>