<div id="scrollBody" data-offset="50" data-spy="scroll" data-target="#scrollNavbar">

    <app-suite-scrollnav></app-suite-scrollnav>

    <app-guest-top
        [source]="'hospital'"
        [suiteName]="'Hospital'"
        [primaryCaption]="'netRink Hospital'"
        [secondaryCaption]="'Link up all departments of your hospital for easy and effective operations'"
        [features]="[
            {
                'title': 'Patients management',
                'description': 'Register patients and access their medical data at anytime',
                'imgLink': '../../../assets/images/features/patients.png'
            },
            {
                'title': 'Staff management',
                'description': 'Manage doctors, nurses, and all other supporting staff',
                'imgLink': '../../../assets/images/features/staff.png'
            },
            {
                'title': 'OPD and IPD',
                'description': 'Run operations of all departments of your facility effectively',
                'imgLink': '../../../assets/images/features/opd_ipd.png'
            },
            {
                'title': 'Bills and payments',
                'description': 'Automatically generate bills and receive payments from patients',
                'imgLink': '../../../assets/images/features/bills.png'
            }
        ]"
    ></app-guest-top>

    <app-about></app-about>
    <app-pricing></app-pricing>
    <app-contact></app-contact>

</div>
