<form [formGroup]="resetForm" (ngSubmit)="resetSubmit()">
    <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" formControlName="password" placeholder="Enter new your password" required>
    </div>
    <div class="form-group">
        <label>Confirm Password</label>
        <input type="password" class="form-control" formControlName="confirm" placeholder="Enter your new password again" required>
    </div>
    
    <div class="row form-group">
        <div class="col-md-12">
            <button type="submit" class="float-right btn btn-success mb-2">Submit</button>
        </div>
    </div>
</form>