<div class="container">

    <div class="module-heading row">
        <div class="col-md-12">

            <a href="#" (click)="this.suiteRoutes.goHome($event)"><h3>Home</h3></a>
            <span class="fa fa-angle-double-right"></span>
            <h3>Notes</h3>

            <hr class="header-line" />
            <hr class="header-line" />

        </div>
    </div>

    <div class="row">
        <div class="col-md-7" id="editorSpace">

            <div class="row">
                <div class="col-md-3">
                    <label class="float-right">Subject :</label>
                </div>
                <div class="col-md-9">
                    <jqxInput #inputReference
                        (onChange)="sendSubject($event)"
                        [width]="'100%'"
                        [height]="32"
                    ></jqxInput>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <jqxEditor #editorReference
                        (onChange)="sendBody($event)"
                        [width]="'100%'"
                        [height]="300"
                    ></jqxEditor>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <label>Attachments :</label>
                    <jqxFileUpload #fileUploadReference
                        [width]="'100%'"
                    ></jqxFileUpload>
                </div>
                <div class="col-md-6">
                    <jqxPanel #panelReference
                        [width]="'100%'"
                        [height]="100">
                    </jqxPanel>
                </div>
            </div>

        </div>

        <div class="col-md-5">
            <div class="row">
                <div class="offset-md-1 col-md-4">
                    <jqxButton #buttonReference (click)="this.suiteRoutes.goNotesAll($event)"
                        [width]="150"
                        [height]="32"
                    >All Notes</jqxButton>
                </div>
            </div>
        </div>

    </div>

</div>
