<div class="row">
    <div class="col-md-12">
        <h4>User's Activities</h4>
    </div>
</div>

<div class="row top-button-row">
    <div class="col-md-12">
        <jqxButton #buttonReference class="float-right"
            [width]="150"
            [height]="30"
        >View All Activites</jqxButton>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <jqxListBox #listBoxReference
            [width]="'100%'"
            [height]="450"
        ></jqxListBox>
    </div>
</div>
