<div id="pricingDiv" class="bg-light-dark scroll-div">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <h1 class="extras-heading">Pricing</h1>
            </div>
        </div>

        <div class="row">

            <div class="col-md-3 pricing-div">
                <div class="card text-center">
                    <div class="card-body">

                        <h3 class="pricing-heading">Individual Subscription*</h3>

                        <hr />

                        <p>Single user</p>
                        <p>Free upgrades</p>
                        <p>1GB Storage</p>

                        <hr />

                        <h3>FREE!</h3>
                        <p class="text-muted pricing-point">
                            <small>*netRink Personal users fall under the Individual Subscription plan, and thereby use the product free of charge</small>
                        </p>

                        <hr />

                        <a href="#">
                            <button class="btn btn-lg btn-primary pricing-button">Register</button>
                        </a>

                    </div>
                </div>
            </div>

            <div class="col-md-3 pricing-div">
                <div class="card text-center">
                    <div class="card-body">

                        <h3 class="pricing-heading">Small Team Subscription</h3>

                        <hr />

                        <p>10 users</p>
                        <p>Free upgrades</p>
                        <p>Technical support</p>
                        <p>20GB Storage</p>

                        <hr />

                        <h3>$9.99/month</h3>
                        <h5>$99.99/year</h5>
                        <h5 class="text-muted">save $19.89</h5>

                        <hr />

                        <a href="#">
                            <button class="btn btn-lg btn-primary pricing-button">Subscribe</button>
                        </a>

                    </div>
                </div>
            </div>

            <div class="col-md-3 pricing-div">
                <div class="card text-center">
                    <div class="card-body">

                        <h3 class="pricing-heading">Large Team Subscription</h3>

                        <hr />

                        <p>50 users</p>
                        <p>Free upgrades</p>
                        <p>Technical support</p>
                        <p>250GB Storage</p>

                        <hr />

                        <h3>$29.99/month</h3>
                        <h5>$299.99/year</h5>
                        <h5 class="text-muted">save $59.89</h5>

                        <hr />

                        <a href="#">
                            <button class="btn btn-lg btn-primary pricing-button">Subscribe</button>
                        </a>

                    </div>
                </div>
            </div>

            <div class="col-md-3 pricing-div">
                <div class="card text-center">
                    <div class="card-body">

                        <h3 class="pricing-heading">Comprehensive Subscription**</h3>

                        <hr />

                        <p>Unlimited users</p>
                        <p>Free upgrades</p>
                        <p>Technical support</p>
                        <p>Unlimited Storage</p>
                        <p>Customized functions</p>

                        <hr />

                        <p class="text-muted pricing-point">
                            <small>**Final pricing depends on number of users and range of customized features</small>
                        </p>

                        <hr />

                        <a href="#">
                            <button class="btn btn-lg btn-primary pricing-button">Contact Us</button>
                        </a>

                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
