<div class="container">

    <div class="module-heading row">
        <div class="col-md-12">

            <h3>Home</h3>

            <hr class="header-line" />
            <hr class="header-line" />

        </div>
    </div>

    <!-- -------------------------------------------------------------------------------------------------- -->

    <div class="home-div">

        <div class="row">

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #portalTooltipReference
                    [position]="'mouse'"
                    [content]="'Interact with people through netRink portal'">

                    <a href="#" (click)="openPortal($event)">
                        <figure>
                            <img src="../../../assets/images/modules/portal.png" class="home-icons" />
                            <figcaption>Portal</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #calendarTooltipReference
                    [position]="'mouse'"
                    [content]="'Manage all schedules and appointments'">

                    <a href="#" (click)="openCalendar($event)">
                        <figure>
                            <img src="../../../assets/images/modules/calendar.png" class="home-icons" />
                            <figcaption>Calendar</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #notesTooltipReference
                    [position]="'mouse'"
                    [content]="'Put down notes and attach supporting files'">

                    <a href="#" (click)="openNotes($event)">
                        <figure>
                            <img src="../../../assets/images/modules/notes.png" class="home-icons" />
                            <figcaption>Notes</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #accountsTooltipReference
                    [position]="'mouse'"
                    [content]="'Manage all financial accounts togethet in one space'">

                    <a href="#" (click)="openAccounts($event)">
                        <figure>
                            <img src="../../../assets/images/modules/accounts.png" class="home-icons" />
                            <figcaption>Accounts</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #tasksTooltipReference
                    [position]="'mouse'"
                    [content]="'Manage and track to-do tasks and activities '">

                    <a href="#" (click)="openTasks($event)">
                        <figure>
                            <img src="../../../assets/images/modules/tasks.png" class="home-icons" />
                            <figcaption>Tasks</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #budgetTooltipReference
                    [position]="'mouse'"
                    [content]="'Plan and prepare personal budgets'">

                    <a href="#" (click)="openBudget($event)">
                        <figure>
                            <img src="../../../assets/images/modules/budget.png" class="home-icons" />
                            <figcaption>Budget</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>

            </div>

        </div>

        <!-- ---------------------------------------------------------------------------------------- -->

        <div class="row">

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #settingsTooltipReference
                    [position]="'mouse'"
                    [content]="'Set the general configurations of your modules'">

                    <a href="#" (click)="openSettings($event)">
                        <figure>
                            <img src="../../../assets/images/modules/settings.png" class="home-icons" />
                            <figcaption>Settings</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

        </div>

    </div>

    <!-- --------------------------------------------------------------------------------------------- -->

    <div *ngIf="this.isLoggedIn == false; then createAccountBlock"></div>

    <ng-template #createAccountBlock>
        <div class="row text-center home-create-button-div">
            <div class="col-md-12">
                <button class="btn btn-lg btn-danger create-btn" (click)="createAccount()">create netRink account</button>
            </div>
        </div>
    </ng-template>

</div>
