<div class="main-tab-content home-div">
    <div class="container">
    
        <div class="module-heading row">
            <div class="col-md-12">
                
                <h3>Home</h3>

                <hr class="header-line" />
                <hr class="header-line" />
            
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-2 col-sm-6 text-center">	
                <a href="#">
                    <figure>
                        <img src="#" class="home-icons" />
                        <figcaption>Calendar</figcaption>
                    </figure>								
                </a>
            </div>
            <div class="col-md-2 col-sm-6 text-center">
                <a href="#">
                    <figure>
                        <img src="#" class="home-icons" />
                        <figcaption>Budget</figcaption>
                    </figure>										
                </a>
            </div>
            <div class="col-md-2 col-sm-6 text-center">		
                <a href="#">
                    <figure>
                        <img src="#" class="home-icons" />
                        <figcaption>Notes</figcaption>
                    </figure>
                </a>
            </div>
            <div class="col-md-2 col-sm-6 text-center">
                <a href="#">
                    <figure>
                        <img src="#" class="home-icons" />
                        <figcaption>Accounts</figcaption>
                    </figure>										
                </a>
            </div>
            <div class="col-md-2 col-sm-6 text-center">
                <a href="#">
                    <figure>
                        <img src="#" class="home-icons" />
                        <figcaption>Tasks</figcaption>
                    </figure>										
                </a>
            </div>
            <div class="col-md-2 col-sm-6 text-center">
                <a href="#">
                    <figure>
                        <img src="#" class="home-icons" />
                        <figcaption>Portal</figcaption>
                    </figure>										
                </a>
            </div>
        </div>
                    
    </div>
</div>