<div class="row">
    <div class="col-md-12">

        <div class="row top-button-row">
            <div class="col-md-12">
                <jqxButton #buttonReference (click)="refreshSheet()"
                    [width]="150"
                    [height]="30"
                >Refresh Sheet</jqxButton>
            </div>
        </div>
        
        <jqxGrid #gridReference 
            (onCelldoubleclick)="gotoClassTimetable($event)"
            (onCellclick)="editSheet($event)"
            [width]="'100%'"
            [autoheight]="true"
            [source]="timetableDataAdapter"
            [rowsheight]="22"
            [showemptyrow]="false"
            [columns]="timetableColumns"
            [columngroups]="classColumnGroups"
        ></jqxGrid>

    </div>
</div>

<!-- http loader spinner and connection notification components -->

<app-loading-spinner #loadingSpinnerComponentReference></app-loading-spinner>

<app-connection-notification #connectionNotificationComponentReference></app-connection-notification>
