<div id="aboutDiv" class="bg-dark-light scroll-div">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <h1 class="extras-heading">About Us</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <p>At netRink, we provide effective and professionally designed management tools that allow individuals, organizations, institutions and many more to go abouut their day to day activities with simplicity and much ease. netRink's products provide everything you will ever need for effective management. We are deeply dedicated to what we do and strive to be the best in the industry.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">

                <h3 class="text-center extras-heading">What you get from us</h3>

                <div class="row">
                    <div class="col-md-6">
                        <div class="card text-center">
                            <div class="card-footer">
                                <h5>Easy to use, well built products</h5>
                            </div>
                        </div>
                    </div>
                    <div class="offset-md-3 col-md-6">
                        <div class="card text-center">
                            <div class="card-footer">
                                <h5>Dedicated and timely product support</h5>
                            </div>
                        </div>
                    </div>
                    <div class="offset-md-6 col-md-6">
                        <div class="card text-center">
                            <div class="card-footer">
                                <h5>Free minor and major upgrades</h5>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
