<div id="aboutDiv" class="bg-dark-light scroll-div">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <h1 class="extras-heading">About</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h4 class="extras-heading">Suite name</h4>
                <p>netRink suite name here lets u blah blah blah....., Detail description of the suite comes here. lorem ipsum seculum mes ingrit et semper</p>
                <h4 class="extras-heading">netRink</h4>
                <p>At netRink, we provide effective and professionally designed management tools that allow individuals, organizations, institutions and many more to go about their day to day activities with simplicity and much ease. netRink's products provide everything you will ever need for effective management. We are deeply dedicated to what we do and strive to be the best in the industry.</p>
            </div>

            <div class="col-md-6">
                <h4 class="text-center extras-heading">What you get from us</h4>

                <div class="card">
                    <div class="card-footer">
                        <img src="/projects/personal/src/assets/images/features/quality.png" width="80" height="80">
                        <h5>Easy to use, well built products</h5>
                    </div>
                </div>
                <div class="card">
                    <div class="card-footer">
                        <img src="/projects/personal/src/assets/images/features/support.png" width="80" height="80">
                        <h5>Dedicated and timely product support</h5>
                    </div>
                </div>
                <div class="card">
                    <div class="card-footer">
                        <img src="/projects/personal/src/assets/images/features/upgrade.png" width="80" height="80">
                        <h5>Free minor and major upgrades</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-12">
                <button class="btn btn-lg btn-outline-primary ml-2">Watch Demo <i class="fa fa-film ml-1"></i></button>
                <button class="btn btn-lg btn-outline-primary ml-2">Download Brochure <i class="fa fa-download ml-1"></i></button>
            </div>
        </div>

    </div>
</div>
