<form [formGroup]="verificationForm" (ngSubmit)="verificationSubmit()">
    <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" formGroupName="email" placeholder="Enter the email you used to register" required autofocus>
    </div>
    
    <div class="row form-group">
        <div class="col-md-12">
            <button type="submit" class="float-right btn btn-success mb-2">Submit</button>
        </div>
    </div>
</form>

<div class="row form-group mt-2">
    <div class="col-md-12">
        <div class="text-center">
            <p>You will receive an email with instructions on how to verify your account</p>
        </div>
    </div>
</div>