<div class="container mt-3">

    <div class="col-md-5 mx-auto">
        <div class="card">
            <div class="card-footer">

                <h2 class="text-center">{{ formHeading }}</h2>

                <div>
                    <div class="text-center text-muted">
                        <small >
                            <p>Registering to this website, you accept our <a href="#">Terms of Use</a> and our <a href="#">Privacy Policy</a></p>
                        </small>
                    </div>

                    <hr />
                </div>

                <ng-content></ng-content>

            </div>
        </div>
    </div>

</div>
