<div class="container">

    <div class="module-heading row">
        <div class="col-md-12">

            <h3>Home</h3>

            <hr class="header-line" />
            <hr class="header-line" />

        </div>
    </div>

    <!-- --------------------------------------------------------------------------------------------------- -->

    <div class="home-div">

        <div class="row">

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #adminTooltipReference
                    [position]="'mouse'"
                    [content]="'Manage users and access levels'">

                    <a href="#" (click)="suiteRoutes.goAdminDashboard($event)">
                        <figure>
                            <img src="#" class="home-icons" />
                            <figcaption>Admin</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #accountsTooltipReference
                    [position]="'mouse'"
                    [content]="'Manage financial accounts and transactions'">

                    <a href="#" (click)="suiteRoutes.goAccountsAll($event)">
                        <figure>
                            <img src="#" class="home-icons" />
                            <figcaption>Accounts</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #payrollTooltipReference
                    [position]="'mouse'"
                    [content]="'Implement payroll for all employees'">

                    <a href="#" (click)="suiteRoutes.goPayrollAll($event)">
                        <figure>
                            <img src="#" class="home-icons" />
                            <figcaption>Payroll</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #attendanceTooltipReference
                    [position]="'mouse'"
                    [content]="'Take attendance of employees'">

                    <a href="#" (click)="suiteRoutes.goAttendanceAll($event)">
                        <figure>
                            <img src="#" class="home-icons" />
                            <figcaption>Attendance</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #assetsTooltipReference
                    [position]="'mouse'"
                    [content]="'Manage and track assets'">

                    <a href="#" (click)="suiteRoutes.goAssetsAll($event)">
                        <figure>
                            <img src="#" class="home-icons" />
                            <figcaption>Assets</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #leaveTooltipReference
                    [position]="'mouse'"
                    [content]="'Manage employees\' leave'">

                    <a href="#" (click)="suiteRoutes.goLeaveAll($event)">
                        <figure>
                            <img src="#" class="home-icons" />
                            <figcaption>Leave</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

        </div>

        <!-- ----------------------------------------------------------------------------------
        row -->

        <div class="row">

			      <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #portalTooltipReference
                    [position]="'mouse'"
                    [content]="'Connect to other businesses throgh netRink portal'">

                    <a href="#" (click)="suiteRoutes.goPortalTimeline($event)">
                        <figure>
                            <img src="#" class="home-icons" />
                            <figcaption>Portal</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #budgetTooltipReference
                    [position]="'mouse'"
                    [content]="'Plan and prepare company\'s budget'">

                    <a href="#" (click)="suiteRoutes.goBudgetAll($event)">
                        <figure>
                            <img src="#" class="home-icons" />
                            <figcaption>Budget</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #procurementTooltipReference
                    [position]="'mouse'"
                    [content]="'Manage procurement operations'">

                    <a href="#" (click)="suiteRoutes.goProcurementAll($event)">
                        <figure>
                            <img src="#" class="home-icons" />
                            <figcaption>Procurement</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #lettersTooltipReference
                    [position]="'mouse'"
                    [content]="'Organise all incoming and outgoing letters'">

                    <a href="#" (click)="suiteRoutes.goLettersAll($event)">
                        <figure>
                            <img src="#" class="home-icons" />
                            <figcaption>Letters</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #appraisalTooltipReference
                    [position]="'mouse'"
                    [content]="'Conduct appraisal assessment for employees'">

                    <a href="#" (click)="suiteRoutes.goAppraisalAll($event)">
                        <figure>
                            <img src="#" class="home-icons" />
                            <figcaption>Appraisal</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #filesTooltipReference
                    [position]="'mouse'"
                    [content]="'Organise all types of files'">

                    <a href="#" (click)="suiteRoutes.goFilesFolders($event)">
                        <figure>
                            <img src="#" class="home-icons" />
                            <figcaption>Files</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

        </div>

        <!-- ------------------------------------------------------------------------
        row -->

        <div class="row">

			      <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #settingsTooltipReference
                    [position]="'mouse'"
                    [content]="'Set configuarations for your modules'">

                    <a href="#" (click)="suiteRoutes.goSettingsView($event)">
                        <figure>
                            <img src="#" class="home-icons" />
                            <figcaption>Settings</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

			      <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #employeesTooltipReference
                    [position]="'mouse'"
                    [content]="'Manage all employees'">

                    <a href="#" (click)="suiteRoutes.goEmployeesAll($event)">
                        <figure>
                            <img src="#" class="home-icons" />
                            <figcaption>Employees</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #portalTooltipReference
                    [position]="'mouse'"
                    [content]="'Prepare general ledger'">

                    <a href="#" (click)="suiteRoutes.goLedgerAll($event)">
                        <figure>
                            <img src="#" class="home-icons" />
                            <figcaption>Ledger</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

        </div>

    </div>

    <!-- --------------------------------------------------------------------------------------------- -->

    <div *ngIf="this.isActive == false; then createAccountBlock"></div>

    <ng-template #createAccountBlock>
        <div class="row text-center home-create-button-div">
            <div class="col-md-12">
                <button class="btn btn-lg btn-danger create-btn" (click)="createAccount()">create netRink account</button>
            </div>
        </div>
    </ng-template>

</div>
