<jqxWindow #addBillReference
    [width]="540"
    [height]="250"
    [autoOpen]="false">

    <div>Add New Bill</div>

    <div>

        <div>
            <div class="edit-dialog-label-alt">Bill ID</div>
            <div class="edit-dialog-field-alt">
                <jqxInput #billCodeReference
                    [width]="'100%'"
                    [height]="25"
                ></jqxInput>
            </div>
        </div>

        <div>
            <div class="edit-dialog-label-alt">Bill Date</div>
            <div class="edit-dialog-field-alt">
                <jqxDateTimeInput #billDateReference
                    [width]="'100%'"
                    [height]="25"
                    [formatString]="'yyyy-MM-dd'"
                ></jqxDateTimeInput>
            </div>
        </div>

        <div>
            <div class="edit-dialog-label-alt">Patient Name</div>
            <div class="edit-dialog-field-alt">
                <jqxInput #patientNameReference
                    [width]="'90%'"
                    [height]="25"
                    [disabled]="true"
                ></jqxInput>
                <jqxButton #selectPatientButton (click)="selectPatient.openWindow()"
                    [width]="'10%'"
                    [height]="25"
                >...</jqxButton>
            </div>
        </div>

        <div>
            <div class="edit-dialog-label-alt">Patient ID</div>
            <div class="edit-dialog-field-alt">
                <jqxInput #patientCodeReference
                    [width]="'90%'"
                    [height]="25"
                    [disabled]="true"
                ></jqxInput>
                <jqxButton #selectPatientButton (click)="selectPatient.openWindow()"
                    [width]="'10%'"
                    [height]="25"
                >...</jqxButton>
            </div>
        </div>

        <div>
            <div class="edit-dialog-label-alt">Admission ID</div>
            <div class="edit-dialog-field-alt">
                <jqxInput #admissionCodeReference
                    [width]="'90%'"
                    [height]="25"
                    [disabled]="true"
                ></jqxInput>
                <jqxButton #selectAdmissionButton (click)="selectAdmission.openWindow()"
                    [width]="'10%'"
                    [height]="25"
                >...</jqxButton>
            </div>
        </div>

        <div>
            <div class="edit-dialog-field-alt edit-dialog-buttons-alt">
                <jqxButton #cancelButtonReference (click)="closeWindow()"
                >Cancel</jqxButton>

                <jqxButton #saveButtonReference (click)="saveBill()"
                >Save</jqxButton>
            </div>
        </div>

    </div>

</jqxWindow>

<!-- select patient and admission components -->

<app-select-patient #selectPatientComponentReference
    (patientEvent)="patientSelected($event)"
></app-select-patient>

<app-select-admission #selectAdmissionComponentReference
    (admissionEvent)="admissionSelected($event)"
></app-select-admission>

<!-- http loader spinner and connection notification components -->

<app-loading-spinner #loadingSpinnerComponentReference></app-loading-spinner>

<app-connection-notification #connectionNotificationComponentReference></app-connection-notification>
