<div class="row">
    <div class="col-md-8">
            
        <hr />
        
        <div class="row top-button-row">
            <div class="col-md-12">
                <jqxButton #buttonReference (click)="addTaskComponentReference.openWindow()"
                    [width]="120"
                    [height]="30"
                >Add Task</jqxButton>
            </div>
        </div>
    
        <div class="row">
            <div class="col-md-12">
                <jqxKanban #kanbanReference
                    [width]="'100%'"
                    [height]="300"
                    [columns]="columns"
                    [source]="source"
                    [resources]="resourcesAdapterFunc()"
                ></jqxKanban>
            </div>
        </div>
            
    </div>
</div>

<!-- add task popup dialog window -->

<app-add-task #addTaskComponentReference></app-add-task>

<!-- edit task popup dialog window -->

<app-edit-task #editTaskComponentReference></app-edit-task>