<app-topnav [headings]="navHeading"></app-topnav>

<div class="container">

    <div class="row top-button-row">
        <div class="col-md-12">
            <jqxButton #buttonReference (click)="newInvoiceWindowReference.openWindow()"
                [width]="150"
                [height]="30"
            >New Invoice</jqxButton>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <jqxGrid #gridReference (onRowdoubleclick)="viewInvoice($event)"
                [width]="'100%'"
                [height]="450"
                [source]="dataAdapter"
                [sortable]="true"
                [filterable]="true"
                [showfilterrow]="true"
                [columns]="columns"
            ></jqxGrid>
        </div>
    </div>

</div>

<!-- new invoice dialog window -->

<app-new-invoice #newInvoiceWindowReference></app-new-invoice>

<!-- http loader spinner and connection notification components -->

<app-loading-spinner #loadingSpinnerComponentReference></app-loading-spinner>

<app-connection-notification #connectionNotificationComponentReference></app-connection-notification>
