<div>
    <div class="edit-dialog-label-alt">Item ID</div>
    <div class="edit-dialog-field-alt">
        <jqxInput #itemCodeReference
            [width]="'100%'"
            [height]="25"
        ></jqxInput>
    </div>
</div>

<div>
    <div class="edit-dialog-label-alt">Item Name</div>
    <div class="edit-dialog-field-alt">
        <jqxInput #itemNameReference
            [width]="'100%'"
            [height]="25"
        ></jqxInput>
    </div>
</div>

<div>
    <div class="edit-dialog-label-alt">Category</div>
    <div class="edit-dialog-field-alt">
        <jqxComboBox #categoryReference
            [width]="'100%'"
            [height]="25"
        ></jqxComboBox>
    </div>
</div>

<div>
    <div class="edit-dialog-label-alt">Item Type</div>
    <div class="edit-dialog-field-alt">
        <jqxComboBox #itemTypeReference
            [width]="'100%'"
            [height]="25"
        ></jqxComboBox>
    </div>
</div>

<div>
    <div class="edit-dialog-label-alt">Quantity</div>
    <div class="edit-dialog-field-alt">
        <jqxNumberInput #quantityReference
            [width]="'100%'"
            [height]="25"
            [inputMode]="'simple'"
            [decimalDigits]="0"
            [spinButtons]="true"
        ></jqxNumberInput>
    </div>
</div>

<div>
    <div class="edit-dialog-label-alt">Refill Ordered</div>
    <div class="edit-dialog-field-alt">
        <jqxNumberInput #refillOrderedReference
            [width]="'100%'"
            [height]="25"
            [inputMode]="'simple'"
            [decimalDigits]="0"
            [spinButtons]="true"
        ></jqxNumberInput>
    </div>
</div>

