<app-topnav [headings]="navHeading"></app-topnav>

<div class="container">

    <!-- admission page form -->

    <app-admission-form #admissionFormComponentReference></app-admission-form>

    <div class="row page-form-div">
        <div class="col-md-12">

            <div class="row">
                <div class="col-md-12">

                    <jqxButton #cancelButtonReference class="float-right" (click)="this.suiteRoutes.goAdmissionsAll($event)"
                        [width]="100"
                        [height]="28"
                    >Cancel</jqxButton>

                    <jqxButton #deleteButtonReference class="float-right" (click)="deleteAdmission()"
                        [width]="100"
                        [height]="28"
                    >Delete</jqxButton>

                    <jqxButton #saveButtonReference class="float-right" (click)="saveAdmission()"
                        [width]="100"
                        [height]="28"
                    >Save</jqxButton>

                    <!-- delete confirmation window sub component -->

                    <app-delete-confirm #deleteConfirmComponentReference (confirmEvent)="deleteConfirmationSelected($event)"></app-delete-confirm>

                </div>
            </div>

        </div>
    </div>

    <!-- admission activities section -->

    <app-admission-activities></app-admission-activities>

</div>

<!-- http loader spinner and connection notification components -->

<app-loading-spinner #loadingSpinnerComponentReference></app-loading-spinner>

<app-connection-notification #connectionNotificationComponentReference></app-connection-notification>
