<app-topnav [headings]="navHeading"></app-topnav>

<div class="container">

    <div class="row mb-3">
        <div class="col-md-8">

            <div class="row">
                <div class="col-md-9 mx-auto">

                    <form (ngSubmit)="doSearch()">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{searchFilter}}</button>
                                <div class="dropdown-menu">
                                    <li *ngFor="let suite of searchFilterValues">
                                        <a class="dropdown-item" href="#" (click)="setSearchFilter($event, suite)">{{suite}}</a>
                                    </li>
                                </div>
                            </div>
                            <input [(ngModel)]="searchInput" [ngModelOptions]="{standalone: true}" type="text" class="form-control" placeholder="Search for users" aria-label="Search for users" aria-describedby="button-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-secondary" type="submit" id="button-addon2">Search</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-8">

            <!-- <div *ngIf="!isSearchResultsReady">
                <app-recent-contacts></app-recent-contacts>
            </div> -->

            <div *ngIf="isSearchResultsReady">
                <app-search-results
                    (viewDetailEvent)="gotoSearchDetail($event)"
                    [searchQuery]="searchQuery"
                    [searchResults]="searchResults"
                ></app-search-results>
            </div>

            <div *ngIf="isSearchDetailReady">
                <app-search-detail
                    [searchDetail]="searchDetail"
                ></app-search-detail>
            </div>

        </div>
    </div>

</div>

<!-- http loader spinner and connection notification components -->

<app-connection-notification #connectionNotificationComponentReference></app-connection-notification>
