<div class="container">

    <div class="row">

        <div class="col-md-3">
            <nav class="navbar-light bg-light">
                <h4 class="nav-link text-muted">Settings</h4>
                <ul class="nav navbar-nav list-unstyled components">
                    <li class="nav-item">
                        <a href="#" class="nav-link" (click)="goToProfile($event)">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link" (click)="goToGeneral($event)">General</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link" (click)="goToPrivacy($event)">Privacy</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link" (click)="goToBillings($event)">Billings</a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="col-md-6">
            <router-outlet></router-outlet>
        </div>

    </div>

</div>
