<div class="row">
  <div class="col-md-12">
      <!-- <div class="row">
          <div class="col-md-3 text-muted"><em>Name:</em></div>
          <div class="col-md-9">{{searchDetail.user.first_name}} {{searchDetail.user.last_name}}</div>
      </div>
      <br />
      <div class="row">
          <div class="col-md-3 text-muted"><em>Location:</em></div>
          <div class="col-md-9">{{searchDetail.location}}</div>
      </div>
      <br />
      <div class="row">
          <div class="col-md-3 text-muted"><em>About:</em></div>
          <div class="col-md-9">{{searchDetail.about}}</div>
      </div> -->
  </div>
</div>

<hr />

<div class="row">
  <div class="col-md-12 text-center">
      <jqxButton #buttonReference (click)="sendInvitation()"
          [width]="150"
          [height]="35"
      >Send Invitation</jqxButton>
  </div>
</div>

<!-- http loader spinner and connection notification components -->

<app-connection-notification #connectionNotificationComponentReference></app-connection-notification>
