<jqxWindow #addServicesReference
    [width]="540"
    [height]="210"
    [autoOpen]="false">

    <div>Add Services</div>

    <div>

        <div>
            <div class="edit-dialog-label">Service ID</div>
            <div class="edit-dialog-field">
                <jqxInput #serviceCodeReference
                    [width]="'100%'"
                    [height]="25"
                ></jqxInput>
            </div>
        </div>

        <div>
            <div class="edit-dialog-label">Service Type</div>
            <div class="edit-dialog-field">
                <jqxComboBox #serviceTypeReference
                    [width]="'100%'"
                    [height]="25"
                ></jqxComboBox>
            </div>
        </div>

        <div>
            <div class="edit-dialog-label">Guest Name</div>
            <div class="edit-dialog-field">
                <jqxInput #guestNameReference
                    [width]="'90%'"
                    [height]="25"
                    [disabled]="true"
                ></jqxInput>
                <jqxButton #selectGuestButton (click)="selectGuest.openWindow()"
                    [width]="'10%'"
                    [height]="25"
                >...</jqxButton>
            </div>
        </div>

        <div>
            <div class="edit-dialog-label">Guest ID</div>
            <div class="edit-dialog-field">
                <jqxInput #guestCodeReference
                    [width]="'90%'"
                    [height]="25"
                    [disabled]="true"
                ></jqxInput>
                <jqxButton #selectGuestButton (click)="selectGuest.openWindow()"
                    [width]="'10%'"
                    [height]="25"
                >...</jqxButton>
            </div>
        </div>

        <div>
            <div class="edit-dialog-field edit-dialog-buttons">
                <jqxButton #cancelButtonReference (click)="closeWindow()"
                >Cancel</jqxButton>

                <jqxButton #saveButtonReference (click)="saveService()"
                >Save</jqxButton>
            </div>
        </div>

    </div>

</jqxWindow>

<!-- select term and class components -->

<app-select-guest #selectGuestComponentReference
    (guestEvent)="guestSelected($event)"
></app-select-guest>

<!-- http loader spinner and connection notification components -->

<app-loading-spinner #loadingSpinnerComponentReference></app-loading-spinner>

<app-connection-notification #connectionNotificationComponentReference></app-connection-notification>

