<nav class="bg-darker navbar navbar-dark navbar-expand-sm sticky-top" id="scrollNavbar">
    <div class="container">

        <button class="navbar-toggler" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" data-target="#scrollNavResponsive" data-toggle="collapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="scrollNavResponsive">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item"><a href="#personalDiv" class="nav-link" (click)="onPersonalClicked($event)">Personal</a></li>
                <li class="nav-item"><a href="#hospitalDiv" class="nav-link" (click)="onHospitalClicked($event)">Hospital</a></li>
                <li class="nav-item"><a href="#restaurantDiv" class="nav-link" (click)="onRestaurantClicked($event)">Restaurant</a></li>
                <li class="nav-item"><a href="#schoolDiv" class="nav-link" (click)="onSchoolClicked($event)">School</a></li>
                <li class="nav-item"><a href="#enterpriseDiv" class="nav-link" (click)="onEnterpriseClicked($event)">Enterprise</a></li>
                <li class="nav-item"><a href="#associationDiv" class="nav-link" (click)="onAssociationClicked($event)">Association</a></li>
                <li class="nav-item"><a href="#hotelDiv" class="nav-link" (click)="onHotelClicked($event)">Hotel</a></li>
                <li class="nav-item"><a href="#shopDiv" class="nav-link" (click)="onShopClicked($event)">Shop</a></li>
                <li class="nav-item"><a href="#productionDiv" class="nav-link" (click)="onProductionClicked($event)">Production</a></li>
            </ul>
        </div>

    </div>
</nav>
