<nav class="bg-darker navbar navbar-dark navbar-expand-sm sticky-top" id="scrollNavbar">
    <div class="container">
    
        <button class="navbar-toggler" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" data-target="#scrollNavResponsive" data-toggle="collapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="scrollNavResponsive">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item"><a href="#personalDiv" class="nav-link">Personal</a></li>
                <li class="nav-item"><a href="#hospitalDiv" class="nav-link">Hospital</a></li>
                <li class="nav-item"><a href="#restaurantDiv" class="nav-link">Restaurant</a></li>
                <li class="nav-item"><a href="#schoolDiv" class="nav-link">School</a></li>
                <li class="nav-item"><a href="#hotelDiv" class="nav-link">Hotel</a></li>
                <li class="nav-item"><a href="#enterpriseDiv" class="nav-link">Enterprise</a></li>
                <li class="nav-item"><a href="#associationDiv" class="nav-link">Association</a></li>
                <li class="nav-item"><a href="#shopDiv" class="nav-link">Shop</a></li>
                <li class="nav-item"><a href="#productionDiv" class="nav-link">Production</a></li>
            </ul>
        </div>
        
    </div>
</nav>