<div class="container">

    <div class="module-heading row">
        <div class="col-md-12">

            <h3>Home</h3>

            <hr class="header-line" />
            <hr class="header-line" />

        </div>
    </div>

    <!-- --------------------------------------------------------------------------------------------------- -->

    <div class="home-div">

        <div class="row">

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #portalTooltipReference
                    [position]="'mouse'"
                    [content]="'Interact with customers through netRink portal'">

                    <a routerLink="/suite/portal/dashboard">
                        <figure>
                            <img src="../../../assets/images/modules/portal.png" class="home-icons" />
                            <figcaption>Portal</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #billsTooltipReference
                    [position]="'mouse'"
                    [content]="'Generate bills for all services'">

                    <a routerLink="/suite/bills/dashboard">
                        <figure>
                            <img src="../../../assets/images/modules/bills.png" class="home-icons" />
                            <figcaption>Bills</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #staffTooltipReference
                    [position]="'mouse'"
                    [content]="'Manage all staff'">

                    <a routerLink="/suite/staff/dashboard">
                        <figure>
                            <img src="../../../assets/images/modules/staff.png" class="home-icons" />
                            <figcaption>Staff</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #guestsTooltipReference
                    [position]="'mouse'"
                    [content]="'Keep track of all your guests'">

                    <a routerLink="/suite/guests/dashboard">
                        <figure>
                            <img src="../../../assets/images/modules/guests.png" class="home-icons" />
                            <figcaption>Guests</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #paymentsTooltipReference
                    [position]="'mouse'"
                    [content]="'Receive payment of bills from guests'">

                    <a routerLink="/suite/payments/dashboard">
                        <figure>
                            <img src="../../../assets/images/modules/payments.png" class="home-icons" />
                            <figcaption>Payments</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #servicesTooltipReference
                    [position]="'mouse'"
                    [content]="'Manage extra services'">

                    <a routerLink="/suite/services/dashboard">
                        <figure>
                            <img src="../../../assets/images/modules/services.png" class="home-icons" />
                            <figcaption>Services</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

        </div>

        <!-- ------------------------------------------------------------------------------------------
        new row -->

        <div class="row">

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #adminTooltipReference
                    [position]="'mouse'"
                    [content]="'Manage users and access levels'">

                    <a routerLink="/suite/admin/dashboard">
                        <figure>
                            <img src="../../../assets/images/modules/admin.png" class="home-icons" />
                            <figcaption>Admin</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #checkInTooltipReference
                    [position]="'mouse'"
                    [content]="'Check in guests and manage their stay'">

                    <a routerLink="/suite/checkin/dashboard">
                        <figure>
                            <img src="../../../assets/images/modules/check_in.png" class="home-icons" />
                            <figcaption>Check-In</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #bookingsTooltipReference
                    [position]="'mouse'"
                    [content]="'Receive and proccess bookings'">

                    <a routerLink="/suite/bookings/dashboard">
                        <figure>
                            <img src="../../../assets/images/modules/bookings.png" class="home-icons" />
                            <figcaption>Bookings</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #roomsTooltipReference
                    [position]="'mouse'"
                    [content]="'Effectively manage rooms'">

                    <a routerLink="/suite/rooms/dashboard">
                        <figure>
                            <img src="../../../assets/images/modules/rooms.png" class="home-icons" />
                            <figcaption>Rooms</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #housekeepingTooltipReference
                    [position]="'mouse'"
                    [content]="'Manage the up-keep of rooms'">

                    <a routerLink="/suite/housekeeping/dashboard">
                        <figure>
                            <img src="../../../assets/images/modules/house_keeping.png" class="home-icons" />
                            <figcaption>House Keeping</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #assetsooltipReference
                    [position]="'mouse'"
                    [content]="'Track and manage all assets of your facilty'">

                    <a routerLink="/suite/assets/dashboard">
                        <figure>
                            <img src="../../../assets/images/modules/assets.png" class="home-icons" />
                            <figcaption>Assets</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

        </div>

		<!-- -----------------------------------------------------------------------------
        new row -->

        <div class="row">

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #settingsTooltipReference
                    [position]="'mouse'"
                    [content]="'Set configuarations for your modules'">

                    <a routerLink="/suite/settings/dashboard">
                        <figure>
                            <img src="../../../assets/images/modules/settings.png" class="home-icons" />
                            <figcaption>Settings</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

		    </div>

    </div>

    <!-- --------------------------------------------------------------------------------------------- -->

    <div *ngIf="this.isActive == false; then createAccountBlock"></div>

    <ng-template #createAccountBlock>
        <div class="row text-center home-create-button-div">
            <div class="col-md-12">
                <button class="btn btn-lg btn-danger create-btn" (click)="createAccount()">create Hotel account</button>
            </div>
        </div>
    </ng-template>

</div>
