<jqxWindow #addPaymentReference
    [width]="540"
    [height]="240"
    [autoOpen]="false">

    <div>Add New Payment</div>

    <div>

        <div>
            <div class="edit-dialog-label-alt">Payment ID</div>
            <div class="edit-dialog-field-alt">
                <jqxInput #paymentCodeReference
                    [width]="'100%'"
                    [height]="25"
                ></jqxInput>
            </div>
        </div>

        <div>
            <div class="edit-dialog-label-alt">Payment Date</div>
            <div class="edit-dialog-field-alt">
                <jqxDateTimeInput #paymentDateReference
                    [width]="'100%'"
                    [height]="25"
                    [formatString]="'yyyy-MM-dd'"
                ></jqxDateTimeInput>
            </div>
        </div>

        <div>
            <div class="edit-dialog-label-alt">Bill ID</div>
            <div class="edit-dialog-field-alt">
                <jqxInput #billCodeReference
                    [width]="'90%'"
                    [height]="25"
                    [disabled]="true"
                ></jqxInput>
                <jqxButton #selectBillButton (click)="selectBill.openWindow()"
                    [width]="'10%'"
                    [height]="25"
                >...</jqxButton>
            </div>
        </div>

        <div>
            <div class="edit-dialog-label-alt">Patient Name</div>
            <div class="edit-dialog-field-alt">
                <jqxInput #patientNameReference
                    [width]="'100%'"
                    [height]="25"
                    [disabled]="true"
                ></jqxInput>
            </div>
        </div>

        <div>
            <div class="edit-dialog-label-alt">Patient ID</div>
            <div class="edit-dialog-field-alt">
                <jqxInput #patientCodeReference
                    [width]="'100%'"
                    [height]="25"
                    [disabled]="true"
                ></jqxInput>
            </div>
        </div>

        <div>
            <div class="edit-dialog-field-alt edit-dialog-buttons-alt">
                <jqxButton #cancelButtonReference (click)="closeWindow()"
                >Cancel</jqxButton>

                <jqxButton #saveButtonReference (click)="savePayment()"
                >Save</jqxButton>
            </div>
        </div>

    </div>

</jqxWindow>

<!-- select patient, admission, and bill components -->

<app-select-bill #selectBillComponentReference
    (billEvent)="billSelected($event)"
></app-select-bill>

<!-- http loader spinner and connection notification components -->

<app-loading-spinner #loadingSpinnerComponentReference></app-loading-spinner>

<app-connection-notification #connectionNotificationComponentReference></app-connection-notification>
