<div class="row">
    <div class="col-md-12">
        <h4>Edit Assessment</h4>
    </div>
</div>

<div class="row top-button-row">
    <div class="col-md-9">
        <jqxButton #buttonReference class="float-right"
            [width]="150"
            [height]="30"
        >Refresh Sheet</jqxButton>
    </div>
</div>

<div class="row">
    <div class="col-md-9">
        <jqxGrid #gridReference
            [width]="'100%'"
            [autoheight]="true"
            [rowsheight]="24"
            [sortable]="true"
            [pageable]="true"
            [pagermode]="'simple'"
            [columns]="columns"
        ></jqxGrid>
    </div>
</div>
