<div class="row top-button-row">
    <div class="col-md-12">
        <jqxButton #addDayButtonReference (click)="addDayComponentReference.openWindow()" class="mr-2"
            [width]="150"
            [height]="30"
        >Add New Day</jqxButton>

        <jqxButton #refereshButtonReference (click)="refreshSheet()"
            [width]="150"
            [height]="30"
        >Refresh Sheet</jqxButton>

        <jqxButton #sheetButtonReference class="float-right" routerLink="/suite/attendance/check-attendance"
            [width]="150"
            [height]="30"
        >Check Attendance</jqxButton>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <jqxGrid #sheetGridReference
            [width]="'100%'"
            [height]="400"
            [rowsheight]="25"
            [filterable]="true"
            [showfilterrow]="true"
            [source]="dataAdapter"
            [columns]="sheetColumns"
            [sortable]="true"
        ></jqxGrid>
    </div>
</div>

<!-- add day component -->

<app-add-day #addDayComponentReference (addDayEvent)="addNewDay($event)"></app-add-day>

<!-- http loader spinner and connection notification components -->

<app-loading-spinner #loadingSpinnerComponentReference></app-loading-spinner>

<app-connection-notification #connectionNotificationComponentReference></app-connection-notification>
