<jqxWindow #appointmentWindowReference
    [width]="612"
    [height]="400"
    [autoOpen]="false">

    <div>Select Appointment Source</div>

    <div>
        <jqxGrid #appointmentGridReference (onRowdoubleclick)="rowSelect($event)"
            [width]="'100%'"
            [height]="350"
            [rowsheight]="24"
            [source]="dataAdapter"
            [selectionmode]="'singlerow'"
            [sortable]="true"
            [filterable]="true"
            [showfilterrow]="true"
            [columns]="columns"
        ></jqxGrid>
    </div>

</jqxWindow>
