<div class="row">
    <div class="col-md-7">

        <div class="row mb-3">
            <div class="col-md-12">
                <h4>Dispense Details</h4>
            </div>
        </div>

        <div class="row top-button-row">
            <div class="col-md-12">
                <jqxButton #buttonReference (click)="addDetail.openWindow()"
                    [width]="150"
                    [height]="30"
                >Add Drug</jqxButton>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <jqxGrid #dispenseGridReference (onRowdoubleclick)="editDetail.openWindow($event)"
                    [width]="'100%'"
                    [autoheight]="true"
                    [source]="dispenseDataAdapter"
                    [rowsheight]="40"
                    [columns]="dispenseColumns"
                ></jqxGrid>
            </div>

        </div>

    </div>

    <div class="col-md-5">
        <div class="row mb-3">
            <div class="col-md-12">
                <h4>Dispense Prescription Source</h4>
            </div>
        </div>

        <jqxGrid #prescriptionsGridReference
            [width]="'100%'"
            [height]="200"
            [source]="prescriptionsDataAdapter"
            [rowsheight]="36"
            [columns]="prescriptionsColumns"
        ></jqxGrid>
    </div>
</div>

<!-- add and edit medicine detail components -->

<app-add-detail #addDetailComponentReference
    (addCommit)="onAddCommit($event)"
></app-add-detail>

<app-edit-detail #editDetailComponentReference
    (editCommit)="onEditCommit($event)"
    (deleteCommit)="onDeleteCommit($event)"
></app-edit-detail>

<!-- http loader spinner and connection notification components -->

<app-loading-spinner #loadingSpinnerComponentReference></app-loading-spinner>

<app-connection-notification #connectionNotificationComponentReference></app-connection-notification>
