<div class="row mx-2">
    <div class="col-md-6">

        <br />

        <div class="row">
            <div class="col-md-12">
                <h5>Contact Details</h5>
            </div>
        </div>

        <br />

        <div class="row">
            <div class="col-md-4"><label>Phone No. :</label></div>
            <div class="col-md-8">
                <jqxInput #phoneReference
                    [width]="'100%'"
                    [height]="32"
                ></jqxInput>
            </div>
        </div>

        <br />

        <div class="row">
            <div class="col-md-4"><label>Email :</label></div>
            <div class="col-md-8">
                <jqxInput #emailReference
                    [width]="'100%'"
                    [height]="32"
                ></jqxInput>
            </div>
        </div>

        <br />

        <div class="row">
            <div class="col-md-4"><label>Address :</label></div>
            <div class="col-md-8">
                <jqxTextArea #addressReference
                    [width]="'100%'"
                    [height]="65"
                ></jqxTextArea>
            </div>
        </div>

        <br />

        <div class="row page-form-div">
            <div class="col-md-12 textarea-button">
                <jqxButton #saveContactButtonReference class="float-right"
                    (click)="emitContact()"
                    [width]="100"
                    [height]="32"
                >Save</jqxButton>
            </div>
        </div>

    </div>
</div>
