<jqxWindow #newAppraisalReference
    [width]="540"
    [height]="280"
    [autoOpen]="false">

    <div>Add New Appraisal</div>

    <div>

        <div>
            <div class="edit-dialog-label-alt">Appraisal ID</div>
            <div class="edit-dialog-field-alt">
                <jqxInput #appraisalCodeReference
                    [width]="'100%'"
                    [height]="25"
                ></jqxInput>
            </div>
        </div>

        <div>
            <div class="edit-dialog-label-alt">Employee Name</div>
            <div class="edit-dialog-field-alt">
                <jqxInput #employeeNameReference
                    [width]="'90%'"
                    [height]="25"
                    [disabled]="true"
                ></jqxInput>
                <jqxButton #selectEmployeeButton
                    [width]="'10%'"
                    [height]="25"
                >...</jqxButton>
            </div>
        </div>

        <div>
            <div class="edit-dialog-label-alt">Employee ID</div>
            <div class="edit-dialog-field-alt">
                <jqxInput #employeeCodeReference
                    [width]="'90%'"
                    [height]="25"
                    [disabled]="true"
                ></jqxInput>
                <jqxButton #selectEmployeeButton
                    [width]="'10%'"
                    [height]="25"
                >...</jqxButton>
            </div>
        </div>

        <div>
            <div class="edit-dialog-label-alt">Start Date</div>
            <div class="edit-dialog-field-alt">
                <jqxDateTimeInput #startDateReference
                    [width]="'100%'"
                    [height]="25"
                    [formatString]="'yyyy-MM-dd'"
                ></jqxDateTimeInput>
            </div>
        </div>

        <div>
            <div class="edit-dialog-label-alt">End Date</div>
            <div class="edit-dialog-field-alt">
                <jqxDateTimeInput #endDateReference
                    [width]="'100%'"
                    [height]="25"
                    [formatString]="'yyyy-MM-dd'"
                ></jqxDateTimeInput>
            </div>
        </div>

        <div>
            <div class="edit-dialog-label-alt">Supervisor</div>
            <div class="edit-dialog-field-alt">
                <jqxInput #supervisorReference
                    [width]="'100%'"
                    [height]="25"
                ></jqxInput>
            </div>
        </div>

        <div>
            <div class="edit-dialog-field-alt edit-dialog-buttons-alt">
                <jqxButton #cancelButtonReference (click)="closeWindow()"
                >Cancel</jqxButton>

                <jqxButton #saveButtonReference (click)="saveAppraisal()"
                >Save</jqxButton>
            </div>
        </div>

    </div>

</jqxWindow>

<!-- http loader spinner and connection notification components -->

<app-loading-spinner #loadingSpinnerComponentReference></app-loading-spinner>

<app-connection-notification #connectionNotificationComponentReference></app-connection-notification>
