<div class="row page-form-div">

    <div class="col-md-12">
        <h4>Leave Details</h4>
    </div>

    <div class="col-md-6">

        <div class="row">
            <div class="col-md-4"><label>Leave ID :</label></div>
            <div class="col-md-8">
                <jqxInput #leaveCodeReference
                    [width]="'100%'"
                    [height]="28"
                ></jqxInput>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4"><label>Employee Name :</label></div>
            <div class="col-md-8">
                <jqxInput #employeeNameReference
                    [width]="'88%'"
                    [height]="25"
                    [disabled]="true"
                ></jqxInput>
                <jqxButton #selectTermButton
                    [width]="'10%'"
                    [height]="25"
                >...</jqxButton>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4"><label>Employee ID :</label></div>
            <div class="col-md-8">
                <jqxInput #employeeCodeReference
                    [width]="'88%'"
                    [height]="25"
                    [disabled]="true"
                ></jqxInput>
                <jqxButton #selectTermButton
                    [width]="'10%'"
                    [height]="25"
                >...</jqxButton>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4"><label>Date Requested :</label></div>
            <div class="col-md-8">
                <jqxDateTimeInput #dateRequestedReference
                    [width]="'100%'"
                    [height]="28"
                    [formatString]="'yyyy-MM-dd'"
                ></jqxDateTimeInput>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4"><label>Leave Type :</label></div>
            <div class="col-md-8">
                <jqxDropDownList #leaveTypeReference
                    [width]="'100%'"
                    [height]="28"
                ></jqxDropDownList>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4"><label>Leave Status :</label></div>
            <div class="col-md-8">
                <jqxDropDownList #statusReference
                    [width]="'100%'"
                    [height]="28"
                ></jqxDropDownList>
            </div>
        </div>

    </div>

    <div class="col-md-6">

        <div class="row">
            <div class="col-md-4"><label>From Date :</label></div>
            <div class="col-md-8">
                <jqxDateTimeInput #fromDateReference
                    [width]="'100%'"
                    [height]="28"
                    [formatString]="'yyyy-MM-dd'"
                ></jqxDateTimeInput>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4"><label>To Date :</label></div>
            <div class="col-md-8">
                <jqxDateTimeInput #toDateReference
                    [width]="'100%'"
                    [height]="28"
                    [formatString]="'yyyy-MM-dd'"
                ></jqxDateTimeInput>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4"><label>Duration :</label></div>
            <div class="col-md-8">
                <jqxNumberInput #durationReference
                    [width]="'100%'"
                    [height]="28"
                    [inputMode]="'simple'"
                    [decimalDigits]="0"
                    [spinButtons]="true"
                ></jqxNumberInput>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4"><label>Reason :</label></div>
            <div class="col-md-8">
                <jqxTextArea #reasonReference
                    [width]="'100%'"
                    [height]="45"
                ></jqxTextArea>
            </div>
        </div>

    </div>

</div>

<hr />
