<div class="container">

    <div class="module-heading row">
        <div class="col-md-12">

            <a href="#" (click)="this.suiteRoutes.goHome($event)"><h3>Home</h3></a>
            <span class="fa fa-angle-double-right"></span>
            <a href="#" (click)="this.suiteRoutes.goAdminDashboard($event)"><h3>Admin</h3></a>
            <span class="fa fa-angle-double-right"></span>
            <a href="#" (click)="this.suiteRoutes.goAdminInvitations($event)"><h3>Invitations</h3></a>
            <span class="fa fa-angle-double-right"></span>
            <h3>View Invitation</h3>

            <hr class="header-line" />
            <hr class="header-line" />

        </div>
    </div>

    <div class="row">
        <div class="col-md-8">

            <div class="row">
                <div class="col-md-2 text-muted"><label class="float-right">Date</label></div>
                <div class="col-md-5">Sun, 5th June, 2020. 10:00 AM</div>
            </div>

            <br />

            <div class="row">
                <div class="col-md-2 text-muted"><label class="float-right">To</label></div>
                <div class="col-md-5">
                    <label class="text-muted"><em><small>Name :</small></em></label><br />
                    Mary Russel
                </div>
                <div class="col-md-5">
                    <label class="text-muted"><em><small>Location :</small></em></label><br />
                    Florida, Miami - USA
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-md-2 text-muted"><label class="float-right">Status</label></div>
                <div class="col-md-5">Awaiting</div>
            </div>

            <br />

            <div class="row">
                <div class="col-md-2 text-muted"><label class="float-right">Code</label></div>
                <div class="col-md-10">
                    <b>254866</b>
                    <p><small class="text-info">Give this secret code to the person being invited</small></p>
                </div>
            </div>

        </div>
    </div>

</div>
