<app-topnav [headings]="navHeading"></app-topnav>

<div class="container">

    <div class="row">
        <div class="col-md-8">

            <div class="row mb-3">
                <div class="col-md-3 text-muted"><label class="float-right">Invitation Date :</label></div>
                <div class="col-md-9">{{invitation?.date_sent | date: 'MMMM d, y, hh:mm:ss a'}}</div>
            </div>

            <div class="row mb-3">
                <div class="col-md-3 text-muted"><label class="float-right">Invitee :</label></div>
                <div class="col-md-9">
                    <div class="col-md-2">
                        <img src="../../../../../assets/images/utilities/photo-avatar.jpg" alt="" width="40" height="40" class="rounded-circle" />
                    </div>
                    <div class="col-md-5">
                        {{invitation?.user.name}}
                    </div>
                    <div class="col-md-5">
                        {{invitation?.user.location}}
                    </div>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-md-3 text-muted"><label class="float-right">Invitation Status :</label></div>
                <div class="col-md-9">{{invitation?.invitation_status}}</div>
            </div>

            <div *ngIf="invitation?.invitation_status == 'Awaiting'" class="row">
                <div class="offset-md-3 col">
                    <jqxButton #cancelButtonReference
                        [width]="150"
                        [height]="32"
                    >Cancel Invitation</jqxButton>
                </div>
            </div>

        </div>
    </div>

</div>

<!-- http loader spinner and connection notification components -->

<app-connection-notification #connectionNotificationComponentReference></app-connection-notification>
