<div class="row">
    <div class="col-md-12">
        <h4 class="form-heading">General Charges</h4>
    </div>
</div>

<div class="row top-button-row">
    <div class="col-md-12">
        <jqxButton #buttonReference (click)="addGeneralBillComponentReference.openWindow()"
            [width]="150"
            [height]="30"
        >Add Item</jqxButton>
    </div>
</div>

<jqxGrid #gridReference (onRowdoubleclick)="editGeneralBillComponentReference.openWindow($event)"
    [width]="'100%'"
    [autoheight]="true"
    [source]="dataAdapter"
    [rowsheight]="24"
    [showstatusbar]="true"
    [showaggregates]="true"
    [columns]="columns"
></jqxGrid>

<!-- add and edit general bill dialogue windows -->

<app-add-general #addGeneralBillComponentReference
    (addCommit)="onAddCommit($event)"
></app-add-general>

<app-edit-general #editGeneralBillComponentReference
    (editCommit)="onEditCommit($event)"
    (deleteCommit)="onDeleteCommit($event)"
></app-edit-general>

<!-- http loader spinner and connection notification components -->

<app-loading-spinner #loadingSpinnerComponentReference></app-loading-spinner>

<app-connection-notification #connectionNotificationComponentReference></app-connection-notification>
