<div class="row top-button-row">
    <div class="col-md-12">
        <jqxButton #refereshButtonReference (click)="refreshSheet()"
            [width]="150"
            [height]="30"
        >Refresh Sheet</jqxButton>

        <jqxButton #sheetButtonReference class="float-right" routerLink="/suite/attendance/check-attendance"
            [width]="150"
            [height]="30"
        >Check Attendance</jqxButton>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <jqxGrid #sheetGridReference
            [width]="'100%'"
            [autoheight]="true"
            [rowsheight]="25"
            [source]="dataAdapter"
            [columns]="sheetColumns"
            [sortable]="true"
        ></jqxGrid>
    </div>
</div>

<!-- http loader spinner and connection notification components -->

<app-connection-notification #connectionNotificationComponentReference></app-connection-notification>
