<div class="row">
    <div class="col-md-7">

        <div class="row">
            <div class="col-md-12">
                <h4>Order Details</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div>
                    <jqxGrid #detailsGridReference
                        [width]="'100%'"
                        [autoheight]="true"
                        [rowsheight]="24"
                        [showemptyrow]="false"
                        [selectionmode]="'singlerow'"
                        [showeverpresentrow]="true"
                        [everpresentrowactions]="'add update delete reset'"
                        [showstatusbar]="true"
                        [showaggregates]="true"
                        [columns]="columns"
                    ></jqxGrid>
                </div>
            </div>
        </div>

    </div>
</div>