<app-topnav [headings]="navHeading"></app-topnav>

<div class="container">

    <div class="row top-button-row">
        <div class="col-md-12">
            <jqxButton #newSittingReference (click)="newSittingWindowReference.openWindow()"
                [width]="150"
                [height]="30"
            >New Sitting</jqxButton>

            <jqxButton #printReference class="float-right"
                [width]="100"
                [height]="28"
            ><i class="fa fa-fw fa-print"></i> Print</jqxButton>
        </div>
    </div>

    <div class="row">
        <div class="col-md-7">
            <jqxGrid #gridReference (onRowdoubleclick)="viewSittingWindowReference.openWindow($event)"
                [width]="'100%'"
                [height]="450"
                [source]="dataAdapter"
                [sortable]="true"
                [filterable]="true"
                [showfilterrow]="true"
                [columns]="columns"
            ></jqxGrid>
        </div>
    </div>

</div>

<!-- add sitting dialog window -->
<app-new-sitting #newSittingWindowReference
    (addCommit)="onAddCommit($event)"
></app-new-sitting>

<!-- edit sitting dialog window -->
<app-view-sitting #viewSittingWindowReference
    (editCommit)="onEditCommit($event)"
    (deleteCommit)="onDeleteCommit($event)"
></app-view-sitting>

<!-- http loader spinner and connection notification components -->

<app-loading-spinner #loadingSpinnerComponentReference></app-loading-spinner>

<app-connection-notification #connectionNotificationComponentReference></app-connection-notification>
