<div class="bg-darker text-center" id="homeTopDiv">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <h1 class="primary-caption">Do more with ease!</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1 class="secondary-caption">Run all of your institution's operations with efficiency on a single system</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <a href="#" (click)="signup($event)">
                    <button class="portal-btn btn btn-lg btn-danger">create netRink account</button>
                </a>
            </div>
        </div>

    </div>
</div>

<div class="bg-light" id="homeBottomDiv">
    <div class="container">

        <div class="row">
            <div class="col-md-3">
                <img src="../../../assets/images/features/easy_use.png" height="40" width="40">
                <br>
                <h3 class="feature-title">Easy to use</h3>
                <h4 class="feature-description">Clear and concise interface to get you started quickly</h4>
            </div>
            <br>
            <div class="col-md-3">
                <img src="../../../assets/images/features/single_signon.png" height="40" width="40">
                <br>
                <h3 class="feature-title">Single sign-on</h3>
                <h4 class="feature-description">Use one set of credentials to access all netRink products</h4>
            </div>
            <br>
            <div class="col-md-3">
                <img src="../../../assets/images/features/cost_savings.png" height="40" width="40">
                <br>
                <h3 class="feature-title">Cost savings</h3>
                <h4 class="feature-description">Get regular, instant updates and new features at no additional costs</h4>
            </div>
            <br>
            <div class="col-md-3">
                <img src="../../../assets/images/features/file_access.png" height="40" width="40">
                <br>
                <h3 class="feature-title">Easy file access</h3>
                <h4 class="feature-description">Access your files from anywhere and on any device</h4>
            </div>
            <br>
        </div>

        <br>

        <div class="row">
            <div class="col-md-3">
                <img src="../../../assets/images/features/highly_scalable.png" height="40" width="40">
                <br>
                <h3 class="feature-title">Highly scalable</h3>
                <h4 class="feature-description">Upgrade or downgrade your plan as your requirements change</h4>
            </div>
            <br>
            <div class="col-md-3">
                <img src="../../../assets/images/features/feature_rich.png" height="40" width="40">
                <br>
                <h3 class="feature-title">Feature rich</h3>
                <h4 class="feature-description">Countless functional capabilties avialable to see you through</h4>
            </div>
            <br>
            <div class="col-md-3">
                <img src="../../../assets/images/features/data_security.png" height="40" width="40">
                <br>
                <h3 class="feature-title">Data Security</h3>
                <h4 class="feature-description">Secure connection and data storage on reliable cloud servers</h4>
            </div>
            <br>
            <div class="col-md-3">
                <img src="../../../assets/images/features/low_maintenance.png" height="40" width="40">
                <br>
                <h3 class="feature-title">Low maintenace cost</h3>
                <h4 class="feature-description">Little to no upfront fees for equipment setup and maintenace</h4>
            </div>
            <br>
        </div>

    </div>
</div>
