.bg-darker {
    background-color: #78797a !important;
}

.primary-caption {
    font-size: 62px;
    color: #fffd;
    padding-top: 60px;
}

.secondary-caption {
    font-size: 25px;
    color: #fffa;
    padding: 15px 0;
}

.portal-btn {
    margin: 30px 0 60px;
}

#homeBottomDiv {
    padding: 80px 0;
}

.feature-title {
    font-size: 25px;
    color: #000b;
    padding: 7px 0;
}

.feature-description {
    font-size: 18px;
    color: #0008;
    padding-bottom: 23px;
}
