<app-topnav [headings]="navHeading"></app-topnav>

<div class="container">

    <!-- new page form -->

    <app-fees-form #feesFormComponentReference></app-fees-form>

    <div class="row page-form-div">
        <div class="col-md-12">

            <jqxButton #printReference
                [width]="100"
                [height]="28"
            ><i class="fa fa-fw fa-print"></i> Print</jqxButton>

            <jqxButton #cancelButtonReference class="float-right" routerLink="/suite/fees/all-fees"
                [width]="100"
                [height]="28"
            >Cancel</jqxButton>

            <jqxButton #deleteButtonReference class="float-right" (click)="this.deleteFees()"
                [width]="100"
                [height]="28"
            >Delete</jqxButton>

            <jqxButton #saveButtonReference class="float-right" (click)="this.saveFees()"
                [width]="100"
                [height]="28"
            >Save</jqxButton>

        </div>
    </div>

    <hr class="top-divider" />
    <hr class="bottom-divider" />

    <!-- fees details table -->

    <app-fees-details></app-fees-details>

</div>
