<app-topnav [headings]="navHeading"></app-topnav>

<div class="container">

    <div class="row page-form-div">
        <div class="col-md-6">

            <h4 class="form-heading">Fees Details</h4>

            <div class="row">
                <div class="col-md-4"><label>Fees ID :</label></div>
                <div class="col-md-8">
                    <jqxInput #feesCodeReference
                        [width]="'100%'"
                        [height]="28"
                    ></jqxInput>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4"><label>Fees Description :</label></div>
                <div class="col-md-8">
                    <jqxInput #feesDescriptionReference
                        [width]="'100%'"
                        [height]="28"
                    ></jqxInput>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4"><label>Fees Date :</label></div>
                <div class="col-md-8">
                    <jqxDateTimeInput #feesDateReference
                        [width]="'100%'"
                        [height]="28"
                        [formatString]="'yyyy-MM-dd'"
                    ></jqxDateTimeInput>
                </div>
            </div>

            <hr />

        </div>

        <div class="offset-md-1 col-md-5 mt-5">
            <jqxButton #generateBillsButtonReference (click)="generateBill()"
                [width]="160"
                [height]="33"
            >Generate Bills</jqxButton>
            <br />
            <jqxButton #generateBillsButtonReference routerLink="/suite/fees/all-bills" class="mt-3"
                [width]="160"
                [height]="33"
            >All Bills</jqxButton>
        </div>
    </div>

    <div class="row page-form-div">
        <div class="col-md-6">

            <h4 class="form-heading">Target Class(es)</h4>

            <div class="row top-button-row">
                <div class="col-md-12">
                    <jqxButton #addItemButtonReference (click)="selectClassComponentReference.openWindow()"
                        [width]="120"
                        [height]="25"
                    >Add Class</jqxButton>
                </div>
            </div>
  
            <jqxGrid #gridReference
                [width]="'100%'"
                [height]="110"
                [rowsheight]="24"
                [columns]="columns"
                [source]="dataAdapter"
            ></jqxGrid>

            <!-- select class component -->

            <app-select-class #selectClassComponentReference
                (classEvent)="classSelected($event)"
            ></app-select-class>

        </div>
    </div>    

    <div class="row page-form-div">
        <div class="col-md-6">

            <hr />

            <jqxButton #printReference
                [width]="100"
                [height]="28"
            ><i class="fa fa-fw fa-print"></i> Print</jqxButton>

            <jqxButton #cancelButtonReference class="float-right" routerLink="/suite/fees/all-fees"
                [width]="100"
                [height]="28"
            >Cancel</jqxButton>

            <jqxButton #deleteButtonReference class="float-right" (click)="this.deleteFees()"
                [width]="100"
                [height]="28"
            >Delete</jqxButton>

            <jqxButton #saveButtonReference class="float-right" (click)="this.saveFees()"
                [width]="100"
                [height]="28"
            >Save</jqxButton>

        </div>
    </div>
    
    <!-- fees details table -->

    <app-fees-details></app-fees-details>

</div>

<!-- http loader spinner and connection notification components -->

<app-loading-spinner #loadingSpinnerComponentReference></app-loading-spinner>

<app-connection-notification #connectionNotificationComponentReference></app-connection-notification>

<!-- delete confirmation window sub component -->

<app-delete-confirm #deleteConfirmComponentReference (confirmEvent)="deleteConfirmationSelected($event)"></app-delete-confirm>
