.navbar-brand {
	font-size: 26px;
	padding: 4px;
}

.nav-form button {
	width: 90px;
}

.nav-form .nav-link {
	padding: 0 4px;
}

#navDropdownMenu {
  z-index: 1500;
}

.dropdown-menu i{
  padding-right: 6px;
}

.btn-outline-light:hover,
.btn-outline-light:visited,
.btn-outline-light:focus,
.btn-outline-light:active{
	color: #f8f9fc;
	background-color: transparent;
}
