<nav class="navbar navbar-dark navbar-expand-sm bg-dark" id="mainNavbar">	
	<div class="container">

		<div class="navbar-header">
			<a href="#" (click)="goHome($event)" class="navbar-brand">{{navBrand}}</a>
		</div>

		<form class="form-inline nav-form">
			<a (click)="login($event)" class="nav-link">
				<button class="btn btn-secondary nav-item" type="button">Log in</button>
			</a>
			<a (click)="signup($event)" class="nav-link">
				<button class="btn btn-secondary nav-item" type="button">Sign up</button>
			</a>
		</form>

	</div>
</nav>