<div class="row">
  <div class="col-md-12">
      <h4>Order Details</h4>
  </div>
</div>

<div class="row">
    <div class="col-md-6">

        <div class="card shadow">
            <div class="card-body">

                <div class="row mb-2">
                    <div class="col-md-4">Order ID :</div>
                    <div class="col-md-8">{{orderDetail.order_code}}</div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-4">Order Date :</div>
                    <div class="col-md-8">{{orderDetail.order_date}}</div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-4">Customer :</div>
                    <div class="col-md-8">{{orderDetail.customer}}</div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-4">Order Type :</div>
                    <div class="col-md-8">{{orderDetail.order_type}}</div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-4">Order Status :</div>
                    <div class="col-md-8">{{orderDetail.order_status}}</div>
                </div>

            </div>
        </div>

    </div>
</div>

<!-- http loader spinner and connection notification components -->

<app-loading-spinner #loadingSpinnerComponentReference></app-loading-spinner>
