<div class="container">

    <div class="module-heading row">
        <div class="col-md-12">

            <a href="#" (click)="this.suiteRoutes.goHome($event)"><h3>Home</h3></a>
            <span class="fa fa-angle-double-right"></span>
            <a href="#" (click)="this.suiteRoutes.goPaymentsAll($event)"><h3>Payments</h3></a>
            <span class="fa fa-angle-double-right"></span>
            <h3>View Payment</h3>

            <hr class="header-line" />
            <hr class="header-line" />

        </div>
    </div>

    <!-- --------------------------------------------------------------------------------------------- -->

    <!-- payment page form -->

    <div class="row page-form-div">
        <div class="col-md-6">

            <div class="row">
                <div class="col-md-4"><label>Payment ID :</label></div>
                <div class="col-md-8">
                    <jqxInput #paymentCodeReference
                        [width]="'100%'"
                        [height]="28"
                    ></jqxInput>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4"><label>Payment Date :</label></div>
                <div class="col-md-8">
                    <jqxDateTimeInput #paymentDateReference
                        [width]="'100%'"
                        [height]="28"
                        [formatString]="'yyyy-MM-dd'"
                    ></jqxDateTimeInput>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4"><label>Patient Name :</label></div>
                <div class="col-md-8">
                    <jqxInput #patientNameReference
                        [width]="'100%'"
                        [height]="28"
                    ></jqxInput>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4"><label>Patient ID :</label></div>
                <div class="col-md-8">
                    <jqxInput #patientCodeReference
                        [width]="'100%'"
                        [height]="28"
                    ></jqxInput>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4"><label>Admission ID :</label></div>
                <div class="col-md-8">
                    <jqxInput #admissionCodeReference
                        [width]="'100%'"
                        [height]="28"
                    ></jqxInput>
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-md-4"><label>Bill ID :</label></div>
                <div class="col-md-8">
                    <jqxInput #billCodeReference
                        [width]="'100%'"
                        [height]="28"
                    ></jqxInput>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4"><label>Amount Due :</label></div>
                <div class="col-md-5">
                    <jqxNumberInput #amountDueReference
                        [width]="'100%'"
                        [height]="28"
                        [inputMode]="'simple'"
                        [symbol]="'$'"
                    ></jqxNumberInput>
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-md-4"><label>Amount Paid :</label></div>
                <div class="col-md-5">
                    <jqxNumberInput #amountPaidReference
                        [width]="'100%'"
                        [height]="28"
                        [inputMode]="'simple'"
                        [symbol]="'$'"
                    ></jqxNumberInput>
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-md-4"><label>Balance :</label></div>
                <div class="col-md-5">
                    <jqxNumberInput #balanceReference
                        [width]="'100%'"
                        [height]="28"
                        [inputMode]="'simple'"
                        [symbol]="'$'"
                    ></jqxNumberInput>
                </div>
            </div>

            <hr />

        </div>
    </div>


    <div class="row page-form-div">
        <div class="col-md-12">

            <div class="row">
                <div class="col-md-6">

                    <jqxButton #cancelButtonReference class="float-right"
                        [width]="100"
                        [height]="28"
                    >Cancel</jqxButton>

                    <jqxButton #deleteButtonReference class="float-right"
                        [width]="100"
                        [height]="28"
                    >Delete</jqxButton>

                    <jqxButton #saveButtonReference class="float-right"
                        [width]="100"
                        [height]="28"
                    >Save</jqxButton>

                </div>
            </div>

        </div>
    </div>

</div>
