<form [formGroup]="accountForm" (ngSubmit)="accountSubmit()">
    <div class="form-group row">
        <div class="col-md-12">
            <label>Email</label>
            <input type="email" class="form-control" formControlName="email" placeholder="Enter your email address" required autofocus>
            <div *ngFor="let emailError of emailErrors">
                <small class="text-danger">{{emailError}}</small><br />
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-12">
            <label>Password</label>
            <input type="password" class="form-control" formControlName="password1" placeholder="Enter your password" required>
            <div *ngFor="let pass1Err of pass1Errors">
                <small class="text-danger">{{pass1Err}}</small><br />
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-12">
            <label>Confirm Password</label>
            <input type="password" class="form-control" formControlName="password2" placeholder="Enter your password again" required>
            <div *ngFor="let pass2Err of pass2Errors">
                <small class="text-danger">{{pass2Err}}</small><br />
            </div>
            <div *ngFor="let nfErr of nfErrors">
                <small class="text-danger">{{nfErr}}</small><br />
            </div>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-12">
            <button (click)="gotoProfile()" type="button" class="float-left btn btn-secondary mb-2">Back</button>
            <button type="submit" class="float-right btn btn-success mb-2">Submit</button>
        </div>
    </div>
</form>

<div class="row">
    <div class="col-md-12">
        <small class="text-center text-muted">
            <p>Already registered? <a href="#" (click)="gotoLogin($event)">Log in</a></p>
        </small>
    </div>
</div>
