<form [formGroup]="accountForm" (ngSubmit)="accountSubmit()">
    <div class="form-group row">
        <div class="col-md-12">
            <label>Email</label>
            <input type="email" class="form-control" formControlName="email" placeholder="Enter your email address" required autofocus>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-12">
            <label>Password</label>
            <input type="password" class="form-control" formControlName="password" placeholder="Enter your password" required>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-12">
            <label>Confirm Password</label>
            <input type="password" class="form-control" formControlName="confirm" placeholder="Enter your password again" required>
        </div>
    </div>
    
    <div class="row form-group">
        <div class="col-md-12">
            <button (click)="gotoProfile()" type="button" class="float-left btn btn-secondary mb-2">Back</button>
            <button type="submit" class="float-right btn btn-success mb-2">Submit</button>
        </div>
    </div>
</form>

<div class="row">
    <div class="col-md-12">
        <small class="text-center">
            <a href="#" (click)="gotoVerification($event)">
                <p>Verify an already created account</p>
            </a>
        </small>
    </div>
</div>    
<div class="row">
    <div class="col-md-12">
        <small class="text-center text-muted">
            <p>Already registered? <a href="#" (click)="gotoLogin($event)">Log in</a></p>
        </small>
    </div>
</div>