<div id="scrollBody" data-offset="50" data-spy="scroll" data-target="#scrollNavbar">

    <app-suite-scrollnav
        (aboutEvent)="gotoAbout()"
        (pricingEvent)="gotoPricing()"
        (contactEvent)="gotoContact()"
    ></app-suite-scrollnav>

    <app-user-top
        [source]="'shop'"
        [suiteName]="'Shop'"
        [accounts]="this.accounts"
        (selectAccount)="activateAccount($event)"
    ></app-user-top>

    <app-about id="aboutComponentReference"></app-about>
    <app-pricing id="pricingComponentReference"></app-pricing>
    <app-contact id="contactComponentReference"></app-contact>

    <app-main-footer></app-main-footer>

</div>
