<div>
    <div class="edit-dialog-label-alt">Material ID</div>
    <div class="edit-dialog-field-alt">
        <jqxInput #materialCodeReference
            [width]="'90%'"
            [height]="25"
            [disabled]="true"
        ></jqxInput>
        <jqxButton #materialButtonReference
            [width]="'10%'"
            [height]="25"
        >...</jqxButton>
    </div>
</div>

<div>
    <div class="edit-dialog-label-alt">Material Name</div>
    <div class="edit-dialog-field-alt">
        <jqxInput #materialNameReference
            [width]="'90%'"
            [height]="25"
            [disabled]="true"
        ></jqxInput>
        <jqxButton #materialButtonReference
            [width]="'10%'"
            [height]="25"
        >...</jqxButton>
    </div>
</div>

<div>
    <div class="edit-dialog-label-alt">Location</div>
    <div class="edit-dialog-field-alt">
        <jqxComboBox #locationReference
            [width]="'100%'"
            [height]="25"
        ></jqxComboBox>
    </div>
</div>

<div>
    <div class="edit-dialog-label-alt">Container</div>
    <div class="edit-dialog-field-alt">
        <jqxComboBox #containerReference
            [width]="'100%'"
            [height]="25"
        ></jqxComboBox>
    </div>
</div>

<div>
    <div class="edit-dialog-label-alt">Bin No.</div>
    <div class="edit-dialog-field-alt">
        <jqxComboBox #binNumberReference
            [width]="'100%'"
            [height]="25"
        ></jqxComboBox>
    </div>
</div>

<div>
    <div class="edit-dialog-label-alt">Quantity</div>
    <div class="edit-dialog-field-alt">
        <jqxNumberInput #quantityReference
            [width]="'100%'"
            [height]="25"
            [inputMode]="'simple'"
            [decimalDigits]="0"
            [spinButtons]="true"
        ></jqxNumberInput>
    </div>
</div>
