<app-topnav [headings]="navHeading"></app-topnav>

<div class="container">


    <div class="row top-button-row">
        <div class="col-md-12">
            <jqxButton #buttonReference (click)="addPrescriptionWindowReference.openWindow()"
                [width]="150"
                [height]="30"
            >Add Prescription</jqxButton>

            <jqxButton class="float-right"
                [width]="100"
                [height]="28"
            ><i class="fa fa-fw fa-print"></i> Print</jqxButton>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <jqxGrid #gridReference (onRowdoubleclick)="viewPrescription($event)"
                [width]="'100%'"
                [height]="450"
                [source]="dataAdapter"
                [sortable]="true"
                [filterable]="true"
                [showfilterrow]="true"
                [columns]="columns"
            ></jqxGrid>
        </div>
    </div>

</div>

<!-- add new bill popup window -->

<app-add-prescription #addPrescriptionWindowReference></app-add-prescription>

<!-- http loader spinner and connection notification components -->

<app-connection-notification #connectionNotificationComponentReference></app-connection-notification>
