<div class="row">
    <div class="col-md-8">

        <hr />

        <h4>Transanctions</h4>

        <div class="row top-button-row">
            <div class="col-md-12">
                <jqxButton #addButtonReference (click)="addTransactionComponentReference.openWindow()"
                    [width]="150"
                    [height]="30"
                >Add Transanction</jqxButton>
            </div>
        </div>

        <jqxGrid #gridReference
            (onBindingcomplete)="getTotalBalance()"
            (onRowdoubleclick)="editTransactionComponentReference.openWindow($event)"
            [width]="'100%'"
            [autoheight]="true"
            [source]="dataAdapter"
            [rowsheight]="24"
            [showemptyrow]="false"
            [selectionmode]="'singlerow'"
            [showstatusbar]="true"
            [showaggregates]="true"
            [columns]="columns"
        ></jqxGrid>

    </div>
</div>

<!-- add transanction popup window component -->

<app-add-transaction #addTransactionComponentReference (addCommit)="onAddCommit($event)"></app-add-transaction>

<!-- edit transanction popup window component -->

<app-edit-transaction #editTransactionComponentReference
    (editCommit)="onEditCommit($event)"
    (deleteCommit)="onDeleteCommit($event)"
></app-edit-transaction>

<!-- http loader spinner and connection notification components -->

<app-loading-spinner #loadingSpinnerComponentReference></app-loading-spinner>

<app-connection-notification #connectionNotificationComponentReference></app-connection-notification>
