<app-topnav [headings]="navHeading"></app-topnav>

<div class="container">

    <div class="row top-button-row">
        <div class="col-md-12">
            <jqxButton #newButtonReference (click)="addPlanComponentReference.openWindow()"
                [width]="150"
                [height]="30"
            >New Plan</jqxButton>

            <jqxButton #printReference class="float-right"
                [width]="100"
                [height]="28"
            ><i class="fa fa-fw fa-print"></i> Print</jqxButton>
        </div>
    </div>

    <div class="row">
        <div class="col-md-9">
            <jqxGrid #gridReference (onRowdoubleclick)="viewPlan($event)"
                [width]="'100%'"
                [height]="450"
                [source]="dataAdapter"
                [sortable]="true"
                [filterable]="true"
                [showfilterrow]="true"
                [columns]="columns"
            ></jqxGrid>
        </div>
    </div>

</div>

<!-- add plan popup dialog window -->

<app-add-plan #addPlanComponentReference></app-add-plan>

<!-- http loader spinner and connection notification components -->

<app-connection-notification #connectionNotificationComponentReference></app-connection-notification>
