<jqxWindow #noteWindowReference
    [width]="555"
    [height]="600"
    [autoOpen]="false">

    <div>Select Note Source</div>

    <div>
        <jqxGrid #noteGridReference (onRowdoubleclick)="rowSelect($event)"
            [width]="540"
            [height]="555"
            [source]="dataAdapter"
            [selectionmode]="'singlerow'"
            [sortable]="true"
            [filterable]="true"
            [showfilterrow]="true"
            [columns]="columns"
        ></jqxGrid>
    </div>

</jqxWindow>

<!-- http loader spinner and connection notification components -->

<app-connection-notification #connectionNotificationComponentReference></app-connection-notification>
