<jqxWindow #newReservationReference (onOpen)="reservationForm.reservationCode.focus()"
    [width]="540"
    [height]="310"
    [autoOpen]="false">

    <div>New Reservation</div>

    <div>

        <!-- reservation window form -->
        <app-reservation-form #reservationFormComponentReference></app-reservation-form>

        <div>
            <div class="edit-dialog-field-alt edit-dialog-buttons-alt">
                <jqxButton #cancelButtonReference (click)="closeWindow()"
                >Cancel</jqxButton>

                <jqxButton #saveButtonReference (click)="saveReservation()"
                >Save</jqxButton>
            </div>
        </div>

    </div>

</jqxWindow>

