<jqxWindow #newReservationReference 
    [width]="540" 
    [height]="310" 
    [autoOpen]="false">
    
    <div>New Reservation</div>

    <div>

        <!-- reservation window form -->
        <app-reservation-form></app-reservation-form>

        <div>
            <div class="edit-dialog-field-alt edit-dialog-buttons-alt">
                <jqxButton #cancelButtonReference
                >Cancel</jqxButton>

                <jqxButton #saveButtonReference
                >Save</jqxButton>
            </div>
        </div>

    </div>

</jqxWindow>
  
