<div class="row">
    <div class="col-md-8">

        <hr />

        <jqxGrid #gridReference
            [width]="'100%'"
            [autoheight]="true"
            [rowsheight]="24"
            [showemptyrow]="false"
            [selectionmode]="'singlerow'"
            [showeverpresentrow]="true"
            [everpresentrowactions]="'add update delete reset'"
            [showstatusbar]="true"
            [showaggregates]="true"
            [columns]="columns"
        ></jqxGrid>

    </div>
</div>