<div class="row">
    <div class="col-md-12">
        <h4>User Access Levels</h4>
    </div>
</div>

<div class="row">
    <div class="col-md-12">

        <table class="table bg-light">
            <thead>
                <tr>
                    <th>Module</th>
                    <th>Access</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Admin</td>
                    <td><jqxCheckBox #adminCheckBoxReference></jqxCheckBox></td>
                </tr>
                <tr>
                    <td>Customers</td>
                    <td><jqxCheckBox #customersCheckBoxReference></jqxCheckBox></td>
                </tr>
                <tr>
                    <td>Deliveries</td>
                    <td><jqxCheckBox #deliveriesCheckBoxReference></jqxCheckBox></td>
                </tr>
                <tr>
                    <td>Menu</td>
                    <td><jqxCheckBox #menuCheckBoxReference></jqxCheckBox></td>
                </tr>
                <tr>
                    <td>Orders</td>
                    <td><jqxCheckBox #ordersCheckBoxReference></jqxCheckBox></td>
                </tr>
                <tr>
                    <td>Payments</td>
                    <td><jqxCheckBox #paymentsCheckBoxReference></jqxCheckBox></td>
                </tr>
                <tr>
                    <td>Portal</td>
                    <td><jqxCheckBox #portalCheckBoxReference></jqxCheckBox></td>
                </tr>
                <tr>
                    <td>Settings</td>
                    <td><jqxCheckBox #settingsCheckBoxReference></jqxCheckBox></td>
                </tr>
                <tr>
                    <td>Staff</td>
                    <td><jqxCheckBox #staffCheckBoxReference></jqxCheckBox></td>
                </tr>
                <tr>
                    <td>Reservations</td>
                    <td><jqxCheckBox #reservationsCheckBoxReference></jqxCheckBox></td>
                </tr>
                <tr>
                    <td>Tables</td>
                    <td><jqxCheckBox #tablesCheckBoxReference></jqxCheckBox></td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
