<jqxWindow #newAttendanceReference
    [width]="540"
    [height]="280"
    [autoOpen]="false">

    <div>Add New Attendance</div>

    <div>

        <div>
            <div class="edit-dialog-label-alt">Attendance ID</div>
            <div class="edit-dialog-field-alt">
                <jqxInput #attendanceCodeReference
                    [width]="'100%'"
                    [height]="25"
                ></jqxInput>
            </div>
        </div>

        <div>
            <div class="edit-dialog-label-alt">Attendance Name</div>
            <div class="edit-dialog-field-alt">
                <jqxInput #attendanceNameReference
                    [width]="'100%'"
                    [height]="25"
                ></jqxInput>
            </div>
        </div>

        <div>
            <div class="edit-dialog-label-alt">Term</div>
            <div class="edit-dialog-field-alt">
                <jqxInput #termReference
                    [width]="'90%'"
                    [height]="25"
                    [disabled]="true"
                ></jqxInput>
                <jqxButton #selectTermButton (click)="selectTerm.openWindow()"
                    [width]="'10%'"
                    [height]="25"
                >...</jqxButton>
            </div>
        </div>

        <div>
            <div class="edit-dialog-label-alt">Source</div>
            <div class="edit-dialog-field-alt">
                <jqxInput #sourceReference
                    [width]="'90%'"
                    [height]="25"
                    [disabled]="true"
                ></jqxInput>
                <jqxButton #selectTermButton (click)="selectClass.openWindow()"
                    [width]="'10%'"
                    [height]="25"
                >...</jqxButton>
            </div>
        </div>

        <div>
            <div class="edit-dialog-label-alt">From</div>
            <div class="edit-dialog-field-alt">
                <jqxDateTimeInput #fromDateReference
                    [width]="'100%'"
                    [height]="25"
                    [formatString]="'yyyy-MM-dd'"
                ></jqxDateTimeInput>
            </div>
        </div>

        <div>
            <div class="edit-dialog-label-alt">To</div>
            <div class="edit-dialog-field-alt">
                <jqxDateTimeInput #toDateReference
                    [width]="'100%'"
                    [height]="25"
                    [formatString]="'yyyy-MM-dd'"
                ></jqxDateTimeInput>
            </div>
        </div>

        <div>
            <div class="edit-dialog-field-alt edit-dialog-buttons-alt">
                <jqxButton #cancelButtonReference (click)="closeWindow()"
                >Cancel</jqxButton>

                <jqxButton #saveButtonReference (click)="saveAttendance()"
                >Save</jqxButton>
            </div>
        </div>

    </div>

</jqxWindow>

<!-- select term and class components -->

<app-select-term #selectTermComponentReference
    (termEvent)="termSelected($event)"
></app-select-term>

<app-select-class #selectClassComponentReference
    (classEvent)="classSelected($event)"
></app-select-class>

<!-- http loader spinner and connection notification components -->

<app-loading-spinner #loadingSpinnerComponentReference></app-loading-spinner>

<app-connection-notification #connectionNotificationComponentReference></app-connection-notification>
