<div class="row">
    <div class="col-md-12">
        <h4>User Access Levels</h4>
    </div>
</div>

<div class="row">
    <div class="col-md-12">

        <table class="table bg-light">
            <thead>
                <tr>
                    <th>Module</th>
                    <th>Access</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Admin</td>
                    <td><jqxCheckBox #adminCheckBoxReference></jqxCheckBox></td>
                </tr>
                <tr>
                    <td>Cash Flow</td>
                    <td><jqxCheckBox cashflowCheckBoxReference></jqxCheckBox></td>
                </tr>
                <tr>
                    <td>Customers</td>
                    <td><jqxCheckBox #customersCheckBoxReference></jqxCheckBox></td>
                </tr>
                <tr>
                    <td>Inventory</td>
                    <td><jqxCheckBox #inventoryCheckBoxReference></jqxCheckBox></td>
                </tr>
                <tr>
                    <td>Invoice</td>
                    <td><jqxCheckBox #invoiceCheckBoxReference></jqxCheckBox></td>
                </tr>
                <tr>
                    <td>Marketting</td>
                    <td><jqxCheckBox #markettingCheckBoxReference></jqxCheckBox></td>
                </tr>
                <tr>
                    <td>Orders</td>
                    <td><jqxCheckBox #ordersCheckBoxReference></jqxCheckBox></td>
                </tr>
                <tr>
                    <td>Payables</td>
                    <td><jqxCheckBox #payablesCheckBoxReference></jqxCheckBox></td>
                </tr>
                <tr>
                    <td>Payments</td>
                    <td><jqxCheckBox #paymentsCheckBoxReference></jqxCheckBox></td>
                </tr>
                <tr>
                    <td>Products</td>
                    <td><jqxCheckBox #productsCheckBoxReference></jqxCheckBox></td>
                </tr>
                <tr>
                    <td>Portal</td>
                    <td><jqxCheckBox #portalCheckBoxReference></jqxCheckBox></td>
                </tr>
                <tr>
                    <td>Purchasing</td>
                    <td><jqxCheckBox #purchasingCheckBoxReference></jqxCheckBox></td>
                </tr>
                <tr>
                    <td>Receivables</td>
                    <td><jqxCheckBox #receivablesCheckBoxReference></jqxCheckBox></td>
                </tr>
                <tr>
                    <td>Sales</td>
                    <td><jqxCheckBox #salesCheckBoxReference></jqxCheckBox></td>
                </tr>
                <tr>
                    <td>Settings</td>
                    <td><jqxCheckBox #settingsCheckBoxReference></jqxCheckBox></td>
                </tr>
                <tr>
                    <td>Staff</td>
                    <td><jqxCheckBox #staffCheckBoxReference></jqxCheckBox></td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
