<div class="row">
    <div class="col-md-12">
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h4>Ward's Patients</h4>
    </div>
</div>

<div class="row top-button-row">
    <div class="col-md-12">
        <jqxButton #addPatientButtonReference (click)="addPatientWindowReference.openWindow()"
            [width]="150"
            [height]="30"
        >Add Patient</jqxButton>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <jqxGrid #patientsGridReference (onRowdoubleclick)="editPatientWindowReference.openWindow($event)"
            [width]="'100%'"
            [autoheight]="true"
            [source]="dataAdapter"
            [sortable]="true"
            [filterable]="true"
            [showfilterrow]="true"
            [columns]="columns"
        ></jqxGrid>
    </div>
</div>

<!-- add patient dialog window -->
<app-add-patient #addPatientWindowReference
    (addCommit)="onAddCommit($event)"
></app-add-patient>

<!-- edit patient dialog window -->
<app-edit-patient #editPatientWindowReference
    (editCommit)="onEditCommit($event)"
    (deleteCommit)="onDeleteCommit($event)"
></app-edit-patient>
