<jqxWindow #editStockReference
    [width]="540"
    [height]="280"
    [autoOpen]="false">

    <div>Edit Stock</div>

    <div>

        <!-- stock window form -->
        <app-stock-form #stockFormComponentReference></app-stock-form>

        <div>
            <div class="edit-dialog-field-alt edit-dialog-buttons-alt">
                <jqxButton #cancelButtonReference (click)="closeWindow()"
                >Cancel</jqxButton>

                <jqxButton #deleteButtonReference (click)="deleteStock()"
                >Delete</jqxButton>

                <jqxButton #saveButtonReference (click)="saveStock()"
                >Save</jqxButton>
            </div>
        </div>

    </div>

</jqxWindow>

