<jqxWindow #editPayableReference
    [width]="540"
    [height]="310"
    [autoOpen]="false">

    <div>Edit Payable</div>

    <div>

        <!-- payable window form -->
        <app-payable-form #payableFormComponentReference></app-payable-form>

        <div>
            <div class="edit-dialog-field-alt edit-dialog-buttons-alt">
                <jqxButton #printReference class="float-left ml-4"
                ><i class="fa fa-fw fa-print"></i> Print</jqxButton>

                <jqxButton #cancelButtonReference
                >Cancel</jqxButton>

                <jqxButton #deleteButtonReference (click)="deletePayable()"
                >Delete</jqxButton>

                <jqxButton #saveButtonReference (click)="savePayable()"
                >Save</jqxButton>
            </div>
        </div>

    </div>

</jqxWindow>

