<div class="container">

    <div class="module-heading row">
        <div class="col-md-12">

            <a href="#" (click)="this.suiteRoutes.goHome($event)"><h3>Home</h3></a>
            <span class="fa fa-angle-double-right"></span>
            <a href="#" (click)="this.suiteRoutes.goPortalTimeline($event)"><h3>Portal</h3></a>
            <span class="fa fa-angle-double-right"></span>
            <h3>Search</h3>

            <hr class="header-line" />
            <hr class="header-line" />

        </div>
    </div>

    <div class="row" id="searchDiv">
        <div class="col-md-8">

            <div class="row">
                <div class="offset-md-3 col-md-6">
                    <jqxInput #searchInputReference
                        [width]="'80%'"
                        [height]="30"
                    ></jqxInput>
                    <jqxButton #searchButtonReference (click)="sendSearch(this.searchInput.val())"
                        [width]="'20%'"
                        [height]="30"
                    >Search</jqxButton>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <router-outlet></router-outlet>
        </div>

        <div class="col-md-4">
            <app-recent-contacts></app-recent-contacts>
        </div>
    </div>

</div>
