<app-topnav [headings]="navHeading"></app-topnav>

<div class="container">

    <div class="row top-button-row">
        <div class="col-md-12">
            <jqxButton #addStockReference (click)="addStockWindowReference.openWindow()"
                [width]="150"
                [height]="30"
            >Add Stock</jqxButton>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10">

            <jqxGrid #gridReference (onRowdoubleclick)="editStockWindowReference.openWindow($event)"
                [width]="'100%'"
                [height]="450"
                [source]="dataAdapter"
                [rowsheight]="24"
                [showemptyrow]="false"
                [filterable]="true"
                [showfilterrow]="true"
                [columns]="columns"
            ></jqxGrid>

        </div>
    </div>

</div>

<!-- add stock dialog window -->
<app-add-stock #addStockWindowReference
    (addCommit)="onAddCommit($event)"
></app-add-stock>

<!-- edit stock dialog window -->
<app-edit-stock #editStockWindowReference
    (editCommit)="onEditCommit($event)"
    (deleteCommit)="onDeleteCommit($event)"
></app-edit-stock>

<!-- http loader spinner and connection notification components -->

<app-loading-spinner #loadingSpinnerComponentReference></app-loading-spinner>

<app-connection-notification #connectionNotificationComponentReference></app-connection-notification>
