<div class="container">

    <div class="module-heading row">
        <div class="col-md-12">

            <a href="#" (click)="this.suiteRoutes.goHome($event)"><h3>Home</h3></a>
            <span class="fa fa-angle-double-right"></span>
            <h3>Settings</h3>

            <hr class="header-line" />
            <hr class="header-line" />

        </div>
    </div>

    <div class="row">
        <div class="col-md-10">

            <div class="row">

                <div class="col-md-3">
                    <nav class="navbar-light bg-light">
                        <h4 class="nav-link text-muted">Settings</h4>
                        <ul class="nav navbar-nav list-unstyled components">
                            <li class="nav-item">
                                <a href="#" class="nav-link active" (click)="goToProfile($event)">Profile</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" (click)="goToGeneral($event)">General</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" (click)="goToPrivacy($event)">Privacy</a>
                            </li>
                        </ul>
                    </nav>
                </div>

                <div class="col-md-7">
                    <router-outlet></router-outlet>
                </div>

            </div>

        </div>
    </div>

</div>
