<jqxWindow #newLabReference
    [width]="540"
    [height]="180"
    [autoOpen]="false">

    <div>Add New Lab</div>

    <div>

        <div>
            <div class="edit-dialog-label">Lab ID</div>
            <div class="edit-dialog-field">
                <jqxInput #labCodeReference
                    [width]="'100%'"
                    [height]="25"
                ></jqxInput>
            </div>
        </div>

        <div>
            <div class="edit-dialog-label">Lab Date</div>
            <div class="edit-dialog-field">
                <jqxDateTimeInput #labDateReference
                    [width]="'100%'"
                    [height]="25"
                    [formatString]="'yyyy-MM-dd'"
                ></jqxDateTimeInput>
            </div>
        </div>

        <div>
            <div class="edit-dialog-label">Lab Type</div>
            <div class="edit-dialog-field">
                <jqxInput #labTypeReference
                    [width]="'100%'"
                    [height]="25"
                ></jqxInput>
            </div>
        </div>

        <div>
            <div class="edit-dialog-field edit-dialog-buttons">
                <jqxButton #cancelButtonReference
                >Cancel</jqxButton>

                <jqxButton #saveButtonReference (click)="saveLab()"
                >Save</jqxButton>
            </div>
        </div>

    </div>

</jqxWindow>

<!-- http loader spinner and connection notification components -->

<app-loading-spinner #loadingSpinnerComponentReference></app-loading-spinner>

<app-connection-notification #connectionNotificationComponentReference></app-connection-notification>
