<div class="container">
            
    <div class="module-heading row">
        <div class="col-md-12">
                
            <a href="#"><h3>Home</h3></a>
            <span class="fa fa-angle-double-right"></span>
            <h3>Bills</h3>
            
            <hr class="header-line" />
            <hr class="header-line" />
        
        </div>
    </div>

    <!-- --------------------------------------------------------------------------------------------------- -->

    <div class="row top-button-row">
        <div class="col-md-12">
            <jqxButton #buttonReference (click)="newBillWindowReference.openWindow()"
                [width]="120"
                [height]="30"
            >New Bill</jqxButton>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <jqxGrid #gridReference
                [width]="'100%'"
                [height]="450"
                [sortable]="true"
                [filterable]="true"
                [showfilterrow]="true"
                [columns]="columns"
            ></jqxGrid>
        </div>
    </div>

</div>

<!-- add new bill popup window -->

<app-new-bill #newBillWindowReference></app-new-bill>