<app-topnav [headings]="navHeading"></app-topnav>

<div class="container">

    <div class="row top-button-row">
        <div class="col-md-12">
            <jqxButton #newButtonReference routerLink="/suite/portal/search"
                [width]="150"
                [height]="30"
            >New Rink</jqxButton>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">

            <div *ngFor="let rink of rinks">

                <hr />

                <div *ngIf="rink.sender.id == restaurantId; then senderBlock else recipientBlock"></div>

                <ng-template #senderBlock>
                    <div (click)="viewRink(rink.id)">
                        <div class="row mb-3">
                            <div class="col-md-12">
                                <i class="fa fa-w fa-arrow-circle-up mr-2 rinkout-icon"></i>
                                <small>RinkOut - {{rink.rink_date | date: 'MMMM d, y, hh:mm:ss a'}}</small>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-1 align-middle">
                                <img src="../../../../../assets/images/utilities/logo-placeholder.jpg" alt="" width="50" height="40" class="rounded" />
                            </div>
                            <div class="col-md-5 align-middle">
                                <strong>{{rink.name}}</strong>
                            </div>
                            <div class="col-md-5 align-middle">
                                {{rink.recipient.location}}
                            </div>
                        </div>

                        <div class="row">
                            <div class="offset-md-1 col-md-5">
                                <img *ngIf="rink.type == 'Menu'" src="../../../../../assets/images/modules/menu.png" alt="" width="25" height="25" class="mr-2" />
                                <img *ngIf="rink.type == 'Staff'" src="../../../../../assets/images/modules/staff.png" alt="" width="25" height="25" class="mr-2" />
                                <img *ngIf="rink.type == 'Order'" src="../../../../../assets/images/modules/orders.png" alt="" width="25" height="25" class="mr-2" />
                                <img *ngIf="rink.type == 'Delivery'" src="../../../../../assets/images/modules/deliveries.png" alt="" width="25" height="25" class="mr-2" />
                                <img *ngIf="rink.type == 'Customer'" src="../../../../../assets/images/modules/customers.png" alt="" width="25" height="25" class="mr-2" />
                                Restaurant - {{rink.rink_type}}
                            </div>
                        </div>
                    </div>
                </ng-template>

                <ng-template #recipientBlock>
                    <div (click)="viewRink(rink.id)">
                        <div class="row">
                            <div class="col-md-12">
                                <i class="fa fa-w fa-arrow-circle-down mr-2 rinkin-icon"></i>
                                <small>RinkIn - {{rink.rink_date | date: 'MMMM d, y, hh:mm:ss a'}}</small>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-1  align-middle">
                                <img src="../../../../../assets/images/utilities/logo-placeholder.jpg" alt="" width="40" height="40" class="rounded-circle" />
                            </div>
                            <div class="col-md-5 align-middle">
                                <strong>{{rink.name}}</strong>
                            </div>
                            <div class="col-md-5 align-middle">
                                {{rink.sender.location}}
                            </div>
                        </div>

                        <div class="row">
                            <div class="offset-md-1 col-md-5">
                                <img *ngIf="rink.type == 'Menu'" src="../../../../../assets/images/modules/menu.png" alt="" width="25" height="25" class="mr-2" />
                                <img *ngIf="rink.type == 'Staff'" src="../../../../../assets/images/modules/staff.png" alt="" width="25" height="25" class="mr-2" />
                                <img *ngIf="rink.type == 'Order'" src="../../../../../assets/images/modules/orders.png" alt="" width="25" height="25" class="mr-2" />
                                <img *ngIf="rink.type == 'Delivery'" src="../../../../../assets/images/modules/deliveries.png" alt="" width="25" height="25" class="mr-2" />
                                <img *ngIf="rink.type == 'Customer'" src="../../../../../assets/images/modules/customers.png" alt="" width="25" height="25" class="mr-2" />
                                Restaurant - {{rink.rink_type}}
                            </div>
                        </div>
                    </div>
                </ng-template>

            </div>

        </div>
    </div>

</div>

<!-- http loader spinner and connection notification components -->

<app-connection-notification #connectionNotificationComponentReference></app-connection-notification>
