<!-- Topbar -->
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

    <div *ngFor="let heading of headings" class="module-heading">
        <a routerLink={{heading.url}}>
            <h3>{{heading.text}}</h3>
        </a>
        <span *ngIf="headings.indexOf(heading) != headings.length - 1" class="fa fa-angle-double-right"></span>
    </div>

</nav>
<!-- End of Topbar -->
