<div class="row">
    <div class="col-md-8">
        <hr class="top-divider" />
        <hr class="bottom-divider" />
    </div>
</div>

<div class="row top-button-row">
    <div class="col-md-12">
        <jqxButton #addButtonReference routerLink="/suite/files/add-file"
            [width]="150"
            [height]="30"
        >Add File</jqxButton>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <jqxGrid #gridReference (onRowdoubleclick)="viewFile($event)"
            [width]="'100%'"
            [height]="350"
            [source]="dataAdapter"
            [sortable]="true"
            [filterable]="true"
            [showfilterrow]="true"
            [columns]="columns"
        ></jqxGrid>
    </div>

</div>
