<div class="row">
    <div class="offset-md-4 col-md-8">
        <h4>Security</h4>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-12">
        <h5>Two-factor Authentication</h5>

        <small>
            <p>Two-factor authentication adds an additional layer of security to your account by requiring more than just a password to log in.</p>
        </small>

        <div class="row page-form-div">
            <div class="col-md-12">
                <jqxButton #twoAuthButtonReference
                    [width]="220"
                    [height]="40"
                >Enable Two-factor Authentication</jqxButton>
            </div>
        </div>
    </div>
</div>
