<div>
    <div class="edit-dialog-label">Description</div>
    <div class="edit-dialog-field">
        <jqxTextArea #descriptionReference
            [width]="'100%'"
            [height]="45"
        ></jqxTextArea>
    </div>
</div>

<div>
    <div class="edit-dialog-label">Status</div>
    <div class="edit-dialog-field">
        <jqxDropDownList #descriptionReference
            [width]="'100%'"
            [height]="25"
        ></jqxDropDownList>
    </div>
</div>

<div>
    <div class="edit-dialog-label">Remarks</div>
    <div class="edit-dialog-field">
        <jqxTextArea #remarksReference
            [width]="'100%'"
            [height]="45"
        ></jqxTextArea>
    </div>
</div>
