<div id="contactDiv" class="bg-dark-light scroll-div">
    <div class="container">	

        <div class="row">
            <div class="col-md-12">
                <h2 class="extras-heading">Contact Us</h2>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12">
            
                <h4>General enquiries</h4>
                <p>				
                    If you have enquiries or suggestions regarding netRink or its products, please contact us at<br />
                    <a href="mailto:info@netrink.com">info@netrink.com</a>	
                </p>
                <br />
                <h4>Sales</h4>
                <p>				
                    Forward your sales inquiries for the netRink products to<br />
                    <a href="mailto:sales@netrink.com">sales@netrink.com</a>
                </p>
                <br />
                <h4>Product support</h4>
                <p>				
                    For all Support issues concerning our products, please reach to us at<br />
                    <a href="mailto:support@netrink.com">support@netrink.com</a>
                </p>
                
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12 faq-div">
                
                <h3 class="extras-heading text-center">Frequently asked questions (FAQ)</h3>
                
                <div id="accordion" class="faq-accordion card">
                
                    <div>
                        <div id="headingOne" class="card-footer">
                            <a data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <h5>Is my data well protected?</h5>
                            </a>
                        </div>
                        <div id="collapseOne" class="collapse card-body" aria-labelledby="headingOne" data-parent="#accordion">
                            <p>netRink employs SSL and application security. Also, all data are being securely stored on trusted servers with technology-leading harware firewall.</p>
                        </div>
                    </div>
                    
                    <div>
                        <div id="headingTwo" class="card-footer">
                            <a data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                <h5>What are netRink's policies regarding our data and data portability?</h5>
                            </a>
                        </div>
                        <div id="collapseTwo" class="collapse card-body" aria-labelledby="headingTwo" data-parent="#accordion">
                            <p>All rights to your data are maintained by you. We provide you the ability to easily export your data and take it elsewhere, if desired. So long as your account is active, you have full access to your information, for viewing or transfer, at any time.</p>
                        </div>
                    </div>
                    
                    <div>
                        <div id="headingThree" class="card-footer">
                            <a data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                <h5>What type of support is included with your products?</h5>
                            </a>
                        </div>
                        <div id="collapseThree" class="collapse card-body" aria-labelledby="headingThree" data-parent="#accordion">
                            <p>netRink provides flexible support, mainly through our email support service during standard business hours – Monday through Friday, 9AM–5PM GMT.</p>
                        </div>
                    </div>
                    
                    <div>
                        <div id="headingFour" class="card-footer">
                            <a data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                <h5>What are the possible payment methods?</h5>
                            </a>
                        </div>
                        <div id="collapseFour" class="collapse card-body" aria-labelledby="headingFour" data-parent="#accordion">
                            <p>You can select the payment method from the list in the "Payment method" field. Among them you can find credit/debit card, wire (bank) transfer, Yandex.Money, mobile payment, purchase order, cash.</p>
                        </div>
                    </div>
                    
                    <div>
                        <div id="headingFive" class="card-footer">
                            <a data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                                <h5>How does netRink leverage the latest technologies?</h5>
                            </a>
                        </div>
                        <div id="collapseFive" class="collapse card-body" aria-labelledby="headingFive" data-parent="#accordion">
                            <p>We ensure that our customers are provided with state of the art technologies with frequent enhancement cycles, with new features rolled out several times each year.</p>
                        </div>
                    </div>
                    
                    <div>
                        <div id="headingSix" class="card-footer">
                            <a data-toggle="collapse" data-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
                                <h5>What contract options are available?</h5>
                            </a>
                        </div>
                        <div id="collapseSix" class="collapse card-body" aria-labelledby="headingSix" data-parent="#accordion">
                            <p>The service is made available to you on a monthly or an annual basis through an effective subscription mechanism. This avoids large upfront costs associated with on-premise installation.</p>
                        </div>
                    </div>
                
                </div>
                            
            </div>
        </div>
        
    </div>
</div>