<div class="row page-form-div">
    <div class="col-md-12">
        <h4 class="form-heading">Payment Details</h4>
    </div>

    <div class="col-md-6">

        <div class="row">
            <div class="col-md-4"><label>Payment ID :</label></div>
            <div class="col-md-8">
                <jqxInput #paymentCodeReference
                    [width]="'100%'"
                    [height]="28"
                ></jqxInput>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4"><label>Payment Date :</label></div>
            <div class="col-md-8">
                <jqxDateTimeInput #paymentDateReference
                    [width]="'100%'"
                    [height]="28"
                    [showTimeButton]="true"
                    [formatString]="'yyyy-MM-dd hh:mm:ss'"
                ></jqxDateTimeInput>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4"><label>Customer Name :</label></div>
            <div class="col-md-8">
                <jqxComboBox #customerNameReference
                    [width]="'100%'"
                    [height]="28"
                ></jqxComboBox>
            </div>
        </div>

        <br />

        <div class="row">
            <div class="col-md-4"><label>Order ID :</label></div>
            <div class="col-md-8">
                <jqxInput #orderCodeReference
                    [width]="'88%'"
                    [height]="28"
                    [disabled]="true"
                ></jqxInput>
                <jqxButton #orderButtonReference
                    [width]="'10%'"
                    [height]="28"
                >...</jqxButton>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4"><label>Amount Due :</label></div>
            <div class="col-md-8">
                <jqxNumberInput #amountDueReference
                    [width]="'100%'"
                    [height]="28"
                    [inputMode]="'simple'"
                    [symbol]="'$'"
                ></jqxNumberInput>
            </div>
        </div>

        <br />

        <div class="row">
            <div class="col-md-4"><label>Payment :</label></div>
            <div class="col-md-8">
                <jqxNumberInput #paymentReference
                    [width]="'100%'"
                    [height]="28"
                    [inputMode]="'simple'"
                    [symbol]="'$'"
                ></jqxNumberInput>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4"><label>Balance :</label></div>
            <div class="col-md-8">
                <jqxNumberInput #balanceReference
                    [width]="'100%'"
                    [height]="28"
                    [inputMode]="'simple'"
                    [symbol]="'$'"
                ></jqxNumberInput>
            </div>
        </div>

        <hr />

    </div>
</div>
