<jqxWindow #addVisitorReference (onOpen)="visitorForm.visitCode.focus()"
    [width]="540"
    [height]="360"
    [autoOpen]="false">

    <div>Add Visitor</div>

    <div>

        <!-- visitor window form -->
        <app-visitor-form #visitorFormComponentReference></app-visitor-form>

        <div>
            <div class="edit-dialog-field-alt edit-dialog-buttons-alt">
                <jqxButton #cancelButtonReference (click)="closeWindow()"
                >Cancel</jqxButton>

                <jqxButton #saveButtonReference (click)="saveVisitor()"
                >Save</jqxButton>
            </div>
        </div>

    </div>

</jqxWindow>

