<div class="row">
    <div class="col-md-12">
        <h4>User Access Levels</h4>
    </div>
</div>

<div class="row">
    <div class="col-md-12">

        <table class="table bg-light">
            <thead>
                <tr>
                    <th>Module</th>
                    <th>Access</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Admin</td>
                    <td><jqxCheckBox #adminCheckBoxReference></jqxCheckBox></td>
                </tr>
                <tr>
                    <td>Assets</td>
                    <td><jqxCheckBox #assetsCheckBoxReference></jqxCheckBox></td>
                </tr>
                <tr>
                    <td>Bills</td>
                    <td><jqxCheckBox #billsCheckBoxReference></jqxCheckBox></td>
                </tr>
                <tr>
                    <td>Bookings</td>
                    <td><jqxCheckBox #bookingsCheckBoxReference></jqxCheckBox></td>
                </tr>
                <tr>
                    <td>Check-In</td>
                    <td><jqxCheckBox #checkinCheckBoxReference></jqxCheckBox></td>
                </tr>
                <tr>
                    <td>Guests</td>
                    <td><jqxCheckBox #guestsCheckBoxReference></jqxCheckBox></td>
                </tr>
                <tr>
                    <td>Payments</td>
                    <td><jqxCheckBox #paymentsCheckBoxReference></jqxCheckBox></td>
                </tr>
                <tr>
                    <td>Portal</td>
                    <td><jqxCheckBox #portalCheckBoxReference></jqxCheckBox></td>
                </tr>
                <tr>
                    <td>Rooms</td>
                    <td><jqxCheckBox #roomsCheckBoxReference></jqxCheckBox></td>
                </tr>
                <tr>
                    <td>Services</td>
                    <td><jqxCheckBox #servicesCheckBoxReference></jqxCheckBox></td>
                </tr>
                <tr>
                    <td>Settings</td>
                    <td><jqxCheckBox #settingsCheckBoxReference></jqxCheckBox></td>
                </tr>
                <tr>
                    <td>Staff</td>
                    <td><jqxCheckBox #staffCheckBoxReference></jqxCheckBox></td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
