<jqxWindow #addServiceReference
    [width]="540"
    [height]="200"
    [autoOpen]="false">

    <div>Add Service Item</div>

    <div>

        <div>
            <div class="edit-dialog-label">Item Date</div>
            <div class="edit-dialog-field">
                <jqxDateTimeInput #itemDateReference
                    [width]="'100%'"
                    [height]="25"
                    [formatString]="'yyyy-MM-dd'"
                ></jqxDateTimeInput>
            </div>
        </div>

        <div>
            <div class="edit-dialog-label">Description</div>
            <div class="edit-dialog-field">
                <jqxTextArea #descriptionReference
                    [width]="'100%'"
                    [height]="40"
                ></jqxTextArea>
            </div>
        </div>

        <div>
            <div class="edit-dialog-label">Amount</div>
            <div class="edit-dialog-field">
                <jqxNumberInput #amountReference
                    [width]="'100%'"
                    [height]="25"
                    [inputMode]="'simple'"
                    [symbol]="'$'"
                ></jqxNumberInput>
            </div>
        </div>

        <div>
            <div class="edit-dialog-field edit-dialog-buttons">
                <jqxButton #cancelButtonReference (click)="closeWindow()"
                >Cancel</jqxButton>

                <jqxButton #saveButtonReference (click)="saveService()"
                >Save</jqxButton>
            </div>
        </div>

    </div>

</jqxWindow>

