<div class="container">

    <div class="module-heading row">
        <div class="col-md-12">

            <h3>Home</h3>

            <hr class="header-line" />
            <hr class="header-line" />

        </div>
    </div>

    <!-- --------------------------------------------------------------------------------------------------- -->

    <div class="home-div">

        <div class="row">

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #adminTooltipReference
                    [position]="'mouse'"
                    [content]="'Manage users and access levels'">

                    <a href="#" (click)="suiteRoutes.goAdminDashboard($event)">
                        <figure>
                            <img src="#" class="home-icons" />
                            <figcaption>Admin</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #parentsTooltipReference
                    [position]="'mouse'"
                    [content]="'Manage relations with parents'">

                    <a href="#" (click)="suiteRoutes.goParentsAll($event)">
                        <figure>
                            <img src="#" class="home-icons" />
                            <figcaption>Parents</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #assessmentTooltipReference
                    [position]="'mouse'"
                    [content]="'Record and process assessments'">

                    <a href="#" (click)="suiteRoutes.goAssessmentAll($event)">
                        <figure>
                            <img src="#" class="home-icons" />
                            <figcaption>Assessment</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #subjectsTooltipReference
                    [position]="'mouse'"
                    [content]="'Manage and organize subjects or courses'">

                    <a href="#" (click)="suiteRoutes.goSubjectsAll($event)">
                        <figure>
                            <img src="#" class="home-icons" />
                            <figcaption>Subjects</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #attendanceTooltipReference
                    [position]="'mouse'"
                    [content]="'Take attendance of students and teachers'">

                    <a href="#" (click)="suiteRoutes.goAttendanceAll($event)">
                        <figure>
                            <img src="#" class="home-icons" />
                            <figcaption>Attendance</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #studentsTooltipReference
                    [position]="'mouse'"
                    [content]="'Manage student profile'">

                    <a href="#" (click)="suiteRoutes.goStudentsAll($event)">
                        <figure>
                            <img src="#" class="home-icons" />
                            <figcaption>Students</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

        </div>

        <!-- ----------------------------------------------------------------------------
        new row -->

        <div class="row">

			      <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #portalTooltipReference
                    [position]="'mouse'"
                    [content]="'Interact with students and parents through netRink portal'">

                    <a href="#" (click)="suiteRoutes.goPortalTimeline($event)">
                        <figure>
                            <img src="#" class="home-icons" />
                            <figcaption>Portal</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #reportsTooltipReference
                    [position]="'mouse'"
                    [content]="'Generate students\'s academic reports'">

                    <a href="#" (click)="suiteRoutes.goReportsAll($event)">
                        <figure>
                            <img src="#" class="home-icons" />
                            <figcaption>Reports</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #paymentsTooltipReference
                    [position]="'mouse'"
                    [content]="'Receive payment of fees'">

                    <a href="#" (click)="suiteRoutes.goPaymentsAll($event)">
                        <figure>
                            <img src="#" class="home-icons" />
                            <figcaption>Payments</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #staffTooltipReference
                    [position]="'mouse'"
                    [content]="'Manage all non-teaching staff'">

                    <a href="#" (click)="suiteRoutes.goStaffAll($event)">
                        <figure>
                            <img src="#" class="home-icons" />
                            <figcaption>Staff</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #termsTooltipReference
                    [position]="'mouse'"
                    [content]="'Plan and organize terms or semesters'">

                    <a href="#">
                        <figure>
                            <img src="#" class="home-icons" />
                            <figcaption>Terms</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #classesTooltipReference
                    [position]="'mouse'"
                    [content]="'Manage classes and class activities'">

                    <a href="#">
                        <figure>
                            <img src="#" class="home-icons" />
                            <figcaption>Classes</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #feesTooltipReference
                    [position]="'mouse'"
                    [content]="'Generate students\' bills'">

                    <a href="#" (click)="suiteRoutes.goClassesAll($event)">
                        <figure>
                            <img src="#" class="home-icons" />
                            <figcaption>Fees</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

        </div>

        <!-- -----------------------------------------------------------------------
        new row -->

        <div class="row">

			    <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #settingsTooltipReference
                    [position]="'mouse'"
                    [content]="'Set configuarations for your modules'">

                    <a href="#" (click)="suiteRoutes.goSettingsView($event)">
                        <figure>
                            <img src="#" class="home-icons" />
                            <figcaption>Settings</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #timestableTooltipReference
                    [position]="'mouse'"
                    [content]="'plan and manage academic timetables'">

                    <a href="#">
                        <figure>
                            <img src="#" class="home-icons" />
                            <figcaption>Timetables</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

			      <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #enrollmentTooltipReference
                    [position]="'mouse'"
                    [content]="'Enroll students into a term'">

                    <a href="#">
                        <figure>
                            <img src="#" class="home-icons" />
                            <figcaption>Enrollment</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #teachersTooltipReference
                    [position]="'mouse'"
                    [content]="'Manage all teaching staff'">

                    <a href="#" (click)="suiteRoutes.goTeachersAll($event)">
                        <figure>
                            <img src="#" class="home-icons" />
                            <figcaption>Teachers</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

        </div>

    </div>

    <!-- --------------------------------------------------------------------------------------------- -->

    <div *ngIf="this.isActive == false; then createAccountBlock"></div>

    <ng-template #createAccountBlock>
        <div class="row text-center home-create-button-div">
            <div class="col-md-12">
                <button class="btn btn-lg btn-danger create-btn" (click)="createAccount()">create netRink account</button>
            </div>
        </div>
    </ng-template>

</div>
