<nav class="navbar navbar-expand navbar-light bg-white topbar homebar mb-4 static-top shadow">
  <div class="module-heading text-center">
      <a routerLink="./">
          <h3><i class="fa fa-home sidebar-card-illustration mb-2"></i> Home</h3>
      </a>
  </div>
</nav>

<div class="container">

    <div class="home-div">

        <div class="row">

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #portalTooltipReference
                    [position]="'mouse'"
                    [content]="'Interact with students and parents through netRink portal'">

                    <a routerLink="/suite/portal/dashboard">
                        <figure>
                            <img src="../../../assets/images/modules/portal.png" class="home-icons" />
                            <figcaption>Portal</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #parentsTooltipReference
                    [position]="'mouse'"
                    [content]="'Manage relations with parents'">

                    <a routerLink="/suite/parents/dashboard">
                        <figure>
                            <img src="../../../assets/images/modules/parents.png" class="home-icons" />
                            <figcaption>Parents</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #assessmentTooltipReference
                    [position]="'mouse'"
                    [content]="'Record and process assessments'">

                    <a routerLink="/suite/assessment/dashboard">
                        <figure>
                            <img src="../../../assets/images/modules/assessment.png" class="home-icons" />
                            <figcaption>Assessment</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #subjectsTooltipReference
                    [position]="'mouse'"
                    [content]="'Manage and organize subjects or courses'">

                    <a routerLink="/suite/subjects/dashboard">
                        <figure>
                            <img src="../../../assets/images/modules/subjects.png" class="home-icons" />
                            <figcaption>Subjects</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #attendanceTooltipReference
                    [position]="'mouse'"
                    [content]="'Take attendance of students and teachers'">

                    <a routerLink="/suite/attendance/dashboard">
                        <figure>
                            <img src="../../../assets/images/modules/attendance.png" class="home-icons" />
                            <figcaption>Attendance</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #studentsTooltipReference
                    [position]="'mouse'"
                    [content]="'Manage student profile'">

                    <a routerLink="/suite/students/dashboard">
                        <figure>
                            <img src="../../../assets/images/modules/students.png" class="home-icons" />
                            <figcaption>Students</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

        </div>

        <!-- ----------------------------------------------------------------------------
        new row -->

        <div class="row">

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #adminTooltipReference
                    [position]="'mouse'"
                    [content]="'Manage users and access levels'">

                    <a routerLink="/suite/admin/dashboard">
                        <figure>
                            <img src="../../../assets/images/modules/admin.png" class="home-icons" />
                            <figcaption>Admin</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #reportsTooltipReference
                    [position]="'mouse'"
                    [content]="'Generate students\'s academic reports'">

                    <a routerLink="/suite/reports/dashboard">
                        <figure>
                            <img src="../../../assets/images/modules/reports.png" class="home-icons" />
                            <figcaption>Reports</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #paymentsTooltipReference
                    [position]="'mouse'"
                    [content]="'Receive payment of fees'">

                    <a routerLink="/suite/payments/dashboard">
                        <figure>
                            <img src="../../../assets/images/modules/payments.png" class="home-icons" />
                            <figcaption>Payments</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #staffTooltipReference
                    [position]="'mouse'"
                    [content]="'Manage all non-teaching staff'">

                    <a routerLink="/suite/staff/dashboard">
                        <figure>
                            <img src="../../../assets/images/modules/staff.png" class="home-icons" />
                            <figcaption>Staff</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #termsTooltipReference
                    [position]="'mouse'"
                    [content]="'Plan and organize terms or semesters'">

                    <a routerLink="/suite/terms/dashboard">
                        <figure>
                            <img src="../../../assets/images/modules/terms.png" class="home-icons" />
                            <figcaption>Terms</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #classesTooltipReference
                    [position]="'mouse'"
                    [content]="'Manage classes and class activities'">

                    <a routerLink="/suite/classes/dashboard">
                        <figure>
                            <img src="../../../assets/images/modules/classes.png" class="home-icons" />
                            <figcaption>Classes</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

        </div>

        <!-- -----------------------------------------------------------------------
        new row -->

        <div class="row">

			<div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #settingsTooltipReference
                    [position]="'mouse'"
                    [content]="'Set configuarations for your modules'">

                    <a routerLink="/suite/settings/dashboard">
                        <figure>
                            <img src="../../../assets/images/modules/settings.png" class="home-icons" />
                            <figcaption>Settings</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #feesTooltipReference
                    [position]="'mouse'"
                    [content]="'Generate students\' bills'">

                    <a routerLink="/suite/fees/dashboard">
                        <figure>
                            <img src="../../../assets/images/modules/fees.png" class="home-icons" />
                            <figcaption>Fees</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #timestablesTooltipReference
                    [position]="'mouse'"
                    [content]="'plan and manage academic timetables'">

                    <a routerLink="/suite/timetables/dashboard">
                        <figure>
                            <img src="../../../assets/images/modules/timetables.png" class="home-icons" />
                            <figcaption>Timetables</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #teachersTooltipReference
                    [position]="'mouse'"
                    [content]="'Manage all teaching staff'">

                    <a routerLink="/suite/teachers/dashboard">
                        <figure>
                            <img src="../../../assets/images/modules/teachers.png" class="home-icons" />
                            <figcaption>Teachers</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #sectionsTooltipReference
                    [position]="'mouse'"
                    [content]="'Manage sections or houses'">

                    <a routerLink="/suite/sections/dashboard">
                        <figure>
                            <img src="../../../assets/images/modules/sections.png" class="home-icons" />
                            <figcaption>Sections</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

        </div>

    </div>

    <!-- --------------------------------------------------------------------------------------------- -->

    <!-- <div *ngIf="this.isActive == false; then createAccountBlock"></div>

    <ng-template #createAccountBlock>
        <div class="row text-center home-create-button-div">
            <div class="col-md-12">
                <button class="btn btn-lg btn-danger create-btn" (click)="createAccount()">create School account</button>
            </div>
        </div>
    </ng-template> -->

</div>
