<jqxWindow #addAppointmentReference 
    [width]="540" 
    [height]="375" 
    [autoOpen]="false">
    
    <div>Add Appointment</div>

    <div>

        <!-- appointment window form -->
        <app-appointment-form></app-appointment-form>

        <div>
            <div class="edit-dialog-field-alt edit-dialog-buttons-alt">
                <jqxButton #cancelButtonReference
                >Cancel</jqxButton>

                <jqxButton #saveButtonReference
                >Save</jqxButton>
            </div>
        </div>

    </div>

</jqxWindow>
  
