<jqxWindow #addAppointmentReference (onOpen)="appointmentForm.appointmentCode.focus()"
    [width]="540"
    [height]="375"
    [autoOpen]="false">

    <div>Add Appointment</div>

    <div>

        <!-- appointment window form -->
        <app-appointment-form #appointmentFormComponentReference></app-appointment-form>

        <div>
            <div class="edit-dialog-field-alt edit-dialog-buttons-alt">
                <jqxButton #cancelButtonReference (click)="closeWindow()"
                >Cancel</jqxButton>

                <jqxButton #saveButtonReference (click)="saveAppointment()"
                >Save</jqxButton>
            </div>
        </div>

    </div>

</jqxWindow>

