<div class="container">

    <div class="module-heading row">
        <div class="col-md-12">

            <a href="#" (click)="this.suiteRoutes.goHome($event)"><h3>Home</h3></a>
            <span class="fa fa-angle-double-right"></span>
            <h3>Accounts</h3>

            <hr class="header-line" />
            <hr class="header-line" />

        </div>
    </div>

    <div class="row top-button-row">
        <div class="col-md-12">
            <jqxButton #newButtonReference (click)="addAccountComponentReference.openWindow()"
                [width]="120"
                [height]="30"
            >New Account</jqxButton>
        </div>
    </div>

    <div class="row">
        <div class="col-md-9">
            <jqxGrid #gridReference (onRowdoubleclick)="viewAccount($event)"
                [width]="'100%'"
                [height]="450"
                [source]="dataAdapter"
                [sortable]="true"
                [filterable]="true"
                [showfilterrow]="true"
                [columns]="columns"
            ></jqxGrid>
        </div>

        <div class="col-md-3">
            <jqxButton #transactionsButtonReference (click)="this.suiteRoutes.goAccountsTransactions($event)"
                [width]="150"
                [height]="32"
            >All Transactions</jqxButton>
        </div>
    </div>

</div>

<!-- add account popup dialog window -->

<app-add-account #addAccountComponentReference></app-add-account>
