<app-topnav [headings]="navHeading"></app-topnav>

<div class="container">

    <div class="row">
        <div class="col-md-8">

            <!-- <div class="row">
                <div class="col-md-12">Date - {{invitation.invitation_date}}</div>
            </div>

            <br />

            <div class="row">
                <div class="col-md-2 text-muted"><label class="float-right">To</label></div>
                <div class="col-md-5">
                    <label class="text-muted"><em><small>Name :</small></em></label><br />
                    {{invitation.user.name}}
                </div>
                <div class="col-md-5">
                    <label class="text-muted"><em><small>Location :</small></em></label><br />
                    {{invitation.user.location}}
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-md-2 text-muted"><label class="float-right">Status</label></div>
                <div class="col-md-5">{{invitation.status}}</div>
            </div> -->

        </div>
    </div>

</div>
