<jqxWindow #newLedgerReference
    [width]="540"
    [height]="220"
    [autoOpen]="false">

    <div>Add New Ledger</div>

    <div>

        <div>
            <div class="edit-dialog-label-alt">Ledger ID</div>
            <div class="edit-dialog-field-alt">
                <jqxInput #ledgerCodeReference
                    [width]="'100%'"
                    [height]="25"
                ></jqxInput>
            </div>
        </div>

        <div>
            <div class="edit-dialog-label-alt">Ledger Name</div>
            <div class="edit-dialog-field-alt">
                <jqxInput #ledgerNameReference
                    [width]="'100%'"
                    [height]="25"
                ></jqxInput>
            </div>
        </div>

        <div>
            <div class="edit-dialog-label-alt">From Date</div>
            <div class="edit-dialog-field-alt">
                <jqxDateTimeInput #fromDateReference
                    [width]="'100%'"
                    [height]="25"
                    [formatString]="'yyyy-MM-dd'"
                ></jqxDateTimeInput>
            </div>
        </div>

        <div>
            <div class="edit-dialog-label-alt">To Date</div>
            <div class="edit-dialog-field-alt">
                <jqxDateTimeInput #toDateReference
                    [width]="'100%'"
                    [height]="25"
                    [formatString]="'yyyy-MM-dd'"
                ></jqxDateTimeInput>
            </div>
        </div>

        <div>
            <div class="edit-dialog-field-alt edit-dialog-buttons-alt">
                <jqxButton #cancelButtonReference (click)="closeWindow()"
                >Cancel</jqxButton>

                <jqxButton #saveButtonReference (click)="saveLedger()"
                >Save</jqxButton>
            </div>
        </div>

    </div>

</jqxWindow>

<!-- http loader spinner and connection notification components -->

<app-loading-spinner #loadingSpinnerComponentReference></app-loading-spinner>

<app-connection-notification #connectionNotificationComponentReference></app-connection-notification>
