<jqxWindow #addBookingReference
    [width]="540"
    [height]="290"
    [autoOpen]="false">

    <div>Add New Booking</div>

    <div>

        <div>
            <div class="edit-dialog-label-alt">Booking ID</div>
            <div class="edit-dialog-field-alt">
                <jqxInput #bookingCodeReference
                    [width]="'100%'"
                    [height]="25"
                ></jqxInput>
            </div>
        </div>

        <div>
            <div class="edit-dialog-label-alt">Booking Date</div>
            <div class="edit-dialog-field-alt">
                <jqxDateTimeInput #bookingDateReference
                    [width]="'100%'"
                    [height]="25"
                    [formatString]="'yyyy-MM-dd'"
                ></jqxDateTimeInput>
            </div>
        </div>

        <div>
            <div class="edit-dialog-label-alt">Guest Name</div>
            <div class="edit-dialog-field-alt">
                <jqxInput #guestNameReference
                    [width]="'90%'"
                    [height]="25"
                ></jqxInput>
                <jqxButton #selectGuestButton
                    [width]="'10%'"
                    [height]="25"
                >...</jqxButton>
            </div>
        </div>

        <div>
            <div class="edit-dialog-label-alt">Guest ID</div>
            <div class="edit-dialog-field-alt">
                <jqxInput #guestCodeReference
                    [width]="'90%'"
                    [height]="25"
                ></jqxInput>
                <jqxButton #selectGuestButton
                    [width]="'10%'"
                    [height]="25"
                >...</jqxButton>
            </div>
        </div>

        <div>
            <div class="edit-dialog-label-alt">Expected Arrival</div>
            <div class="edit-dialog-field-alt">
                <jqxDateTimeInput #expectedArrivalReference
                    [width]="'100%'"
                    [height]="25"
                    [showTimeButton]="true"
                    [formatString]="'yyyy-MM-dd hh:mm:ss'"
                ></jqxDateTimeInput>
            </div>
        </div>

        <div>
            <div class="edit-dialog-label-alt">Booking Status</div>
            <div class="edit-dialog-field-alt">
                <jqxDropDownList #bookingStatusReference
                    [width]="'100%'"
                    [height]="25"
                ></jqxDropDownList>
            </div>
        </div>

        <div>
            <div class="edit-dialog-field-alt edit-dialog-buttons-alt">
                <jqxButton #cancelButtonReference (click)="closeWindow()"
                >Cancel</jqxButton>

                <jqxButton #saveButtonReference (click)="saveBooking()"
                >Save</jqxButton>
            </div>
        </div>

    </div>

</jqxWindow>

<!-- http loader spinner and connection notification components -->

<app-loading-spinner #loadingSpinnerComponentReference></app-loading-spinner>

<app-connection-notification #connectionNotificationComponentReference></app-connection-notification>
