<div class="row">
    <div class="col-md-7">

        <h4 class="form-heading">Bill Details</h4>

        <div class="row">
            <div class="col-md-12">
                <div>
                    <jqxGrid #gridReference
                        [width]="'100%'"
                        [autoheight]="true"
                        [rowsheight]="24"
                        [showstatusbar]="true"
                        [showaggregates]="true"
                        [columns]="columns"
                        [source]="dataAdapter"
                    ></jqxGrid>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- http loader spinner and connection notification components -->

<app-connection-notification #connectionNotificationComponentReference></app-connection-notification>
