<jqxWindow #addDetailReference (onOpen)="detailForm.medicineTextArea.focus()"
    [width]="540"
    [height]="250"
    [autoOpen]="false"
    [okButton]="okButton"
    [cancelButton]="cancelButton">

    <div>Add New Medicine</div>

    <div>

        <app-detail-form #detailFormComponentReference></app-detail-form>

        <div>
            <div class="edit-dialog-field-alt edit-dialog-buttons-alt">
                <jqxButton #cancelButtonReference
                >Cancel</jqxButton>

                <jqxButton #okButtonReference (click)="saveDetail()"
                >Save</jqxButton>
            </div>
        </div>

    </div>

</jqxWindow>
