<app-topnav [headings]="navHeading"></app-topnav>

<div class="container">
    <h4 class="form-heading">Cash Flow Details</h4>

    <div class="row page-form-div">

        <div class="col-md-6">

            <div class="row">
                <div class="col-md-4"><label>Sheet ID :</label></div>
                <div class="col-md-8">
                    <jqxInput #sheetCodeReference
                        [width]="'100%'"
                        [height]="28"
                    ></jqxInput>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4"><label>Sheet Name :</label></div>
                <div class="col-md-8">
                    <jqxInput #sheetNameReference
                        [width]="'100%'"
                        [height]="28"
                    ></jqxInput>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4"><label>Sheet Type :</label></div>
                <div class="col-md-8">
                    <jqxDropDownList #sheetTypeReference
                        [width]="'100%'"
                        [height]="28"
                        [source]="typeSource"
                        [autoDropDownHeight]="true"
                    ></jqxDropDownList>
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="col-md-12">
                    <jqxButton #printReference
                        [width]="100"
                        [height]="28"
                    ><i class="fa fa-fw fa-print"></i> Print</jqxButton>

                    <jqxButton #cancelButtonReference class="float-right" routerLink="/suite/cashflow/all-sheets"
                        [width]="100"
                        [height]="28"
                    >Cancel</jqxButton>

                    <jqxButton #deleteButtonReference class="float-right" (click)="deleteSheet()"
                        [width]="100"
                        [height]="28"
                    >Delete</jqxButton>

                    <jqxButton #saveButtonReference class="float-right" (click)="saveSheet()"
                        [width]="100"
                        [height]="28"
                    >Save</jqxButton>
                </div>
            </div>

        </div>

    </div>

    <!-- weekly sheet table -->
    <div *ngIf="showSheet=='weekly'">
        <app-weekly></app-weekly>
    </div>

    <!-- monthly sheet table -->
    <div *ngIf="showSheet=='monthly'">
        <app-monthly></app-monthly>
    </div>

    <!-- quarterly sheet table -->
    <div *ngIf="showSheet=='quarterly'">
        <app-quarterly></app-quarterly>
    </div>

</div>
