<jqxWindow #addPrescriptionReference 
    [width]="540" 
    [height]="250" 
    [autoOpen]="false">
    
    <div>Add New Prescription</div>

    <div>

        <div>
            <div class="edit-dialog-label-alt">Prescription ID</div>
            <div class="edit-dialog-field-alt">
                <jqxInput #prescriptionCodeReference
                    [width]="'100%'"
                    [height]="25"
                ></jqxInput>
            </div>
        </div>
        
        <div>
            <div class="edit-dialog-label-alt">Prescription Date</div>
            <div class="edit-dialog-field-alt">
                <jqxDateTimeInput #prescriptionDateReference
                    [width]="'100%'"
                    [height]="25"
                ></jqxDateTimeInput>
            </div>
        </div>

        <div>
            <div class="edit-dialog-label-alt">Patient Name</div>
            <div class="edit-dialog-field-alt">
                <jqxDropDownList #patientNameReference
                    [width]="'100%'"
                    [height]="25"
                ></jqxDropDownList>
            </div>
        </div>

        <div>
            <div class="edit-dialog-label-alt">Patient ID</div>
            <div class="edit-dialog-field-alt">
                <jqxDropDownList #patientCodeReference
                    [width]="'100%'"
                    [height]="25"
                ></jqxDropDownList>
            </div>
        </div>

        <div>
            <div class="edit-dialog-label-alt">Presccribing Doctor</div>
            <div class="edit-dialog-field-alt">
                <jqxDropDownList #prescribingDoctorReference
                    [width]="'100%'"
                    [height]="25"
                ></jqxDropDownList>
            </div>
        </div>

        <div>
            <div class="edit-dialog-field-alt edit-dialog-buttons-alt">
                <jqxButton #cancelButtonReference
                >Cancel</jqxButton>

                <jqxButton #saveButtonReference
                >Save</jqxButton>
            </div>
        </div>

    </div>

</jqxWindow>
  
