<app-topnav [headings]="navHeading"></app-topnav>

<div class="container">

    <!-- asset page form -->

    <app-asset-form #assetFormComponentReference></app-asset-form>

    <div class="row page-form-div">
        <div class="col-md-12">

          <jqxButton #cancelButtonReference class="float-right" routerLink="/suite/assets/all-assets"
              [width]="100"
              [height]="28"
          >Cancel</jqxButton>

          <jqxButton #saveButtonReference class="float-right" (click)="this.saveAsset()"
              [width]="100"
              [height]="28"
          >Save</jqxButton>

        </div>
    </div>

</div>

<!-- http loader spinner and connection notification components -->

<app-loading-spinner #loadingSpinnerComponentReference></app-loading-spinner>

<app-connection-notification #connectionNotificationComponentReference></app-connection-notification>
