<jqxWindow #editReceivedReference 
    [width]="540" 
    [height]="300" 
    [autoOpen]="false">
    
    <div>Edit Received Letter</div>

    <div>

        <!-- receved letter form -->
        <app-received-form></app-received-form>

        <div>
            <div class="edit-dialog-field-alt edit-dialog-buttons-alt">
                <jqxButton #cancelButtonReference
                >Cancel</jqxButton>

                <jqxButton #deleteButtonReference
                >Delete</jqxButton>

                <jqxButton #saveButtonReference
                >Save</jqxButton>
            </div>
        </div>

    </div>

</jqxWindow>