<div class="container">

    <div class="module-heading row">
        <div class="col-md-12">

            <a href="#" (click)="this.suiteRoutes.goHome($event)"><h3>Home</h3></a>
            <span class="fa fa-angle-double-right"></span>
            <a href="#" (click)="this.suiteRoutes.goPortalTimeline($event)"><h3>Portal</h3></a>
            <span class="fa fa-angle-double-right"></span>
            <h3>View Rink</h3>

            <hr class="header-line" />
            <hr class="header-line" />

        </div>
    </div>

    <div class="row">
        <div class="col-md-8">

            <div class="row">
                <div class="col-md-12">RinkOut - Sun, 5th June, 2020. 10:00 AM</div>
            </div>

            <br />

            <div class="row">
                <div class="col-md-2 text-muted"><label class="float-right">To</label></div>
                <div class="col-md-5">
                    <label class="text-muted"><em><small>Name :</small></em></label><br />
                    Mary Russel
                </div>
                <div class="col-md-5">
                    <label class="text-muted"><em><small>Location :</small></em></label><br />
                    Florida, Miami - USA
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-md-2 text-muted"><label class="float-right">Type</label></div>
                <div class="col-md-5">Appointment</div>
            </div>

            <br />

            <div class="row">
                <div class="col-md-2 text-muted"><label class="float-right">Comment</label></div>
                <div class="col-md-8">Pls, this is the appointment for the mid-week Bible studies. Thanks</div>
            </div>

        </div>
    </div>

    <hr />

    <app-rink-details></app-rink-details>

</div>
