<nav class="bg-darker navbar navbar-dark navbar-expand-sm sticky-top" id="scrollNavbar">
    <div class="container">

        <button class="navbar-toggler" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" data-target="#scrollNavResponsive" data-toggle="collapse">
            <span class="fa fa-ellipsis-h"></span>
        </button>

        <div class="collapse navbar-collapse" id="scrollNavResponsive">
            <ul class="navbar-nav">
                <li class="nav-item"><a href="#aboutDiv" class="nav-link">About Us</a></li>
                <li class="nav-item"><a href="#pricingDiv" class="nav-link">Pricing</a></li>
                <li class="nav-item"><a href="#contactDiv" class="nav-link">Contact Us</a></li>
            </ul>
        </div>

    </div>
</nav>
