<app-topnav [headings]="navHeading"></app-topnav>

<div class="container">

    <div class="row">
        <div class="col-md-8">

            <div *ngIf="rink.sender.id==schoolId; then senderBlock else recipientBlock"></div>

            <ng-template #senderBlock>
                <div class="row">
                    <div class="col-md-12">RinkOut - {{rink.rink_date | date: 'MMMM d, y, hh:mm:ss a'}}</div>
                </div>

                <br />

                <div class="row">
                    <div class="col-md-2 text-muted"><label class="float-right">To</label></div>
                    <div class="col-md-5">
                        <label class="text-muted"><em><small>Name :</small></em></label><br />
                        {{rink.recipient.name}}
                    </div>
                    <div class="col-md-5">
                        <label class="text-muted"><em><small>Location :</small></em></label><br />
                        {{rink.recipient.location}}
                    </div>
                </div>

                <br />

                <div class="row">
                    <div class="col-md-2 text-muted"><label class="float-right">Type</label></div>
                    <div class="col-md-5">{{rink.rink_type}}</div>
                </div>

                <br />

                <div class="row">
                    <div class="col-md-2 text-muted"><label class="float-right">Comment</label></div>
                    <div class="col-md-8">{{rink.comment}}</div>
                </div>
            </ng-template>

            <ng-template #recipientBlock>
                <div class="row">
                    <div class="col-md-12">RinkIn - {{rink.rink_date | date: 'MMMM d, y, hh:mm:ss a'}}</div>
                </div>

                <br />

                <div class="row">
                    <div class="col-md-2 text-muted"><label class="float-right">From</label></div>
                    <div class="col-md-5">
                        <label class="text-muted"><em><small>Name :</small></em></label><br />
                        {{rink.sender.name}}
                    </div>
                    <div class="col-md-5">
                        <label class="text-muted"><em><small>Location :</small></em></label><br />
                        {{rink.sender.location}}
                    </div>
                </div>

                <br />

                <div class="row">
                    <div class="col-md-2 text-muted"><label class="float-right">Type</label></div>
                    <div class="col-md-5">{{rink.rink_type}}</div>
                </div>

                <br />

                <div class="row">
                    <div class="col-md-2 text-muted"><label class="float-right">Comment</label></div>
                    <div class="col-md-8">{{rink.comment}}</div>
                </div>
            </ng-template>

        </div>
    </div>

    <hr />

    <!-- rink details router -->

    <router-outlet></router-outlet>

</div>

<!-- http loader spinner and connection notification components -->

<app-connection-notification #connectionNotificationComponentReference></app-connection-notification>
