<div class="container">

    <div class="module-heading row">
        <div class="col-md-12">

            <h3>Home</h3>

            <hr class="header-line" />
            <hr class="header-line" />

        </div>
    </div>

    <!-- --------------------------------------------------------------------------------------------------- -->

    <div class="home-div">

        <div class="row">

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #portalTooltipReference
                    [position]="'mouse'"
                    [content]="'Interact with customers through netRink portal'">

                    <a href="#" (click)="suiteRoutes.goPortalTimeline($event)">
                        <figure>
                            <img src="../../../assets/images/modules/portal.png" class="home-icons" />
                            <figcaption>Portal</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #menuTooltipReference
                    [position]="'mouse'"
                    [content]="'Plan and organize all menu'">

                    <a href="#" (click)="suiteRoutes.goMenuAll($event)">
                        <figure>
                            <img src="../../../assets/images/modules/menu.png" class="home-icons" />
                            <figcaption>Menu</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #staffTooltipReference
                    [position]="'mouse'"
                    [content]="'Manage all staff'">

                    <a href="#" (click)="suiteRoutes.goStaffAll($event)">
                        <figure>
                            <img src="../../../assets/images/modules/staff.png" class="home-icons" />
                            <figcaption>Staff</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #tablesTooltipReference
                    [position]="'mouse'"
                    [content]="'Organize tables and manage other table activities'">

                    <a href="#" (click)="suiteRoutes.goTablesAll($event)">
                        <figure>
                            <img src="../../../assets/images/modules/tables.png" class="home-icons" />
                            <figcaption>Tables</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #ordersTooltipReference
                    [position]="'mouse'"
                    [content]="'Receive orders and automatically generate bills'">

                    <a href="#" (click)="suiteRoutes.goOrdersAll($event)">
                        <figure>
                            <img src="../../../assets/images/modules/orders.png" class="home-icons" />
                            <figcaption>Orders</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>

            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #deliveriesTooltipReference
                    [position]="'mouse'"
                    [content]="'Manage delivery operations'">

                    <a href="#" (click)="suiteRoutes.goDeliveriesAll($event)">
                        <figure>
                            <img src="../../../assets/images/modules/deliveries.png" class="home-icons" />
                            <figcaption>Deliveries</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>

            </div>

        </div>

        <!-- -----------------------------------------------------------------------------------------
        new row -->

        <div class="row">

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #adminTooltipReference
                    [position]="'mouse'"
                    [content]="'Manage users and access levels'">

                    <a href="#" (click)="suiteRoutes.goAdminDashboard($event)">
                        <figure>
                            <img src="../../../assets/images/modules/admin.png" class="home-icons" />
                            <figcaption>Admin</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #kitchenStockTooltipReference
                    [position]="'mouse'"
                    [content]="'Keep track of the quantity dishes and items'">

                    <a href="#">
                        <figure>
                            <img src="../../../assets/images/modules/kitchen_stock.png" class="home-icons" />
                            <figcaption>Kitchen Stock</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #paymentsTooltipReference
                    [position]="'mouse'"
                    [content]="'Receive payment of bills from customers'">

                    <a href="#" (click)="suiteRoutes.goPaymentsAll($event)">
                        <figure>
                            <img src="../../../assets/images/modules/payments.png" class="home-icons" />
                            <figcaption>Payments</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #reservationsTooltipReference
                    [position]="'mouse'"
                    [content]="'Receive and plan reservations'">

                    <a href="#" (click)="suiteRoutes.goReservationsAll($event)">
                        <figure>
                            <img src="../../../assets/images/modules/reservations.png" class="home-icons" />
                            <figcaption>Reservations</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #customersTooltipReference
                    [position]="'mouse'"
                    [content]="'Keep track of all your guests and customers'">

                    <a href="#" (click)="suiteRoutes.goCustomersAll($event)">
                        <figure>
                            <img src="../../../assets/images/modules/customers.png" class="home-icons" />
                            <figcaption>Customers</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #billsTooltipReference
                    [position]="'mouse'"
                    [content]="'Automatically generate bills for customers'">

                    <a href="#">
                        <figure>
                            <img src="../../../assets/images/modules/bills.png" class="home-icons" />
                            <figcaption>Bills</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

        </div>

		<!-- -----------------------------------------------------------------------------
        new row -->

        <div class="row">

            <div class="col-md-2 col-sm-6 text-center">
                <jqxTooltip #settingsTooltipReference
                    [position]="'mouse'"
                    [content]="'Set configuarations for your modules'">

                    <a href="#" (click)="suiteRoutes.goSettingsView($event)">
                        <figure>
                            <img src="../../../assets/images/modules/settings.png" class="home-icons" />
                            <figcaption>Settings</figcaption>
                        </figure>
                    </a>

                </jqxTooltip>
            </div>

		    </div>

    </div>

    <!-- --------------------------------------------------------------------------------------------- -->

    <div *ngIf="this.isActive == false; then createAccountBlock"></div>

    <ng-template #createAccountBlock>
        <div class="row text-center home-create-button-div">
            <div class="col-md-12">
                <button class="btn btn-lg btn-danger create-btn" (click)="createAccount()">create Restaurant account</button>
            </div>
        </div>
    </ng-template>

</div>
