<div class="row">
    <div class="col-md-12 text-center">
        <h5>Recent Contacts</h5>
    </div>
</div>

<div *ngFor="let rink of rinks">

    <hr />

    <div *ngIf="rink.sender.id==restaurantId; then senderBlock else recipientBlock"></div>

    <ng-template #senderBlock>
        <div class="row" (click)="goToDetail(rink.recipient.id)">
            <div class="col-md-6">
                <label class="text-muted"><em><small>Name :</small></em></label><br />
                {{rink.recipient.user.first_name}} {{rink.recipient.user.last_name}}
            </div>
            <div class="col-md-6">
                <label class="text-muted"><em><small>Location :</small></em></label><br />
                {{rink.recipient.location}}
            </div>
        </div>
    </ng-template>

    <ng-template #recipientBlock>
        <div class="row" (click)="goToDetail(rink.sender.id)">
            <div class="col-md-6">
                <label class="text-muted"><em><small>Name :</small></em></label><br />
                {{rink.sender.user.first_name}} {{rink.sender.user.last_name}}
            </div>
            <div class="col-md-6">
                <label class="text-muted"><em><small>Location :</small></em></label><br />
                {{rink.sender.location}}
            </div>
        </div>
    </ng-template>

</div>

