<div class="row page-form-div">

    <div class="col-md-12 mb-3">
        <h4>Term Details</h4>
    </div>

    <div class="col-md-6">

        <div class="row">
            <div class="col-md-4"><label>Term Name :</label></div>
            <div class="col-md-8">
                <jqxInput #termNameReference
                    [width]="'100%'"
                    [height]="28"
                ></jqxInput>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4"><label>Term Begins :</label></div>
            <div class="col-md-8">
                <jqxDateTimeInput #termBeginsReference
                    [width]="'100%'"
                    [height]="28"
                    [formatString]="'yyyy-MM-dd'"
                ></jqxDateTimeInput>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4"><label>Term Ends :</label></div>
            <div class="col-md-8">
                <jqxDateTimeInput #termEndsReference
                    [width]="'100%'"
                    [height]="28"
                    [formatString]="'yyyy-MM-dd'"
                ></jqxDateTimeInput>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4"><label>Academic Year :</label></div>
            <div class="col-md-8">
                <jqxComboBox #academicYearReference
                    [width]="'100%'"
                    [height]="28"
                ></jqxComboBox>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4"><label>Term status :</label></div>
            <div class="col-md-8">
                <jqxDropDownList #termStatusReference
                    [width]="'100%'"
                    [height]="28"
                    [source]="statusSource"
                    [autoDropDownHeight]="true"
                ></jqxDropDownList>
            </div>
        </div>

    </div>

</div>

<div class="row">
    <div class="col-md-6">
        <hr />
    </div>
</div>
