<app-topnav [headings]="navHeading"></app-topnav>

<div class="container">

    <div class="row page-form-div">

        <div class="col-md-6">
            <div class="row">
                <div class="col-md-4"><label>User Name :</label></div>
                <div class="col-md-8">
                    <jqxInput #userNameReference
                        [width]="'100%'"
                        [height]="28"
                    ></jqxInput>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4"><label>Access Level :</label></div>
                <div class="col-md-8">
                    <jqxDropDownList #accessLevelReference (onChange)="changeLevel($event)"
                        [width]="'100%'"
                        [height]="28"
                        [source]="levelSource"
                        [autoDropDownHeight]="true"
                    ></jqxDropDownList>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <span class="access-level-hint"><b>Admin</b> - has access to all modules by default</span><br />
            <span class="access-level-hint"><b>Manager</b> - has access to all but except Admin and Settings modules by default</span><br />
            <span class="access-level-hint"><b>Staff</b> - has no access to all modules by default</span><br />
        </div>

    </div>

    <hr />

    <div class="row">
        <div class="col-md-6">
            <app-access-form #accessFormComponentReference></app-access-form>
        </div>
    </div>

    <div class="row page-form-div">
        <div class="col-md-6">
            <jqxButton #saveReference class="float-right" routerLink="/suite/admin/all-users"
                [width]="100"
                [height]="28"
            >Cancel</jqxButton>

            <jqxButton #saveReference class="float-right"
                [width]="100"
                [height]="28"
            >Delete</jqxButton>

            <jqxButton #saveReference class="float-right" (click)="saveUser()"
                [width]="100"
                [height]="28"
            >Save</jqxButton>
        </div>
    </div>

</div>

<!-- http loader spinner and connection notification components -->

<app-connection-notification #connectionNotificationComponentReference></app-connection-notification>
