<div class="row page-form-div">

    <div class="col-md-12 mb-3">
        <h4>Ward Details</h4>
    </div>

    <div class="col-md-6">

        <div class="row">
            <div class="col-md-4"><label>Ward Number :</label></div>
            <div class="col-md-8">
                <jqxInput #wardNumberReference
                    [width]="'100%'"
                    [height]="28"
                ></jqxInput>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4"><label>Ward Name :</label></div>
            <div class="col-md-8">
                <jqxInput #wardNameReference
                    [width]="'100%'"
                    [height]="28"
                ></jqxInput>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4"><label>Capacity :</label></div>
            <div class="col-md-4">
                <jqxNumberInput #capacityReference
                    [width]="'100%'"
                    [height]="28"
                    [decimalDigits]="0"
                    [inputMode]="'simple'"
                    [spinButtons]="true"
                ></jqxNumberInput>
            </div>
        </div>

    </div>

    <div class="col-md-6">

        <div class="row">
            <div class="col-md-4"><label>Ward Type :</label></div>
            <div class="col-md-8">
                <jqxComboBox #wardTypeReference
                    [width]="'100%'"
                    [height]="28"
                ></jqxComboBox>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4"><label>Location :</label></div>
            <div class="col-md-8">
                <jqxTextArea #locationReference
                    [width]="'100%'"
                    [height]="45"
                ></jqxTextArea>
            </div>
        </div>

    </div>

</div>

<div class="row">
    <div class="col-md-12">
        <hr />
    </div>
</div>
