<div class="row">
    <div class="col-md-7">

        <hr class="top-divider" />
        <hr class="bottom-divider" />

        <div class="row">
            <div class="col mb-3">
                <h4>Class' Subjects</h4>
            </div>
        </div>

        <div class="row top-button-row">
            <div class="col-md-12">
                <jqxButton #buttonReference (click)="selectSubjectComponentReference.openWindow()"
                    [width]="150"
                    [height]="30"
                >Add Subject</jqxButton>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <jqxGrid #gridReference
                    [width]="'100%'"
                    [autoheight]="true"
                    [rowsheight]="24"
                    [showemptyrow]="false"
                    [source]="dataAdapter"
                    [sortable]="true"
                    [columns]="columns"
                ></jqxGrid>
            </div>
        </div>

    </div>
</div>

<app-select-subject #selectSubjectComponentReference
    (classEvent)="subjectSelected($event)"
></app-select-subject>

<!-- http loader spinner and connection notification components -->

<app-loading-spinner #loadingSpinnerComponentReference></app-loading-spinner>

<app-connection-notification #connectionNotificationComponentReference></app-connection-notification>
