<jqxWindow #selectPrescriptionWindowReference
    [width]="555"
    [height]="600"
    [autoOpen]="false">

    <div>Select Prescription</div>

    <div>
        <jqxGrid #selectPrescriptionGridReference (onRowdoubleclick)="selectPrescription($event)"
            [width]="540"
            [height]="555"
            [source]="dataAdapter"
            [sortable]="true"
            [filterable]="true"
            [showfilterrow]="true"
            [columns]="columns"
        ></jqxGrid>
    </div>

</jqxWindow>
