<div class="row">
    <div class="col-md-12">
        <h4>Menu Details</h4>
    </div>
</div>

<div class="row">
    <div class="col-md-6">

        <div class="card shadow">
            <div class="card-body">

                <div class="row mb-2">
                    <div class="col-md-4">Item ID :</div>
                    <div class="col-md-8">{{menuDetail.item_code}}</div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-4">Item Name :</div>
                    <div class="col-md-8">{{menuDetail.item_name}}</div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-4">Category :</div>
                    <div class="col-md-8">{{menuDetail.category}}</div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-4">Price :</div>
                    <div class="col-md-8">{{menuDetail.price}}</div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-4">Description :</div>
                    <div class="col-md-8">{{menuDetail.description}}</div>
                </div>

            </div>
        </div>

    </div>
</div>

<!-- http loader spinner and connection notification components -->

<app-loading-spinner #loadingSpinnerComponentReference></app-loading-spinner>
