<div>
    <div class="edit-dialog-label-alt">Payable ID</div>
    <div class="edit-dialog-field-alt">
        <jqxInput #payableCodeReference
            [width]="'100%'"
            [height]="25"
        ></jqxInput>
    </div>
</div>

<div>
    <div class="edit-dialog-label-alt">Date</div>
    <div class="edit-dialog-field-alt">
        <jqxDateTimeInput #payableDateReference
            [width]="'100%'"
            [height]="25"
            [formatString]="'yyyy-MM-dd'"
        ></jqxDateTimeInput>
    </div>
</div>

<div>
    <div class="edit-dialog-label-alt">Due Date</div>
    <div class="edit-dialog-field-alt">
        <jqxDateTimeInput #dueDateReference
            [width]="'100%'"
            [height]="25"
            [formatString]="'yyyy-MM-dd'"
        ></jqxDateTimeInput>
    </div>
</div>

<div>
    <div class="edit-dialog-label-alt">Invoice Number</div>
    <div class="edit-dialog-field-alt">
        <jqxInput #invoiceNumberReference
            [width]="'100%'"
            [height]="25"
        ></jqxInput>
    </div>
</div>

<div>
    <div class="edit-dialog-label-alt">Customer Name</div>
    <div class="edit-dialog-field-alt">
        <jqxInput #customerNameReference
            [width]="'100%'"
            [height]="25"
        ></jqxInput>
    </div>
</div>

<div>
    <div class="edit-dialog-label-alt">Amount</div>
    <div class="edit-dialog-field-alt">
        <jqxNumberInput #amountReference
            [width]="'100%'"
            [height]="25"
            [inputMode]="'simple'"
            [symbol]="'$'"
        ></jqxNumberInput>
    </div>
</div>

<div>
    <div class="edit-dialog-label-alt">Date Paid</div>
    <div class="edit-dialog-field-alt">
        <jqxDateTimeInput #datePaidReference
            [width]="'100%'"
            [height]="25"
            [formatString]="'yyyy-MM-dd'"
        ></jqxDateTimeInput>
    </div>
</div>
