<app-topnav [headings]="navHeading"></app-topnav>

<div class="container">

    <div class="row">
        <div class="col-md-10">
            <jqxGrid #gridReference
                [width]="'100%'"
                [height]="480"
                [sortable]="true"
                [filterable]="true"
                [showfilterrow]="true"
                [columns]="columns"
            ></jqxGrid>
        </div>

        <div class="col-md-2">
            <jqxButton #buttonReference class="float-right" routerLink="/suite/fees/all-fees"
                [width]="150"
                [height]="30"
            >Generate Fees</jqxButton>
        </div>
    </div>

</div>
