<div class="row page-form-div">

  <div class="col-md-12 mb-3">
      <h4>Year Details</h4>
  </div>

  <div class="col-md-6">

      <div class="row">
          <div class="col-md-4"><label>Year :</label></div>
          <div class="col-md-8">
              <jqxInput #yearReference
                  [width]="'100%'"
                  [height]="28"
              ></jqxInput>
          </div>
      </div>

      <div class="row">
          <div class="col-md-4"><label>Year Begins :</label></div>
          <div class="col-md-8">
              <jqxDateTimeInput #yearBeginsReference
                  [width]="'100%'"
                  [height]="28"
                  [formatString]="'yyyy-MM-dd'"
              ></jqxDateTimeInput>
          </div>
      </div>

      <div class="row">
          <div class="col-md-4"><label>Year Ends :</label></div>
          <div class="col-md-8">
              <jqxDateTimeInput #yearEndsReference
                  [width]="'100%'"
                  [height]="28"
                  [formatString]="'yyyy-MM-dd'"
              ></jqxDateTimeInput>
          </div>
      </div>

      <div class="row">
          <div class="col-md-4"><label>Year status :</label></div>
          <div class="col-md-8">
              <jqxDropDownList #yearStatusReference
                  [width]="'100%'"
                  [height]="28"
                  [source]="statusSource"
                  [autoDropDownHeight]="true"
              ></jqxDropDownList>
          </div>
      </div>

  </div>

</div>

<div class="row">
  <div class="col-md-6">
      <hr />
  </div>
</div>
