<div class="row">
    <div class="col-md-8">

        <div class="row">
            <div class="col-md-12">
                <h4>Bill Details</h4>
            </div>
        </div>

        <div class="row top-button-row">
            <div class="col-md-12">
                <jqxButton #buttonReference
                    [width]="150"
                    [height]="30"
                >Add Room Charges</jqxButton>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <jqxGrid #roomGridReference
                    [width]="'100%'"
                    [autoheight]="true"
                    [rowsheight]="24"
                    [showemptyrow]="false"
                    [showstatusbar]="true"
                    [showaggregates]="true"
                    [columns]="roomColumns"
                    [columngroups]="roomColumnGroups"
                ></jqxGrid>
            </div>
        </div>

        <hr />

        <div class="row top-button-row">
            <div class="col-md-12">
                <jqxButton #buttonReference
                    [width]="150"
                    [height]="30"
                >Add Service Charges</jqxButton>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <jqxGrid #servicesGridReference
                    [width]="'100%'"
                    [autoheight]="true"
                    [rowsheight]="24"
                    [showemptyrow]="false"
                    [showstatusbar]="true"
                    [showaggregates]="true"
                    [columns]="servicesColumns"
                    [columngroups]="servicesColumnGroups"
                ></jqxGrid>
            </div>
        </div>

    </div>
</div>
