<div class="row">
    <div class="col-md-8">

        <div class="row">
            <div class="col-md-12">
                <h4 class="form-heading">Bill Charges</h4>
            </div>
        </div>

        <div class="row top-button-row">
            <div class="col-md-12">
                <jqxButton #buttonReference
                    [width]="160"
                    [height]="30"
                >Add Checkin Charge</jqxButton>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <jqxGrid #checkinGridReference
                    [width]="'100%'"
                    [autoheight]="true"
                    [rowsheight]="24"
                    [showemptyrow]="false"
                    [showstatusbar]="true"
                    [showaggregates]="true"
                    [columns]="checkinColumns"
                    [columngroups]="checkinColumnGroups"
                ></jqxGrid>
            </div>
        </div>

        <hr />

        <div class="row top-button-row">
            <div class="col-md-12">
                <jqxButton #buttonReference
                    [width]="160"
                    [height]="30"
                >Add Service Charge</jqxButton>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <jqxGrid #servicesGridReference
                    [width]="'100%'"
                    [autoheight]="true"
                    [rowsheight]="24"
                    [showemptyrow]="false"
                    [showstatusbar]="true"
                    [showaggregates]="true"
                    [columns]="servicesColumns"
                    [columngroups]="servicesColumnGroups"
                ></jqxGrid>
            </div>
        </div>

    </div>
</div>
