<div class="row">
    <div class="col-md-7">

        <div class="row mb-3">
            <div class="col-md-12">
                <h4>Fees Items</h4>
            </div>
        </div>

        <div class="row top-button-row">
            <div class="col-md-12">
                <jqxButton #buttonReference (click)="addItemComponentReference.openWindow()"
                    [width]="150"
                    [height]="30"
                >Add Item</jqxButton>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div>
                    <jqxGrid #gridReference (onRowdoubleclick)="editItemComponentReference.openWindow($event)"
                        [width]="'100%'"
                        [autoheight]="true"
                        [rowsheight]="24"
                        [showemptyrow]="false"
                        [showstatusbar]="true"
                        [showaggregates]="true"
                        [columns]="columns"
                    ></jqxGrid>
                </div>
            </div>
        </div>

    </div>
</div>

<app-add-item #addItemComponentReference
    (addCommit)="onItemAddCommit($event)"
></app-add-item>

<app-edit-item #editItemComponentReference
    (editCommit)="onItemEditCommit($event)"
    (deleteCommit)="onItemDeleteCommit($event)"
></app-edit-item>


<!-- http loader spinner and connection notification components -->

<app-loading-spinner #loadingSpinnerComponentReference></app-loading-spinner>

<app-connection-notification #connectionNotificationComponentReference></app-connection-notification>
