<div class="row">
    <div class="col-md-7">

        <hr class="top-divider" />
        <hr class="bottom-divider" />

        <h4 class="form-heading">Fees Items</h4>

        <!-- fees items -->

        <div class="row top-button-row">
            <div class="col-md-12">
                <jqxButton #addItemButtonReference class="mr-1" (click)="addItemComponentReference.openWindow()"
                    [width]="150"
                    [height]="30"
                >Add New Item</jqxButton>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div>
                    <jqxGrid #itemsGridReference (onRowdoubleclick)="editItemComponentReference.openWindow($event)"
                        [width]="'100%'"
                        [autoheight]="true"
                        [rowsheight]="24"
                        [showemptyrow]="false"
                        [showstatusbar]="true"
                        [showaggregates]="true"
                        [columns]="itemsColumns"
                        [source]="itemsDataAdapter"
                    ></jqxGrid>
                </div>
            </div>
        </div>

        <br /><br />

        <!-- fees arrears -->

        <div class="row top-button-row">
            <div class="col-md-12">
                <jqxButton #addArrearsButtonReference (click)="addArrearsComponentReference.openWindow()"
                    [width]="150"
                    [height]="30"
                >Add Arrears</jqxButton>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div>
                    <jqxGrid #arrearsGridReference
                        [width]="'100%'"
                        [autoheight]="true"
                        [rowsheight]="24"
                        [showemptyrow]="false"
                        [columns]="arrearsColumns"
                        [source]="arrearsDataAdapter"
                    ></jqxGrid>
                </div>
            </div>
        </div>

    </div>
</div>

<app-add-item #addItemComponentReference
    (addCommit)="onItemAddCommit($event)"
></app-add-item>

<app-edit-item #editItemComponentReference
    (editCommit)="onItemEditCommit($event)"
    (deleteCommit)="onItemDeleteCommit($event)"
></app-edit-item>

<app-add-arrears #addArrearsComponentReference
    (addCommit)="onArrearsAddCommit($event)"
></app-add-arrears>


<!-- http loader spinner and connection notification components -->

<app-loading-spinner #loadingSpinnerComponentReference></app-loading-spinner>

<app-connection-notification #connectionNotificationComponentReference></app-connection-notification>
