<div class="row">
    <div class="col-md-7">

        <div class="row">
            <div class="col-md-12">
                <h4 class="form-heading">Booked Rooms</h4>
            </div>
        </div>

        <div class="row top-button-row">
            <div class="col-md-10">
                <jqxButton #addDetailReference
                    [width]="150"
                    [height]="30"
                >Add Detail</jqxButton>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <jqxGrid #roomGridReference
                    [width]="'100%'"
                    [autoheight]="true"
                    [rowsheight]="24"
                    [showemptyrow]="false"
                    [columns]="columns"
                ></jqxGrid>
            </div>
        </div>

    </div>
</div>
