<div class="row">
    <div class="col-md-6">

        <hr class="top-divider" />
        <hr class="bottom-divider" />

        <div class="row">
            <div class="col-md-12">
                <h4 class="form-heading">Booked Rooms</h4>
            </div>
        </div>

        <div class="row top-button-row">
            <div class="col-md-10">
                <jqxButton #addDetailReference (click)="addBookedRoomWindowReference.openWindow()"
                    [width]="150"
                    [height]="30"
                >Add Detail</jqxButton>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <jqxGrid #gridReference (onRowdoubleclick)="editBookedRoomWindowReference.openWindow($event)"
                    [width]="'100%'"
                    [autoheight]="true"
                    [rowsheight]="24"
                    [showemptyrow]="false"
                    [columns]="columns"
                    [source]="dataAdapter"
                ></jqxGrid>
            </div>
        </div>

    </div>
</div>

<!-- add booked-room dialog window -->
<app-add-booked-room #addBookedRoomWindowReference
    (addCommit)="onAddCommit($event)"
></app-add-booked-room>

<!-- edit booked-room dialog window -->
<app-edit-booked-room #editBookedRoomWindowReference
    (editCommit)="onEditCommit($event)"
    (deleteCommit)="onDeleteCommit($event)"
></app-edit-booked-room>

<!-- http loader spinner and connection notification components -->

<app-loading-spinner #loadingSpinnerComponentReference></app-loading-spinner>

<app-connection-notification #connectionNotificationComponentReference></app-connection-notification>
