<div>
    <div class="edit-dialog-label-alt">Drug Name</div>
    <div class="edit-dialog-field-alt">
        <jqxInput #drugNameReference
            [width]="'90%'"
            [height]="25"
        ></jqxInput>
        <jqxButton (click)="selectDrug.openWindow()"
            [width]="'10%'"
            [height]="25"
        >...</jqxButton>
    </div>
</div>

<div>
    <div class="edit-dialog-label-alt">NDC No.</div>
    <div class="edit-dialog-field-alt">
        <jqxInput #ndcNumberReference
            [width]="'90%'"
            [height]="25"
        ></jqxInput>
        <jqxButton (click)="selectDrug.openWindow()"
            [width]="'10%'"
            [height]="25"
        >...</jqxButton>
    </div>
</div>

<div>
    <div class="edit-dialog-label-alt">Remarks</div>
    <div class="edit-dialog-field-alt">
        <jqxTextArea #remarksReference
            [width]="'100%'"
            [height]="45"
        ></jqxTextArea>
    </div>
</div>

<app-select-drug #selectDrugComponentReference
    (drugEvent)="drugSelected($event)"
></app-select-drug>
