<div class="row">
    <div class="col-md-6">

        <hr />

    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h4 class="form-heading">Appraisal Form</h4>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <jqxForm #appraisaFormReference
            [width]="'100%'"
            [height]="'auto'"
            [template]="template"
            [backgroundColor]="'#ffffff'"
        ></jqxForm>
    </div>

    <div class="col-md-6">
        <small>
            1 - Far below standard <br />
            2 - Below standard <br />
            3 - Meets standard <br />
            4 - Above standard <br />
            5 - Far above standard <br />
        </small>
    </div>
</div>

<div class="row page-form-div">
    <div class="col-md-6">

        <hr />

        <jqxButton #printReference
            [width]="100"
            [height]="28"
        ><i class="fa fa-fw fa-print"></i> Print</jqxButton>

        <jqxButton #cancelButtonReference class="float-right" routerLink="/suite/appraisal/appraisal-employees"
            [width]="100"
            [height]="28"
        >Cancel</jqxButton>

        <jqxButton #saveButtonReference class="float-right" (click)="saveForm()"
            [width]="100"
            [height]="28"
        >Save</jqxButton>

    </div>
</div>

<!-- http loader spinner and connection notification components -->

<app-loading-spinner #loadingSpinnerComponentReference></app-loading-spinner>

<app-connection-notification #connectionNotificationComponentReference></app-connection-notification>
