<div class="row">
    <div class="col-md-6">
        <hr class="top-divider" />
        <hr class="bottom-divider" />
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h4 class="form-heading">Appraisal Form</h4>
    </div>    
</div>    

<div class="row">
    <div class="col-md-6">
        <jqxForm
            [width]="'100%'"
            [height]="'auto'"
            [template]="template"
            [backgroundColor]="'#ffffff'"
        ></jqxForm>
    </div>

    <div class="col-md-6">
        <small>
            1 - Far below standard <br />
            2 - Below standard <br />
            3 - Meets standard <br />
            4 - Above standard <br />
            5 - Far above standard <br />
        </small>
    </div>
</div>
