<div>
    <div class="edit-dialog-label-alt">Delivery ID</div>
    <div class="edit-dialog-field-alt">
        <jqxInput #deliveryCodeReference
            [width]="'100%'"
            [height]="25"
        ></jqxInput>
    </div>
</div>

<div>
    <div class="edit-dialog-label-alt">Delivery Date</div>
    <div class="edit-dialog-field-alt">
        <jqxDateTimeInput #deliveryDateReference
            [width]="'100%'"
            [height]="25"
        ></jqxDateTimeInput>
    </div>
</div>

<div>
    <div class="edit-dialog-label-alt">Order ID</div>
    <div class="edit-dialog-field-alt">
        <jqxDropDownList #orderCodeReference
            [width]="'100%'"
            [height]="25"
        ></jqxDropDownList>
    </div>
</div>

<div>
    <div class="edit-dialog-label-alt">Customer Name</div>
    <div class="edit-dialog-field-alt">
        <jqxComboBox #customerNameReference
            [width]="'100%'"
            [height]="25"
        ></jqxComboBox>
    </div>
</div>

<div>
    <div class="edit-dialog-label-alt">Delivery Status</div>
    <div class="edit-dialog-field-alt">
        <jqxDropDownList #deliveryStatusReference
            [width]="'100%'"
            [height]="25"
        ></jqxDropDownList>
    </div>
</div>
