<jqxWindow #addSentReference 
    [width]="540" 
    [height]="300" 
    [autoOpen]="false">
    
    <div>Add Sent Letter</div>

    <div>

        <!-- sent letter form -->
        <app-sent-form></app-sent-form>
        
        <div>
            <div class="edit-dialog-field-alt edit-dialog-buttons-alt">
                <jqxButton #cancelButtonReference
                >Cancel</jqxButton>

                <jqxButton #saveButtonReference
                >Save</jqxButton>
            </div>
        </div>

    </div>

</jqxWindow>