<app-topnav [headings]="navHeading"></app-topnav>

<div class="container">

    <div class="row top-button-row">
        <div class="col-md-10">
            <jqxButton #addBookingReference (click)="addBookingWindowReference.openWindow()"
                [width]="150"
                [height]="30"
            >Add Booking</jqxButton>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10">
            <jqxGrid #gridReference (onRowdoubleclick)="viewBooking($event)"
                [width]="'100%'"
                [height]="450"
                [source]="dataAdapter"
                [sortable]="true"
                [filterable]="true"
                [showfilterrow]="true"
                [columns]="columns"
            ></jqxGrid>
        </div>
    </div>

</div>

<!-- add booking dialog window -->

<app-add-booking #addBookingWindowReference></app-add-booking>

<!-- http loader spinner and connection notification components -->

<app-loading-spinner #loadingSpinnerComponentReference></app-loading-spinner>

<app-connection-notification #connectionNotificationComponentReference></app-connection-notification>
