<div id="contactDiv" class="bg-dark-light scroll-div">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <h2 class="extras-heading">Contact</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">

                <h4 class="extras-heading">General enquiries</h4>
                <p>
                    If you have enquiries or suggestions regarding netRink or its products, please contact us at<br />
                    <a href="mailto:info@netrink.com">info@netrink.com</a>
                </p>

                <h4 class="extras-heading">Sales</h4>
                <p>
                    Forward your sales inquiries for all of netRink's products to<br />
                    <a href="mailto:sales@netrink.com">sales@netrink.com</a>
                </p>

                <h4 class="extras-heading">Product support</h4>
                <p>
                    For all Support issues concerning our products, please reach to us at<br />
                    <a href="mailto:support@netrink.com">support@netrink.com</a>
                </p>
            </div>

            <div class="col-md-6">
                <h4 class="text-center extras-heading">Leave a message</h4>

                <div class="card">
                    <div class="card-header">

                        <form>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <label>Name</label>
                                    <input type="text" class="form-control" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <label>Email</label>
                                    <input type="text" class="form-control" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <label>Message</label>
                                    <textarea class="form-control text-left" rows="3" formControlName="about" required></textarea>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-md-12">
                                    <button type="submit" class="float-right btn btn-success">Send</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>

            </div>

        </div>

    </div>
</div>
