<jqxWindow #viewFileReference
    [width]="540"
    [height]="270"
    [autoOpen]="false">

    <div>View File</div>

    <div>

        <!-- file form component   -->
        <app-file-form #fileFormComponentReference></app-file-form>

        <div>
            <div class="edit-dialog-field edit-dialog-buttons">
                <jqxButton #cancelButtonReference
                >Cancel</jqxButton>

                <jqxButton #deleteButtonReference
                >Delete</jqxButton>

                <jqxButton #saveButtonReference
                >Save</jqxButton>
            </div>
        </div>

    </div>

</jqxWindow>
