<jqxWindow #editDeliveryReference
    [width]="540"
    [height]="255"
    [autoOpen]="false">

    <div>Edit Delivery</div>

    <div>

        <!-- delivery window form -->
        <app-delivery-form #deliveryFormCOmponentReference></app-delivery-form>

        <div>
            <div class="edit-dialog-field-alt edit-dialog-buttons-alt">
                <jqxButton #cancelButtonReference
                >Cancel</jqxButton>

                <jqxButton #deleteButtonReference (click)="deleteDelivery()"
                >Delete</jqxButton>

                <jqxButton #saveButtonReference (click)="saveDelivery()"
                >Save</jqxButton>
            </div>
        </div>

    </div>

</jqxWindow>

