<div class="row page-form-div">

    <div class="col-md-6">

        <div class="row">
            <div class="col-md-12">
                <h4>Admission Charges</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <jqxGrid #appointmentsGridReference
                    [width]="'100%'"
                    [autoheight]="true"
                    [rowsheight]="24"
                    [showstatusbar]="true"
                    [showaggregates]="true"
                    [columns]="appointmentColumns"
                    [columngroups]="appointmentColumnGroups"
                ></jqxGrid>
            </div>
        </div>

        <br />

        <div class="row">
            <div class="col-md-12">
                <jqxGrid #laboratoryGridReference
                    [width]="'100%'"
                    [autoheight]="true"
                    [rowsheight]="24"
                    [showstatusbar]="true"
                    [showaggregates]="true"
                    [columns]="laboratoryColumns"
                    [columngroups]="laboratoryColumnGroups"
                ></jqxGrid>
            </div>
        </div>

        <br />

        <div class="row">
            <div class="col-md-12">
                <jqxGrid #dispensaryGridReference
                    [width]="'100%'"
                    [autoheight]="true"
                    [rowsheight]="24"
                    [showstatusbar]="true"
                    [showaggregates]="true"
                    [columns]="dispensaryColumns"
                    [columngroups]="dispensaryColumnGroups"
                ></jqxGrid>
            </div>
        </div>

        <br />

        <div class="row">
            <div class="col-md-12">
                <jqxGrid #wardGridReference
                    [width]="'100%'"
                    [autoheight]="true"
                    [rowsheight]="24"
                    [showstatusbar]="true"
                    [showaggregates]="true"
                    [columns]="wardColumns"
                    [columngroups]="wardColumnGroups"
                ></jqxGrid>
            </div>
        </div>

    </div>

    <!-- ---------------------------------------------------------------------------------------------------- -->

    <div class="col-md-6">

        <app-general-details></app-general-details>

    </div>

</div>
