<div class="row page-form-div">

    <div class="col-md-6">

        <div class="row">
            <div class="col-md-12">
                <h4 class="form-heading">Admission Charges</h4>
            </div>
        </div>

        <div class="row top-button-row">
            <div class="col-md-12">
                <jqxButton #buttonReference (click)="addExtraBillComponentReference.openWindow()"
                    [width]="170"
                    [height]="30"
                >Add Admission Charge</jqxButton>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <jqxGrid #appointmentsGridReference
                    [width]="'100%'"
                    [autoheight]="true"
                    [source]="appointmentsDataAdapter"
                    [rowsheight]="24"
                    [showstatusbar]="true"
                    [showaggregates]="true"
                    [columns]="appointmentColumns"
                    [columngroups]="appointmentColumnGroups"
                ></jqxGrid>
            </div>
        </div>

        <br />

        <div class="row">
            <div class="col-md-12">
                <jqxGrid #laboratoryGridReference
                    [width]="'100%'"
                    [autoheight]="true"
                    [source]="laboratoryDataAdapter"
                    [rowsheight]="24"
                    [showstatusbar]="true"
                    [showaggregates]="true"
                    [columns]="laboratoryColumns"
                    [columngroups]="laboratoryColumnGroups"
                ></jqxGrid>
            </div>
        </div>

        <br />

        <div class="row">
            <div class="col-md-12">
                <jqxGrid #dispensaryGridReference
                    [width]="'100%'"
                    [autoheight]="true"
                    [source]="dispensaryDataAdapter"
                    [rowsheight]="24"
                    [showstatusbar]="true"
                    [showaggregates]="true"
                    [columns]="dispensaryColumns"
                    [columngroups]="dispensaryColumnGroups"
                ></jqxGrid>
            </div>
        </div>

        <br />

        <div class="row">
            <div class="col-md-12">
                <jqxGrid #wardsGridReference
                    [width]="'100%'"
                    [autoheight]="true"
                    [source]="wardsDataAdapter"
                    [rowsheight]="24"
                    [showstatusbar]="true"
                    [showaggregates]="true"
                    [columns]="wardsColumns"
                    [columngroups]="wardsColumnGroups"
                ></jqxGrid>
            </div>
        </div>

    </div>

    <!-- ---------------------------------------------------------------------------------------------------- -->

    <div class="col-md-6">

        <app-general-details #generalDetailsComponentReference (changeEvent)="calculateTotal($event)"></app-general-details>

    </div>

</div>

<!-- add and edit extra bill dialogue windows -->

<app-add-extra #addExtraBillComponentReference
    (addCommit)="onAddCommit($event)"
></app-add-extra>

<!-- http loader spinner and connection notification components -->

<app-loading-spinner #loadingSpinnerComponentReference></app-loading-spinner>

<app-connection-notification #connectionNotificationComponentReference></app-connection-notification>
