<div class="row page-form-div">

    <div class="col-md-7">

        <div class="row">
            <div class="col-md-12">
                <h4>Bill Details</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5"><label>Treatment Charges :</label></div>
            <div class="col-md-5">
                <jqxNumberInput #treatmentInputReference
                    [width]="'100%'"
                    [height]="28"
                    [inputMode]="'simple'"
                    [symbol]="'$'"
                ></jqxNumberInput>
            </div>
            <div class="col-md-2">
                <jqxButton #treatmentButtonReference (click)="treatmentWindowReference.openWindow()"
                    [width]="'100%'"
                    [height]="28"
                >Edit</jqxButton>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5"><label>Doctor's Charges :</label></div>
            <div class="col-md-5">
                <jqxNumberInput #doctorsInputReference
                    [width]="'100%'"
                    [height]="28"
                    [inputMode]="'simple'"
                    [symbol]="'$'"
                ></jqxNumberInput>
            </div>
            <div class="col-md-2">
                <jqxButton #doctorsButtonReference (click)="doctorsWindowReference.openWindow()"
                    [width]="'100%'"
                    [height]="28"
                >Edit</jqxButton>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5"><label>Medicine Charges :</label></div>
            <div class="col-md-5">
                <jqxNumberInput #medicineInputReference
                    [width]="'100%'"
                    [height]="28"
                    [inputMode]="'simple'"
                    [symbol]="'$'"
                ></jqxNumberInput>
            </div>
            <div class="col-md-2">
                <jqxButton #medicineButtonReference (click)="medicineWindowReference.openWindow()"
                    [width]="'100%'"
                    [height]="28"
                >Edit</jqxButton>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5"><label>Laboratory Charges :</label></div>
            <div class="col-md-5">
                <jqxNumberInput #laboratoryInputReference 
                    [width]="'100%'"
                    [height]="28"
                    [inputMode]="'simple'"
                    [symbol]="'$'"
                ></jqxNumberInput>
            </div>
            <div class="col-md-2">
                <jqxButton #laboratoryButtonReference (click)="medicineWindowReference.openWindow()"
                    [width]="'100%'"
                    [height]="28"
                >Edit</jqxButton>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5"><label>Ward Charges :</label></div>
            <div class="col-md-5">
                <jqxNumberInput #wardInputReference 
                    [width]="'100%'"
                    [height]="28"
                    [inputMode]="'simple'"
                    [symbol]="'$'"
                ></jqxNumberInput>
            </div>
            <div class="col-md-2">
                <jqxButton #wardButtonReference (click)="wardWindowReference.openWindow()"
                    [width]="'100%'"
                    [height]="28"
                >Edit</jqxButton>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5"><label>Services Charges :</label></div>
            <div class="col-md-5">
                <jqxNumberInput #servicesInputReference 
                    [width]="'100%'"
                    [height]="28"
                    [inputMode]="'simple'"
                    [symbol]="'$'"
                ></jqxNumberInput>
            </div>
            <div class="col-md-2">
                <jqxButton #servicesButtonReference (click)="servicesWindowReference.openWindow()"
                    [width]="'100%'"
                    [height]="28"
                >Edit</jqxButton>
            </div>
        </div>

        <br />

        <div class="row">
            <div class="col-md-5"><label>Total Charges :</label></div>
            <div class="col-md-5">
                <jqxNumberInput #totalInputReference
                    [width]="'100%'"
                    [height]="28"
                    [inputMode]="'simple'"
                    [symbol]="'$'"
                ></jqxNumberInput>
            </div>
        </div>

    </div>

</div>

<!-- edit bill popup windows
for all edit bill types -->

<app-treatment #treatmentWindowReference></app-treatment>
<app-doctors #doctorsWindowReference></app-doctors>
<app-medicine #medicineWindowReference></app-medicine>
<app-laboratory #laboratoryWindowReference></app-laboratory>
<app-ward #wardWindowReference></app-ward>
<app-services #servicesWindowReference></app-services>