<jqxWindow #addAccountReference (onOpen)="accountNameInput.focus()"
    [width]="540"
    [height]="190"
    [autoOpen]="false"
    [okButton]="okButton"
    [cancelButton]="cancelButton">

    <div>Add New Account</div>

    <div>

        <div>
            <div class="edit-dialog-label-alt">Account Name</div>
            <div class="edit-dialog-field-alt">
                <jqxInput #accountNameReference
                    [width]="'100%'"
                    [height]="25"
                ></jqxInput>
            </div>
        </div>

        <div>
            <div class="edit-dialog-label-alt">Account Number</div>
            <div class="edit-dialog-field-alt">
                <jqxInput #accountNumberReference
                    [width]="'100%'"
                    [height]="25"
                ></jqxInput>
            </div>
        </div>

        <div>
            <div class="edit-dialog-label-alt">Bank Name</div>
            <div class="edit-dialog-field-alt">
                <jqxInput #bankNameReference
                    [width]="'100%'"
                    [height]="25"
                ></jqxInput>
            </div>
        </div>

        <div>
            <div class="edit-dialog-field-alt edit-dialog-buttons-alt">
                <jqxButton #cancelButtonReference (click)="closeWindow()"
                >Cancel</jqxButton>

                <jqxButton #okButtonReference (click)="saveAccount()"
                >Save</jqxButton>
            </div>
        </div>

    </div>

</jqxWindow>

<!-- http loader spinner and connection notification components -->

<app-loading-spinner #loadingSpinnerComponentReference></app-loading-spinner>

<app-connection-notification #connectionNotificationComponentReference></app-connection-notification>
