<hr />

<div class="row">

    <div class="col-md-12">
        <h4>Term Summary</h4>
    </div>

    <div class="col-md-12">

        <div class="activities-btns">
            <jqxButton #classesButtonReference
                [height]="52"
                [width]="52"
            ></jqxButton>
            <br />
            <label>Classes</label>
        </div>

        <div class="activities-btns">
            <jqxButton #subjectsButtonReference
                [height]="52"
                [width]="52"
            ></jqxButton>
            <br />
            <label>Subjects</label>
        </div>

        <div class="activities-btns">
            <jqxButton #teachersButtonReference
                [height]="52"
                [width]="52"
            ></jqxButton>
            <br />
            <label>Teachers</label>
        </div>

    </div>
</div>