<app-topnav [headings]="navHeading"></app-topnav>

<div class="container">

    <div class="row top-button-row">
        <div class="col-md-12">
            <jqxButton #buttonReference (click)="addServicesWindowReference.openWindow()"
                [width]="150"
                [height]="30"
            >Add Services</jqxButton>

            <jqxButton #printReference class="float-right"
                [width]="100"
                [height]="28"
            ><i class="fa fa-fw fa-print"></i> Print</jqxButton>
        </div>
    </div>

    <div class="row">
        <div class="col-md-9">
            <jqxGrid #gridReference (onRowdoubleclick)="viewService($event)"
                [width]="'100%'"
                [height]="450"
                [sortable]="true"
                [filterable]="true"
                [showfilterrow]="true"
                [columns]="columns"
            ></jqxGrid>
        </div>
    </div>

</div>

<!-- add services popup dialog window -->

<app-add-services #addServicesWindowReference></app-add-services>

<!-- http loader spinner and connection notification components -->

<app-loading-spinner #loadingSpinnerComponentReference></app-loading-spinner>

<app-connection-notification #connectionNotificationComponentReference></app-connection-notification>
