<div class="row">
    <div class="col-md-12">
        <h4>User Access Levels</h4>
    </div>
</div>

<div class="row">
    <div class="col-md-12">

        <table class="table bg-light">
            <thead>
                <tr>
                    <th>Module</th>
                    <th>Access</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Admin</td>
                    <td><jqxCheckBox #adminCheckBoxReference></jqxCheckBox></td>
                </tr>
                <tr>
                    <td>Contractors</td>
                    <td><jqxCheckBox #contractorsCheckBoxReference></jqxCheckBox></td>
                </tr>
                <tr>
                    <td>Equipment</td>
                    <td><jqxCheckBox #equipmentCheckBoxReference></jqxCheckBox></td>
                </tr>
                <tr>
                    <td>Manufacturing</td>
                    <td><jqxCheckBox #manufacturingCheckBoxReference></jqxCheckBox></td>
                </tr>
                <tr>
                    <td>Orders</td>
                    <td><jqxCheckBox #ordersCheckBoxReference></jqxCheckBox></td>
                </tr>
                <tr>
                    <td>Portal</td>
                    <td><jqxCheckBox #portalCheckBoxReference></jqxCheckBox></td>
                </tr>
                <tr>
                    <td>Products</td>
                    <td><jqxCheckBox #productsCheckBoxReference></jqxCheckBox></td>
                </tr>
                <tr>
                    <td>Projects</td>
                    <td><jqxCheckBox #projectsCheckBoxReference></jqxCheckBox></td>
                </tr>
                <tr>
                    <td>Purchasing</td>
                    <td><jqxCheckBox #purchasingCheckBoxReference></jqxCheckBox></td>
                </tr>
                <tr>
                    <td>Schedule</td>
                    <td><jqxCheckBox #scheduleCheckBoxReference></jqxCheckBox></td>
                </tr>
                <tr>
                    <td>Settings</td>
                    <td><jqxCheckBox #settingsCheckBoxReference></jqxCheckBox></td>
                </tr>
                <tr>
                    <td>Stock</td>
                    <td><jqxCheckBox #stockCheckBoxReference></jqxCheckBox></td>
                </tr>
                <tr>
                    <td>Tasks</td>
                    <td><jqxCheckBox #tasksCheckBoxReference></jqxCheckBox></td>
                </tr>
                <tr>
                    <td>Workers</td>
                    <td><jqxCheckBox #workersCheckBoxReference></jqxCheckBox></td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
