<div class="container">

    <div class="module-heading row">
        <div class="col-md-12">

            <a href="#" (click)="this.suiteRoutes.goHome($event)"><h3>Home</h3></a>
            <span class="fa fa-angle-double-right"></span>
            <a href="#" (click)="this.suiteRoutes.goAccountsAll($event)"><h3>Accounts</h3></a>
            <span class="fa fa-angle-double-right"></span>
            <h3>All Transactions</h3>

            <hr class="header-line" />
            <hr class="header-line" />

        </div>
    </div>

    <div class="row">
        <div class="col-md-9">
            <jqxGrid #gridReference
                [width]="'100%'"
                [source]="dataAdapter"
                [autoheight]="true"
                [sortable]="true"
                [filterable]="true"
                [showfilterrow]="true"
                [selectionmode]="'singlerow'"
                [showstatusbar]="true"
                [showaggregates]="true"
                [columns]="columns"
            ></jqxGrid>
        </div>
    </div>

</div>

<!-- http loader spinner and connection notification components -->

<app-connection-notification #connectionNotificationComponentReference></app-connection-notification>