<app-topnav [headings]="navHeading"></app-topnav>

<div class="container">

    <!-- nurse page form -->

    <app-nurse-form #nurseFormComponentReference></app-nurse-form>

    <div class="row page-form-div">
        <div class="col-md-12">

            <div class="row">
                <div class="col-md-12">

                    <jqxButton #saveBudgetReference
                        [width]="100"
                        [height]="28"
                    ><i class="fa fa-fw fa-print"></i> Print</jqxButton>

                    <jqxButton #cancelButtonReference class="float-right" routerLink="/suite/nurses/all-nurses"
                        [width]="100"
                        [height]="28"
                    >Cancel</jqxButton>

                    <jqxButton #deleteButtonReference class="float-right" (click)="deleteNurse()"
                        [width]="100"
                        [height]="28"
                    >Delete</jqxButton>

                    <jqxButton #saveButtonReference class="float-right" (click)="saveNurse()"
                        [width]="100"
                        [height]="28"
                    >Save</jqxButton>

                    <!-- delete confirmation window sub component -->

                    <app-delete-confirm #deleteConfirmComponentReference (confirmEvent)="deleteConfirmationSelected($event)"></app-delete-confirm>

                </div>
            </div>

        </div>
    </div>

</div>

<!-- http loader spinner and connection notification components -->

<app-loading-spinner #loadingSpinnerComponentReference></app-loading-spinner>

<app-connection-notification #connectionNotificationComponentReference></app-connection-notification>
