<div class="row">
    <div class="col-md-12">
        <h4>Task Details</h4>
    </div>
</div>

<div class="row">
    <div class="col-md-6">

        <div class="row">
            <div class="col-md-4">Task Name :</div>
            <div class="col-md-8">{{taskDetail.task_name}}</div>
        </div>
        <div class="row">
            <div class="col-md-4">Priority :</div>
            <div class="col-md-8">{{taskDetail.priority}}</div>
        </div>
        <div class="row">
            <div class="col-md-4">Progress :</div>
            <div class="col-md-8">{{taskDetail.progress}}</div>
        </div>
        <div class="row">
            <div class="col-md-4">Description :</div>
            <div class="col-md-8">{{taskDetail.description}}</div>
        </div>

    </div>
</div>
