<div class="row form-group text-center">
    <div class="col-md-12">
        <p>A link to verify your account has been sent to your mail</p>
        <p>Be sure to check your spam folders if you don't see it</p>
    </div>
</div>

<div class="row text-center">
    <div class="col-md-12">
        <button (click)="gotoSuccess()" type="button" class="btn btn-success mb-2 mt-4" [disabled]="verStatus">Activate account</button>
        <br />
        <small class="text-success">{{ this.verMsg }}</small>
    </div>
</div>
