<div class="row top-button-row">
    <div class="col-md-12">
        <jqxButton #refreshButtonReference class="float-right"
            [width]="150"
            [height]="30"
        >Refresh Personnel</jqxButton>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <!-- <jqxGrid #personnelGridReference (onRowdoubleclick)="editPersonnel.openWindow($event)" -->
        <jqxGrid #personnelGridReference
            [width]="'100%'"
            [height]="350"
            [source]="dataAdapter"
            [columns]="columns"
        ></jqxGrid>
    </div>
</div>
