<div class="container">
            
    <div class="module-heading row">
        <div class="col-md-12">
                
            <a href="#"><h3>Home</h3></a>
            <span class="fa fa-angle-double-right"></span>
            <a href="#"><h3>Accounts</h3></a>
            <span class="fa fa-angle-double-right"></span>
            <h3>All Transactions</h3>
            
            <hr class="header-line" />
            <hr class="header-line" />
        
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <jqxGrid #gridReference
                [width]="'100%'"
                [autoheight]="true"
                [sortable]="true"
                [filterable]="true"
                [showfilterrow]="true"
                [selectionmode]="'singlerow'"
                [showstatusbar]="true"
                [showaggregates]="true"
                [columns]="columns"
            ></jqxGrid>
        </div>
    </div>

</div>