<jqxWindow #editTaskReference
    [width]="540"
    [height]="270"
    [autoOpen]="false">

    <div>Edit Task</div>

    <div>

        <!-- task form elements -->

        <app-task-form #taskFormComponentReference></app-task-form>

        <div>
            <div class="edit-dialog-field edit-dialog-buttons">
                <jqxButton #cancelButtonReference (click)="closeWindow()"
                >Cancel</jqxButton>

                <jqxButton #deleteButtonReference (click)="deleteTask()"
                >Delete</jqxButton>

                <jqxButton #saveButtonReference (click)="editTask()"
                >Save</jqxButton>
            </div>
        </div>

    </div>

</jqxWindow>
