<jqxWindow #editTaskReference
    [width]="540"
    [height]="260"
    [autoOpen]="false">

    <div>Edit Task</div>

    <div>

        <!-- task form elements -->

        <app-task-form></app-task-form>

        <div>
            <div class="edit-dialog-field edit-dialog-buttons">
                <jqxButton #cancelButtonReference
                >Cancel</jqxButton>

                <jqxButton #deleteButtonReference
                >Delete</jqxButton>

                <jqxButton #saveButtonReference
                >Save</jqxButton>
            </div>
        </div>

    </div>

</jqxWindow>
