<jqxWindow #addTaskReference (onOpen)="taskForm.taskName.focus()"
    [width]="540"
    [height]="260"
    [autoOpen]="false">

    <div>Add Task</div>

    <div>

        <!-- task form elements -->

        <app-task-form #taskFormComponentReference></app-task-form>

        <div>
            <div class="edit-dialog-field edit-dialog-buttons">
                <jqxButton #cancelButtonReference
                >Cancel</jqxButton>

                <jqxButton #okButtonReference (click)="addTask()"
                >Save</jqxButton>
            </div>
        </div>

    </div>

</jqxWindow>
