<div class="row top-button-row">
    <div class="col-md-12">
        <jqxButton #buttonReference (click)="refreshSheet()"
            [width]="150"
            [height]="30"
        >Refresh Roster</jqxButton>

        <jqxButton #buttonReference class="float-right" routerLink="/suite/roster/manage-batches"
            [width]="150"
            [height]="30"
        >Manage Batches</jqxButton>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <jqxGrid #gridReference
            [width]="'100%'"
            [autoheight]="true"
            [rowsheight]="25"
            [source]="dataAdapter"
            [columns]="sheetColumns"
            [editable]="true"
            [selectionmode]="'singlecell'"
        ></jqxGrid>
    </div>
</div>

<!-- http loader spinner and connection notification components -->

<app-connection-notification #connectionNotificationComponentReference></app-connection-notification>
