<app-topnav [headings]="navHeading"></app-topnav>

<div class="container">

    <div class="row">

        <div class="col-md-9">
            <jqxScheduler #schedulerReference
                (onEditDialogCreate)="editDialogCreate($event)"
                (onAppointmentAdd)="appointmentAdd($event)"
                [width]="'100%'"
                [height]="500"
                [source]="dataAdapter"
                [showLegend]="true"
                [appointmentDataFields]="appointmentDataFields"
                [resources]="resources"
                [views]="views"
                [view]="'weekView'"
            ></jqxScheduler>
        </div>

        <div class="col-md-3">
            <jqxButton #buttonReference (click)="this.suiteRoutes.goCalendarAll($event)"
                [width]="150"
                [height]="32"
            >All Apointments</jqxButton>
        </div>

    </div>

</div>
