<div class="row">
    <div class="col-md-12">

        <hr />

        <div class="row top-button-row">
            <div class="col-md-12">
                <small class="text-info">Click cell to edit field values inline</small>
            </div>
        </div>

        <div class="row top-button-row">
            <div class="col-md-12">
                <jqxButton
                    [width]="150"
                    [height]="30"
                >Add Inflow</jqxButton>
            </div>
        </div>

        <jqxGrid #inflowGridReference
            [width]="'100%'"
            [autoheight]="true"
            [rowsheight]="24"
            [showemptyrow]="false"
            [showstatusbar]="true"
            [showaggregates]="true"
            [columns]="inflowColumns"
        ></jqxGrid>

        <br />

        <div class="row top-button-row">
            <div class="col-md-12">
                <jqxButton
                    [width]="150"
                    [height]="30"
                >Add Outflow</jqxButton>
            </div>
        </div>

        <jqxGrid #outflowGridReference
            [width]="'100%'"
            [autoheight]="true"
            [rowsheight]="24"
            [showemptyrow]="false"
            [showstatusbar]="true"
            [showaggregates]="true"
            [columns]="outflowColumns"
        ></jqxGrid>

        <br />

        <jqxGrid #netflowGridReference
            [width]="'100%'"
            [autoheight]="true"
            [rowsheight]="24"
            [showemptyrow]="false"
            [showstatusbar]="true"
            [showaggregates]="true"
            [columns]="netflowColumns"
        ></jqxGrid>

    </div>
</div>
