<div class="row">
  <div class="col-md-12">
      <h4>Appointment Details</h4>
  </div>
</div>

<div class="row">
    <div class="col-md-6">

        <div class="row">
            <div class="col-md-4">Subject :</div>
            <div class="col-md-8">{{appointmentDetail.subject}}</div>
        </div>
        <div class="row">
            <div class="col-md-4">Start Date :</div>
            <div class="col-md-8">{{appointmentDetail.start}}</div>
        </div>
        <div class="row">
            <div class="col-md-4">End Date :</div>
            <div class="col-md-8">{{appointmentDetail.end}}</div>
        </div>
        <div class="row">
            <div class="col-md-4">Location :</div>
            <div class="col-md-8">{{appointmentDetail.location}}</div>
        </div>
        <div class="row">
            <div class="col-md-4">Description :</div>
            <div class="col-md-8">{{appointmentDetail.description}}</div>
        </div>
        <div class="row">
            <div class="col-md-4">Status :</div>
            <div class="col-md-8">{{appointmentDetail.status}}</div>
        </div>
        <div class="row">
            <div class="col-md-4">Description :</div>
            <div class="col-md-8">{{appointmentDetail.description}}</div>
        </div>

    </div>
</div>

<!-- http loader spinner and connection notification components -->

<app-loading-spinner #loadingSpinnerComponentReference></app-loading-spinner>
