<jqxWindow #newSheetReference
    [width]="540"
    [height]="180"
    [autoOpen]="false">

    <div>Add New Cash Flow Sheet</div>

    <div>

        <div>
            <div class="edit-dialog-label">Sheet ID</div>
            <div class="edit-dialog-field">
                <jqxInput #sheetCodeReference
                    [width]="'100%'"
                    [height]="25"
                ></jqxInput>
            </div>
        </div>

        <div>
            <div class="edit-dialog-label">Sheet Name</div>
            <div class="edit-dialog-field">
                <jqxInput #sheetNameReference
                    [width]="'100%'"
                    [height]="25"
                ></jqxInput>
            </div>
        </div>

        <div>
            <div class="edit-dialog-label">Sheet Type</div>
            <div class="edit-dialog-field">
                <jqxDropDownList #sheetTypeReference
                    [source]="typeSource"
                    [width]="'100%'"
                    [height]="25"
                    [autoDropDownHeight]="true"
                ></jqxDropDownList>
            </div>
        </div>

        <div>
            <div class="edit-dialog-field edit-dialog-buttons">
                <jqxButton #cancelButtonReference
                >Cancel</jqxButton>

                <jqxButton #saveButtonReference (click)="saveSheet()"
                >Save</jqxButton>
            </div>
        </div>

    </div>

</jqxWindow>

<!-- http loader spinner and connection notification components -->

<app-loading-spinner #loadingSpinnerComponentReference></app-loading-spinner>

<app-connection-notification #connectionNotificationComponentReference></app-connection-notification>
